apidoc/schema/clusters.xsd

<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/clusters"
 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd
                     http://marklogic.com/xdmp/admin admin.xsd
                     http://marklogic.com/xdmp/group group.xsd
                     http://www.w3.org/1999/xhtml xhtml-inlstyle-1.xsd"
 xmlns="http://marklogic.com/xdmp/clusters"
 xmlns:admin="http://marklogic.com/xdmp/admin"
 xmlns:gr="http://marklogic.com/xdmp/group"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <?xdmp-annotations?>

  <xs:annotation>
    <xs:documentation>
      Clusters configuration file schema.
    </xs:documentation>
    <xs:appinfo>
    </xs:appinfo>
  </xs:annotation>
  
  <xs:complexType name="clusters">
    <xs:annotation>
      <xs:documentation>
        The server specification.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="security-version"/>
      <xs:element ref="cluster-id"/>
      <xs:element ref="cluster-name"/>
      <xs:element ref="ssl-fips-enabled"/>
      <xs:element ref="xdqp-ssl-certificate"/>
      <xs:element ref="xdqp-ssl-private-key"/>
      <xs:element ref="bootstrap-hosts"/>
      <xs:element ref="foreign-clusters"/>      
    </xs:sequence>
    <xs:attribute name="timestamp" type="xs:unsignedLong" use="optional"/>
  </xs:complexType>

  <xs:element name="security-version" type="security-version">
    <xs:annotation>
      <xs:documentation>
        The security database version.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>xdmp:security-version()</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="clusters" type="clusters">
    <xs:annotation>
      <xs:documentation>
        The cluster specification.
      </xs:documentation>
      <xs:appinfo>
       <admin:help xmlns="http://www.w3.org/1999/xhtml">
         <hr class="control-line" size="1"/><br/>
         <span class="help-text">
         <img src="images/varspace.gif" alt="" width="20" height="1"
         />Cluster Help<br/><br/>
         </span>
         <hr class="control-line" size="1"/>
	 <p><span class="help-text">You can couple two clusters together
	 to allow communication between different clusters.  This communication
	 is used for Database Replication.  A 
         <span style="color:#800000">Foreign Cluster</span> 
	 is a cluster that communicates with another cluster.  Foreign
	 clusters are used for database replication to replicate a 
	 database in one cluster to a database in another cluster (the 
	 foreign cluster).</span></p>
         <p><span class="help-text">The following are the configuration
         options:</span></p>
       </admin:help>
       <admin:help xmlns="http://www.w3.org/1999/xhtml">
	<hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">Use the 
          <span style="color:#800000">Summary</span> 
	  tab to view information about cluster in which this cluster is
	  coupled.</span>
          </li>
	  <li><span class="help-text">Use the 
	  <span style="color:#800000">Couple</span> tab to couple 
	  this cluster with another cluster.  In order to replicate
	  a database from one cluster to a database in another, the
	  two clusters must first be coupled. </span></li>
        </ul>
       </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="security-version">
    <xs:annotation>
      <xs:documentation>
        The security database version.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  
  <xs:simpleType name="cluster-id">
    <xs:annotation>
      <xs:documentation>
        A cluster ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  
  <xs:simpleType name="cluster-name">
    <xs:annotation>
      <xs:documentation>
        A cluster name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="cluster-id" type="cluster-id">
    <xs:annotation>
      <xs:documentation>
        The cluster ID.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>xdmp:random()</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="cluster-name" type="cluster-name">
    <xs:annotation>
      <xs:documentation>
        The cluster name
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"cluster"</admin:default>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
         <p><span class="help-text">A 
         <span style="color:#800000">Cluster Name</span> 
	 is a name that represents the cluster.  You can change
	 this name only when you are on the local cluster.  The name
	 defaults to a name that includes the hostname for the host
	 that was involved in the coupling of the cluster.</span></p>
       </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  

  <xs:element name="ssl-fips-enabled" type="ssl-fips-enabled">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSL FIPS is enabled.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>true()</admin:default>
        <admin:cold/>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text"><span style="color:#800000">SSL FIPS enabled</span> 
        specifies whether FIPS mode is enabled.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
 
  <xs:simpleType name="ssl-fips-enabled">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSL FIPS is enabled.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean">
    </xs:restriction>
  </xs:simpleType> 
  
  <xs:simpleType name="timeout">
    <xs:annotation>
      <xs:documentation>
        An integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4294967295"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="xdqp-timeout" type="timeout">
    <xs:annotation>
      <xs:documentation>
        The XDQP protocol timeout, in seconds.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>10</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text"><span style="color:#800000">xdqp timeout</span>
          specifies the time, in seconds, before a request between a
          MarkLogic Server evaluator node (the node from which the query is 
          issued) and a MarkLogic Server data node (the node from which 
          the forest data is retrieved) times out.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="host-timeout" type="timeout">
    <xs:annotation>
      <xs:documentation>
        The host response timeout, in seconds.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>30</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text"><span style="color:#800000">host timeout</span>
          specifies the time, in seconds, before a MarkLogic Server 
          host-to-host request times out.  The host-to-host requests
          are used for communication between nodes in a MarkLogic Server
          cluster.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="xdqp-ssl-enabled" type="boolean">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSL is enabled for XDQP.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>false()</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
          <span style="color:#800000">SSL enabled</span> 
          specifies whether SSL is enabled for XDQP with this foreign cluster.
        </span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="xdqp-ssl-allow-sslv3" type="boolean">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSLv3 is allowed for XDQP.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>true()</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
            <span style="color:#800000">SSL enabled</span> 
            specifies whether SSLv3 is allowed for XDQP with this foreign cluster.
          </span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="xdqp-ssl-allow-tls" type="boolean">
    <xs:annotation>
      <xs:documentation>
        Whether or not TLS is allowed for XDQP.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>true()</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
            <span style="color:#800000">SSL enabled</span> 
            specifies whether TLS is allowed for XDQP with this foreign cluster.
          </span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ssl-allow-sslv3" type="boolean">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSLv3 is allowed.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>true()</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
            <span style="color:#800000">SSL enabled</span> 
            specifies whether SSLv3 is allowed for XDQP with this foreign cluster.
          </span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ssl-allow-tls" type="boolean">
    <xs:annotation>
      <xs:documentation>
        Whether or not TLS is allowed.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>true()</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
            <span style="color:#800000">SSL enabled</span> 
            specifies whether TLS is allowed for XDQP with this foreign cluster.
          </span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="ssl-private-key" >
    <xs:annotation>
      <xs:documentation>
        A PEM encoded private key.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:element name="xdqp-ssl-private-key" type="ssl-private-key">
    <xs:annotation>
      <xs:documentation>
        Ths cluster's PEM encoded private key for communicating with foreign clusters.
      </xs:documentation>      
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>""</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ssl-certificate" mixed="true">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo>
        <admin:rows>20</admin:rows>
        <admin:cols>80</admin:cols>
      </xs:appinfo>
    </xs:annotation>
    <xs:attribute name="file" use="optional"/>
  </xs:complexType>

  <xs:element name="xdqp-ssl-certificate" type="ssl-certificate">
    <xs:annotation>
      <xs:documentation>
        The PEM encoded certificate for this cluster. If the 'file' attribute is
        present, it is a file containing the PEM encoded certificate.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>    
  </xs:element>

  <xs:complexType name="bootstrap-hosts">
    <xs:annotation>
      <xs:documentation>
        The hosts that foreign clusters will use to bootstrap communication
        with this cluster.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="bootstrap-host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="bootstrap-hosts" type="bootstrap-hosts">
    <xs:annotation>
      <xs:documentation>
        The hosts that foreign clusters will use to bootstrap communication
        with this cluster.
      </xs:documentation>
      <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
         <p><span class="help-text">A 
         <span style="color:#800000">Bootstrap Host</span> 
	 is a host that is used to communicate the foreign cluster's
	 configuration to the local cluster.</span></p>
       </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="host-id">
    <xs:annotation>
      <xs:documentation>
        A host unique ID (64-bit value).
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="bootstrap-host" type="host-id">
    <xs:annotation>
      <xs:documentation>
        A host ID in this cluster that foreign clusters may use to bootstrap
        communication with this cluster.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-clusters">
    <xs:sequence>
      <xs:element ref="foreign-cluster" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-clusters" type="foreign-clusters">
    <xs:annotation>
      <xs:documentation>
        The foreign clusters.
      </xs:documentation>
      <xs:appinfo>
      <admin:help xmlns="http://www.w3.org/1999/xhtml">
         <p><span class="help-text">A 
         <span style="color:#800000">Foreign Cluster</span> 
	 is another MarkLogic Server cluster that this cluster communicates
	 with.  If you are using database replication, you must set up
	 a foreign cluster in which to replicate.</span></p>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="foreign-cluster">
    <xs:sequence>
      <xs:element ref="foreign-cluster-id"/>
      <xs:element ref="foreign-cluster-name"/>
      <xs:element ref="xdqp-timeout"/>
      <xs:element ref="host-timeout"/>
      <xs:element ref="foreign-ssl-certificate"/>
      <xs:element ref="xdqp-ssl-enabled"/>
      <xs:element ref="xdqp-ssl-allow-sslv3"/>
      <xs:element ref="xdqp-ssl-allow-tls"/>
      <xs:element ref="xdqp-ssl-ciphers"/>
      <xs:element ref="foreign-hosts"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-cluster" type="foreign-cluster">
    <xs:annotation>
      <xs:documentation>
        A foreign clusters.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="foreign-cluster-id" type="cluster-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign cluster.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="foreign-cluster-name" type="cluster-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign cluster.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="foreign-ssl-certificate" type="ssl-certificate">
    <xs:annotation>
      <xs:documentation>
        The SSL certificate for the foreign cluster.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:simpleType name="ssl-ciphers-string">
    <xs:annotation>
      <xs:documentation>
        The ID of the certificate template in the security database.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"ALL:!LOW:@STRENGTH"</admin:default>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="xdqp-ssl-ciphers" type="ssl-ciphers-string">
    <xs:annotation>
      <xs:documentation>
        A colon separated list of ciphers (e.g. ALL:!LOW:@STRENGTH)
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"ALL:!LOW:@STRENGTH"</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text"><span style="color:#800000">ssl ciphers</span> 
        specifies the SSL ciphers that may be used.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-hosts">
    <xs:sequence>
      <xs:element ref="foreign-host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="foreign-hosts" type="foreign-hosts">
    <xs:annotation>
      <xs:documentation>
        Information about foreign hosts.
      </xs:documentation>
   </xs:annotation>
  </xs:element>
  
  <xs:complexType name="foreign-host">
    <xs:sequence>
      <xs:element ref="foreign-host-id"/>
      <xs:element ref="foreign-host-name"/>
      <xs:element ref="foreign-connect-port"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-host" type="foreign-host">
    <xs:annotation>
      <xs:documentation>
        Information related to a particular foreign host.
      </xs:documentation>
   </xs:annotation>
  </xs:element>
  
  <xs:element name="foreign-host-id" type="host-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign host.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:simpleType name="host-name">
    <xs:annotation>
      <xs:documentation>
        A host name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="foreign-host-name" type="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign host.
      </xs:documentation>
   </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>
        An integer internet port number, min 1, max 65534.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="65534"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="foreign-connect-port" type="port">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol client socket connect internet port number.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:cold/>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>


  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>
        true or false
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>

</xs:schema>
