apidoc/schema/cts.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/cts"
 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
 xmlns="http://marklogic.com/cts"
 xmlns:cts="http://marklogic.com/cts"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:train="cts:train"
 xmlns:dt="cts:distinctive-terms"
 xmlns:cluster="cts:cluster"
 elementFormDefault="qualified">

  <xs:import namespace="cts:train"
             schemaLocation="cts-train.xsd"/>
  <xs:import namespace="cts:distinctive-terms"
             schemaLocation="cts-distinctive-terms.xsd"/>
  <xs:import namespace="cts:cluster"
             schemaLocation="cts-cluster.xsd"/>

  <xs:complexType name="annotation" mixed="true">
    <xs:annotation>
      <xs:documentation>
      A cts:annotation.  This can be used to hold anything
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
          <xs:any processContents="lax" namespace="##other"/>
        </xs:sequence>
        <xs:anyAttribute processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
 
  <xs:element name="annotation" type="annotation">
    <xs:annotation>
      <xs:documentation>
      The cts:annotation for comments or extra content on a query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="registered-query">
    <xs:annotation>
      <xs:documentation>
      A cts:registered-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="id" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="registered-query" type="registered-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:registered-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="id" type="id">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="option">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="key">
    <xs:annotation>
      <xs:documentation>
        An index term key.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="option" type="option">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="weight">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:double">
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="and-query">
    <xs:annotation>
      <xs:documentation>
      A cts:and-query. 
      Empty means search everything.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="and-query" type="and-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:and-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="or-query">
    <xs:annotation>
      <xs:documentation>
      A cts:or-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="or-query" type="or-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:or-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="and-not-query">
    <xs:annotation>
      <xs:documentation>
      A cts:and-not-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="positive"/>
          <xs:element ref="negative"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="and-not-query" type="and-not-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:-and-not-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="boost-query">
    <xs:annotation>
      <xs:documentation>
      A cts:boost-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="matching-query"/>
          <xs:element ref="boosting-query"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="boost-query" type="boost-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:boost-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="matching-query" type="query">
    <xs:annotation>
      <xs:documentation>
      The matching query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="boosting-query" type="query">
    <xs:annotation>
      <xs:documentation>
      The boosting query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="not-in-query">
    <xs:annotation>
      <xs:documentation>
      A cts:not-in-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="positive"/>
          <xs:element ref="negative"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="not-in-query" type="not-in-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:not-in-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="positive">
    <xs:annotation>
      <xs:documentation>
      A cts:positive-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all>
      <xs:element ref="query"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="positive" type="positive">
    <xs:annotation>
      <xs:documentation>
      The positive query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="negative">
    <xs:annotation>
      <xs:documentation>
      A cts:negative-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all>
      <xs:element ref="query"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="negative" type="negative">
    <xs:annotation>
      <xs:documentation>
      The positive query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="not-query">
    <xs:annotation>
      <xs:documentation>
      A cts:not-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="query" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="not-query" type="not-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:not-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="key" type="key">
    <xs:annotation>
      <xs:documentation>
      The key for a cts:term-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="term-query">
    <xs:annotation>
      <xs:documentation>
      A cts:term-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="key" minOccurs="0" maxOccurs="unbounded"/>    
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="term-query" type="term-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:term-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="word-query">
    <xs:annotation>
      <xs:documentation>
      A cts:word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>    
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="word-query" type="word-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="text">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="text" type="text">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-range-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="operator" type="operator" use="required"/>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-range-query" type="element-range-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="field-range-query">
    <xs:annotation>
      <xs:documentation>
        A cts:field-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="operator" type="operator" use="required"/>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="field-range-query" type="field-range-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
        The cts:field-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="path-range-query">
    <xs:annotation>
      <xs:documentation>
        A cts:path-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="path-expression" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="operator" type="operator" use="required"/>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="path-range-query" type="path-range-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
        The cts:path-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="path-expression">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="path-expression" type="path-expression">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="qname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:QName">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="element" type="qname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="value" type="xs:anySimpleType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="operator">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="&lt;"/>
      <xs:enumeration value="&lt;="/>
      <xs:enumeration value="&gt;"/>
      <xs:enumeration value="&gt;="/>
      <xs:enumeration value="="/>
      <xs:enumeration value="!="/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="element-value-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-value-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-value-query" type="element-value-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-value-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-word-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-word-query" type="element-word-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="field-word-query">
    <xs:annotation>
      <xs:documentation>
      A cts:field-word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="field-word-query" type="field-word-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:field-word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="field">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="field" type="field">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="field-value-query">
    <xs:annotation>
      <xs:documentation>
      A cts:field-value-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="field-value-query" type="field-value-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:field-value-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-attribute-range-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-attribute-value-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="operator" type="operator" use="required"/>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-attribute-range-query" type="element-attribute-range-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-attribute-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-attribute-value-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-attribute-value-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-attribute-value-query" type="element-attribute-value-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-attribute-value-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-attribute-word-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-attribute-word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="text" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-attribute-word-query" type="element-attribute-word-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-attribute-word-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="similar-query">
    <xs:annotation>
      <xs:documentation>
      A cts:similar-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="node" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="dt:options" minOccurs="0" maxOccurs="1"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="similar-query" type="similar-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:similar-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="node">
    <xs:annotation>
      <xs:documentation>
      Wrapper for any node.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:any processContents="lax"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="near-query">
    <xs:annotation>
      <xs:documentation>
      A cts:near-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="query" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="distance" type="distance" use="optional"/>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="distance">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:double">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="near-query" type="near-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:near-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="query" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-query" type="element-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="document-fragment-query">
    <xs:annotation>
      <xs:documentation>
      A cts:document-fragment-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="query" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="document-fragment-query" type="document-fragment-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:document-fragment-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="properties-query">
    <xs:annotation>
      <xs:documentation>
      A cts:properties-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="query" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="properties-query" type="properties-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:properties-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="locks-query">
    <xs:annotation>
      <xs:documentation>
      A cts:locks-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="query" minOccurs="1" maxOccurs="1"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="locks-query" type="locks-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:locks-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="document-query">
    <xs:annotation>
      <xs:documentation>
      A cts:document-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="uri" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="document-query" type="document-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:document-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="uri">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="uri" type="uri">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="collection-query">
    <xs:annotation>
      <xs:documentation>
      A cts:collection-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="uri" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="collection-query" type="collection-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:collection-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="directory-query">
    <xs:annotation>
      <xs:documentation>
      A cts:directory-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="uri" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="depth" type="depth" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="directory-query" type="directory-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:directory-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="depth">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="infinity"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="reverse-query">
    <xs:annotation>
      <xs:documentation>
      A cts:reverse-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="node" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="reverse-query" type="reverse-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:reverse-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="parent" type="qname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="child" type="qname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="attribute" type="qname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="latitude" type="qname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="longitude" type="qname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <!-- cts:region already built-in -->
  <xs:simpleType name="region">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:element name="region" type="region">
    <xs:annotation>
      <xs:documentation>
      A geospatial region.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <!-- cts:point type already built-in -->
  <xs:simpleType name="point">
    <xs:restriction base="region"/>
  </xs:simpleType>

  <xs:element name="point" type="point" substitutionGroup="region">
    <xs:annotation>
      <xs:documentation>
      A geospatial point.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <!-- cts:box type already built-in -->
  <xs:simpleType name="box">
    <xs:restriction base="region"/>
  </xs:simpleType>

  <xs:element name="box" type="box" substitutionGroup="region">
    <xs:annotation>
      <xs:documentation>
      A geospatial box.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <!-- cts:circle type already built-in -->
  <xs:simpleType name="circle">
    <xs:restriction base="region"/>
  </xs:simpleType>

  <xs:element name="circle" type="circle" substitutionGroup="region">
    <xs:annotation>
      <xs:documentation>
      A geospatial circle.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <!-- cts:polygon type already built-in -->
  <xs:simpleType name="polygon">
    <xs:restriction base="region"/>
  </xs:simpleType>

  <xs:element name="polygon" type="polygon" substitutionGroup="region">
    <xs:annotation>
      <xs:documentation>
      A geospatial polygon.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-geospatial-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-geospatial-query" type="element-geospatial-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="path-geospatial-query">
    <xs:annotation>
      <xs:documentation>
      A cts:path-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="path-expression" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="path-geospatial-query" type="path-geospatial-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:path-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-child-geospatial-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-child-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="child" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-child-geospatial-query" type="element-child-geospatial-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-child-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-pair-geospatial-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-pair-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="latitude" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="longitude" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-pair-geospatial-query" type="element-pair-geospatial-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-pair-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="element-attribute-pair-geospatial-query">
    <xs:annotation>
      <xs:documentation>
      A cts:element-attribute-pair-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="element" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="latitude" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="longitude" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="region" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="annotation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-attribute-pair-geospatial-query" type="element-attribute-pair-geospatial-query" substitutionGroup="query">
    <xs:annotation>
      <xs:documentation>
      The cts:element-attribute-pair-geospatial-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="iri">
    <xs:annotation>
      <xs:documentation>
        An RDF IRI.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="triple-component">
    <xs:annotation>
      <xs:documentation>
        A specifier of subject/predicate/object.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="datatype" type="iri" use="optional"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="subject" type="triple-component">
    <xs:annotation>
      <xs:documentation>
        A subject element. 
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="predicate" type="triple-component">
    <xs:annotation>
      <xs:documentation>
        A predicate element. 
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>  
  </xs:element>
  
  <xs:element name="object" type="triple-component">
    <xs:annotation>
      <xs:documentation>
        An object element. 
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="semantic-operator">
    <xs:annotation>
      <xs:documentation>
        Admissible comparion operators for semantic values.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="="/>
      <xs:enumeration value="!="/>
      <xs:enumeration value="&lt;"/>
      <xs:enumeration value="&lt;="/>
      <xs:enumeration value="&gt;"/>
      <xs:enumeration value="&gt;="/>
      <xs:enumeration value="sameTerm"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="triple-range-query">
    <xs:annotation>
      <xs:documentation>
        A cts:triple-range-query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="query">
        <xs:sequence>
          <xs:element ref="subject" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="predicate" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="object" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="weight" type="weight" use="optional"/>
        <xs:attribute name="subject-operator" type="semantic-operator" use="optional"/>
        <xs:attribute name="predicate-operator" type="semantic-operator" use="optional"/>
        <xs:attribute name="object-operator" type="semantic-operator" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:element name="triple-range-query" type="triple-range-query" substitutionGroup="query">
    <xs:annotation>
        <xs:documentation>
          The cts:triple-range-query.        
        </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="query">
    <xs:annotation>
      <xs:documentation>
      Any query.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:sequence/>
        <xs:anyAttribute processContents="lax"/> 
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="query" type="query" abstract="true">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="classifier">
    <xs:annotation>
      <xs:documentation>
      An XML representation of a classifier, as produced by cts:train.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="train:options"/>
        <xs:element name="class" type="cts:classifier-class" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="term">
    <xs:annotation>
      <xs:documentation>
      An index term. The 'id' attribute is the internal identifier for the 
      term; it is stable across queries. The 'val' attribute is the weight for
      this term in the class.

      The fitness, confidence, and query are reported when the term is
      reported from cts:distinctive-terms.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="query" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:unsignedLong" use="required"/>
      <xs:attribute name="val" type="xs:double" use="required"/>
      <xs:attribute name="score" type="xs:double" use="optional"/>
      <xs:attribute name="fitness" type="xs:double" use="optional"/>
      <xs:attribute name="confidence" type="xs:double" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="doc">
    <xs:annotation>
      <xs:documentation>
      A support vector. The 'id' attribute is the internal identifier for the
      node from the training set; it is stable across queries only for nodes
      in the database. The 'val' attribute is the weight given to this
      support vector in the class and the 'err' attribute is an estimate of the
      error for this vector.  
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="id" type="xs:unsignedLong" use="required"/>
      <xs:attribute name="val" type="xs:double" use="required"/>
      <xs:attribute name="err" type="xs:double" use="optional"/>
      <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="label">
    <xs:annotation>
      <xs:documentation>
      The labelling for a node: which classes the node belongs to. This is
      both the input to cts:train and the output from cts:classify.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="class" type="cts:label-class" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="thresholds">
    <xs:annotation>
      <xs:documentation>
      The output from cts:thresholds: the calculated best thresholds for each
      class, with associated precision, recall, and f-measure.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="class" type="cts:threshold-class" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="classifier-class">
    <xs:annotation> 
      <xs:documentation>
      The representation of a class in the classifier. Classes come in two
      forms, depending on the kind of classifier used: sets of weighted terms
      or sets of weighted support vectors.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
       <xs:element ref="cts:term" minOccurs="0" maxOccurs="unbounded"/>
       <xs:element ref="cts:doc" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="offset" type="xs:double" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="label-class">
    <xs:annotation>
      <xs:documentation>
      Identification of a class for labelling. For training, positive values
      mean membership in the class and negative values mean non-membership
      (negative training examples).  For classification, thresholds should be
      applied to determine actual class membership.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="val" type="xs:double" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="threshold-class">
    <xs:annotation>
      <xs:documentation>
      Calculated threshold information for a class. The attribute 'threshold'
      is the threshold that provides the best f-measure; the attributes
      'precision', 'recall', and 'f' record the precision, recall, and f-measure
      given that threshold. The attribute 'count' is a count of the number of
      instances of the class used in the computations.
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="threshold" type="xs:double" use="required"/>
    <xs:attribute name="precision" type="xs:double" use="required"/>
    <xs:attribute name="recall" type="xs:double" use="required"/>
    <xs:attribute name="f" type="xs:double" use="required"/>
    <xs:attribute name="count" type="xs:integer" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="co-occurrence">
    <xs:sequence>
      <xs:element ref="value"/>
      <xs:element ref="value"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="co-occurrence" type="co-occurrence"/>

  <xs:element name="tuple" type="tuple"/>

  <xs:complexType name="tuple">
    <xs:sequence>
      <xs:element ref="value" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="minimum" type="xs:anySimpleType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="maximum" type="xs:anySimpleType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="lower-bound" type="xs:anySimpleType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:element name="upper-bound" type="xs:anySimpleType">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="range">
    <xs:sequence>
      <xs:element ref="minimum" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="maximum" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lower-bound" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="upper-bound" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="range" type="range"/>

  <xs:element name="clustering">
    <xs:annotation>
      <xs:documentation>
        The clutering report.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
     <xs:sequence>
        <xs:element ref="cluster" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="cluster:options"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="cluster" type="cluster">
    <xs:annotation>
      <xs:documentation>
        The clustering report of one cluster.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="nodes">
    <xs:list itemType="xs:unsignedInt"/>
  </xs:simpleType> 
    
  <xs:complexType name="cluster">
    <xs:annotation>
      <xs:documentation>
      One cluster from a clustering.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:sequence>
       <xs:element ref="cts:term" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:unsignedLong" use="required"/>
    <xs:attribute name="parent-id" type="xs:unsignedLong" use="optional"/>
    <xs:attribute name="label" type="xs:string" use="required"/>
    <xs:attribute name="count" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="nodes" type="nodes" use="optional"/>
  </xs:complexType>

  <xs:simpleType name="scalar-type">
    <xs:annotation>
      <xs:documentation>
        An atomic type specification.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="int"/>
      <xs:enumeration value="unsignedInt"/>
      <xs:enumeration value="long"/>
      <xs:enumeration value="unsignedLong"/>
      <xs:enumeration value="float"/>
      <xs:enumeration value="double"/>
      <xs:enumeration value="decimal"/>
      <xs:enumeration value="dateTime"/>
      <xs:enumeration value="time"/>
      <xs:enumeration value="date"/>
      <xs:enumeration value="gYearMonth"/>
      <xs:enumeration value="gYear"/>
      <xs:enumeration value="gMonth"/>
      <xs:enumeration value="gDay"/>
      <xs:enumeration value="yearMonthDuration"/>
      <xs:enumeration value="dayTimeDuration"/>
      <xs:enumeration value="string"/>
      <xs:enumeration value="anyURI"/>
      <xs:enumeration value="point"/>
      <xs:enumeration value="long-lat-point"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="scalar-type" type="scalar-type">
    <xs:annotation>
      <xs:documentation>
        An atomic type specification.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="collation">
    <xs:annotation>
      <xs:documentation>
        A collation URI for string comparisons.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="collation" type="collation">
    <xs:annotation>
      <xs:documentation>
        A collation URI for string comparisons.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="coordinate-system">
    <xs:annotation>
      <xs:documentation>
      Describes how points are mapped.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:enumeration value="wgs84"/>
      <xs:enumeration value="raw"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="coordinate-system" type="coordinate-system">
    <xs:annotation>
      <xs:documentation>
        A coordinate system name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="nullable" type="xs:boolean"/>

  <xs:group name="reference-options">
    <xs:sequence>
      <xs:element ref="scalar-type" minOccurs="0"/>
      <xs:element ref="collation" minOccurs="0"/>
      <xs:element ref="coordinate-system" minOccurs="0"/>
      <xs:element ref="nullable" minOccurs="0"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="base-reference" type="base-reference" abstract="true"/>
  <xs:complexType name="base-reference" abstract="true">
    <xs:sequence/>
  </xs:complexType>

  <xs:element name="reference" type="reference" substitutionGroup="base-reference"/>
  <xs:complexType name="reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="key"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="uri-reference" type="uri-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="uri-reference">
    <xs:complexContent>
      <xs:restriction base="base-reference">
        <xs:sequence/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="collection-reference" type="collection-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="collection-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="nullable" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="parent-namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A parent element namespace URI.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="attribute-namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        Namespace of the child attribute.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="latitude-namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A latitude child namespace URI.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="longitude-namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A longitude child namespace URI.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="localname">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:list itemType="xs:NCName"/>    
  </xs:simpleType>
  
  <xs:element name="localname" type="localname">
    <xs:annotation>
      <xs:documentation>
        One or more localnames.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="parent-localname" type="localname">
    <xs:annotation>
      <xs:documentation>
        One or more parent element localnames.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="latitude-localname" type="localname">
    <xs:annotation>
      <xs:documentation>
        One or more latitude child localnames.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="longitude-localname" type="localname">
    <xs:annotation>
      <xs:documentation>
        One or more longitude child localnames.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="attribute-localname">
    <xs:annotation>
      <xs:documentation>
        An attribute localname.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:NCName"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
	  <xs:length value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:element name="attribute-localname" type="attribute-localname">
    <xs:annotation>
      <xs:documentation>
        Localname of the child attribute.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="field-name">
    <xs:annotation>
      <xs:documentation>
        The field name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="field-name" type="field-name">
    <xs:annotation>
      <xs:documentation>
        The field name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="element-reference" type="element-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="element-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="namespace-uri"/>
          <xs:element ref="localname"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="element-attribute-reference" type="element-attribute-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="element-attribute-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="parent-namespace-uri"/>
          <xs:element ref="parent-localname"/>
          <xs:element ref="namespace-uri"/>
          <xs:element ref="localname"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="field-reference" type="field-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="field-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="field-name"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="path-reference" type="path-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="path-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="path-expression"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="geospatial-element-reference" type="geospatial-element-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="geospatial-element-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="namespace-uri"/>
          <xs:element ref="localname"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="geospatial-element-child-reference" type="geospatial-element-child-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="geospatial-element-child-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="parent-namespace-uri"/>
          <xs:element ref="parent-localname"/>
          <xs:element ref="namespace-uri"/>
          <xs:element ref="localname"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="geospatial-element-pair-reference" type="geospatial-element-pair-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="geospatial-element-pair-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="parent-namespace-uri"/>
          <xs:element ref="parent-localname"/>
          <xs:element ref="latitude-namespace-uri"/>
          <xs:element ref="latitude-localname"/>
          <xs:element ref="longitude-namespace-uri"/>
          <xs:element ref="longitude-localname"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="geospatial-attribute-pair-reference" type="geospatial-attribute-pair-reference" substitutionGroup="base-reference"/>
  <xs:complexType name="geospatial-attribute-pair-reference">
    <xs:complexContent>
      <xs:extension base="base-reference">
        <xs:sequence>
          <xs:element ref="parent-namespace-uri"/>
          <xs:element ref="parent-localname"/>
          <xs:element ref="latitude-namespace-uri"/>
          <xs:element ref="latitude-localname"/>
          <xs:element ref="longitude-namespace-uri"/>
          <xs:element ref="longitude-localname"/>
          <xs:group ref="reference-options"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
