apidoc/schema/domains.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xsi:schemaLocation="http://www.w3.org/1999/xhtml xhtml1.1.xsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:dom="http://marklogic.com/cpf/domains"
           xmlns:admin="http://marklogic.com/xdmp/admin"
           targetNamespace="http://marklogic.com/cpf/domains"
           elementFormDefault="qualified"
>

<?xdmp-annotations?>

<xs:element name="configuration">
   <xs:annotation>
      <xs:documentation>
      Database-wide configuration parameters for CPF; shared by all domains.
      </xs:documentation>
    <xs:appinfo>
      <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <hr class="control-line" size="1"/><br/>
        <span class="help-text">
        <img src="images/varspace.gif" alt="" width="20" height="1"
        />Content Processing Configuration Help<br/><br/>
        </span>
        <hr class="control-line" size="1"/>
        <p><span class="help-text">
        The Content Processing Summary screen shows the domains and pipelines
        configured for this database. Content Processing must be
        installed for a database before it can be configured.</span></p>
        <p><span class="help-text">Installing Content Processing 
        loads the standard processing pipelines and creates a
        default domain for the database. The Content Processing installation
        also creates the triggers needed to control the content processing
        operations.</span></p>
        <p><span class="help-text">To install content processing in a database:
        </span></p>
        <ul>
          <li><span class="help-text">Click the   
             <span style="color:#800000">Install</span> tab.</span></li>
          <li><span class="help-text">If you are licensed for document
          conversion (to convert Microsoft Office, Adobe PDF, and HTML files),
          click the <span style="color:#800000">True</span> button for the
          <span style="color:#800000">enable conversion</span> 
          option.</span></li>
          <li><span class="help-text">If you are not licensed for document
          conversion, or you do not need to convert Microsoft Office or
          Adobe PDF files, click the <span style="color:#800000">False</span> 
          button for the <span style="color:#800000">enable conversion</span> 
          option.</span></li>
          <li><span class="help-text">Click the   
             <span style="color:#800000">Install</span> button. </span></li>
          <li><span class="help-text">Click 
          <span style="color:#800000">OK</span> to
          confirm the installation. The Admin interface creates the needed 
          pipelines and triggers, and also creates a default domain.
          </span></li>
        </ul>

        <p><span class="help-text">To reinstall content processing in a 
        database, click the <span style="color:#800000">reinstall</span> button 
        on the Content Processing Installation page.  If you have
        upgraded a database with Content Processing installed from 
        MarkLogic Server 3.0, reinstall content processing in 
        MarkLogic Server 3.1. </span></p>
        
        <p><span class="help-text">Once content processing
        is installed, the content processing domains and pipelines 
        configuration links appear in the left tree menu. </span></p>
        <p><span class="help-text">To modify the default domain settings:
        </span></p>

        <ul>
           <li><span class="help-text">Click <span style="color:#800000">Domains
           </span> from the left tree menu. </span></li>
           <li><span class="help-text">To edit an existing domain, click the
           name of the domain in the left tree menu.  To create a new domain, 
           click the <span style="color:#800000">Create</span> tab.</span></li>
           <li><span class="help-text">On the Domain Configuration page, 
           edit document scope to specify the range of documents to which
           this domain applies. </span></li>
           <li><span class="help-text">Click 
           <span style="color:#800000">OK</span> 
           to apply your changes.</span></li>
        </ul>

        <p><span class="help-text">To attach a pipeline to a domain:  
        </span></p>

        <ul>
           <li><span class="help-text">Under the domain to which you want to
           attach a pipeline, click 
           <span style="color:#800000">Pipelines</span>. 
           </span></li>
           <li><span class="help-text">Click the <span style="color:#800000">
           Attach</span> tab. </span></li>
           <li><span class="help-text">Select the name of the pipeline
           you want to attach and click <span style="color:#800000">OK</span>. 
           </span></li>

        </ul>

        <p><span class="help-text">Once content processing has been installed 
        for a database, you can use the Content Processing Installation screen 
        to refresh the installation, reloading the standard processing
        pipelines, or changing whether the standard conversion pipelines 
        are activated in the default domain. These settings will not affect 
        processing in other domains that you may have created.
        </span></p>
      </admin:help>
    </xs:appinfo>
   </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element name="config-id" type="dom:domain-id"/>
         <xs:element ref="dom:evaluation-context"/>
         <xs:element name="restart-user" type="dom:user-id">
           <xs:annotation>
           <xs:documentation>
            The user that will run the CPF restart trigger.
           </xs:documentation>
           <xs:appinfo>
           <admin:optional>false</admin:optional>
           </xs:appinfo>
           </xs:annotation>
         </xs:element>
         <xs:element name="restart-trigger" type="dom:trigger-ref"/>
         <xs:element name="default-domain" type="dom:domain-id"/>
         <xs:element name="conversion-enabled" type="xs:boolean">
           <xs:annotation>
           <xs:documentation>
           Whether conversion processing should be activated for 
           the default domain. 
           </xs:documentation>
           <xs:appinfo>
           <admin:default>true</admin:default>
           </xs:appinfo>
           </xs:annotation>
         </xs:element>
         <xs:element ref="dom:recovery-host" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="domain">
  <xs:annotation>
    <xs:documentation>
    A domain definition.
    </xs:documentation>
    <xs:appinfo>
      <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <hr class="control-line" size="1"/><br/>
        <span class="help-text">
        <img src="images/varspace.gif" alt="" width="20" height="1"
        />Domain Configuration Help<br/><br/>
        </span>
        <hr class="control-line" size="1"/>
        <p><span class="help-text">
        The domains configuration page shows the domains that are defined
        for this database.  A <span style="color:#800000">Domain</span> 
        specifies a portion of the database to
        which certain content processing operations apply, and which 
        content processing pipelines to apply to documents in that piece 
        of the database</span></p><p><span class="help-text">
        For each domain, the configuration page shows the following:
        </span></p>
        <ul>
          <li><span class="help-text"> 
          <span style="color:#800000">domain name</span>
          specifies the name of the domain.</span></li>
          <li><span class="help-text"> <span style="color:#800000">domain 
          description</span> specifies a description of the domain.</span></li>
          <li><span class="help-text"> The <span style="color:#800000">domain 
          scope</span> of the domain specifies which documents in the database 
          are subject to content processing pipelines. This information will 
          propagate to the content ptocessing triggers for this domain.</span>
          </li>
          <li>
           <ul>
             <li><span class="help-text"><span style="color:#800000">document 
             scope</span> specifies whether the scope of a domain is a 
             particular directory, a collection, or a document.</span></li>
             <li><span class="help-text"><span style="color:#800000">uri</span> 
             specifies which directory, collection, or document content 
             processing applies to.</span></li>
             <li><span class="help-text"><span style="color:#800000">depth</span> 
             specified whether the scope is just the directory itself or all 
             subdirectories as well.</span></li>
           </ul>
          </li>
          <li><span class="help-text"> The 
          <span style="color:#800000">evaluation 
          context</span> of the domain specifies how content processing 
          modules are executed.  This information will propagate to the 
          content processing triggers for this domain.
          </span></li>
          <li>
            <ul>
             <li><span class="help-text"><span style="color:#800000">database</span> 
             specifies which database contains the executing 
             modules.</span></li>
             <li><span class="help-text"><span style="color:#800000">root</span> 
             specifies the root directory for the content processing modules 
             search path.</span></li>
            </ul>
          </li>
        </ul>
      </admin:help>
       <admin:help xmlns="http://www.w3.org/1999/xhtml">
         <hr class="control-line" size="1"/>
        <p><span class="help-text">Buttons and Tabs:</span></p>
        <ul>
	  <li><span class="help-text">The 
          <span style="color:#800000">Summary</span> tab displays all of the 
          domains configured in this database, and includes their scope
          and a list of pipelines attached to each domain.  </span></li>
          <li><span class="help-text">Use the 
          <span style="color:#800000">Create</span> 
          tab to create a new domain.</span>
          </li>
        </ul>
        <span class="help-text"></span>
       </admin:help>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType>
    <xs:sequence>
      <xs:element name="domain-id" type="dom:domain-id"/>
      <xs:element name="domain-name" type="dom:domain-name">
        <xs:annotation>
           <xs:documentation>
            The name of the domain.
           </xs:documentation>
           <xs:appinfo>
           <admin:optional>false</admin:optional>
           </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="domain-description" type="dom:domain-description" minOccurs="0">
        <xs:annotation>
           <xs:documentation>
            A description of the domain.
           </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="dom:domain-scope"/>
      <xs:element ref="dom:evaluation-context"/>
      <xs:element name="state-trigger" type="dom:trigger-ref"/>
      <xs:element name="status-trigger" type="dom:trigger-ref"/>
      <xs:element name="create-trigger" type="dom:trigger-ref"/>
      <xs:element name="update-trigger" type="dom:trigger-ref"/>
      <xs:element name="delete-trigger" type="dom:trigger-ref"/>
      <xs:element name="any-property-trigger" type="dom:trigger-ref"/>
      <xs:element name="pipeline" type="dom:pipeline-id" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="pipelines">
  <xs:annotation>
    <xs:documentation>
    Pipelines for the domain.
    </xs:documentation>
  </xs:annotation>
   <xs:complexType>
      <xs:sequence>
         <xs:element name="pipeline" type="dom:pipeline-id" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:element>

<xs:element name="domain-scope" type="dom:domain-scope">
  <xs:annotation>
    <xs:documentation>
    The range of applicability of the domain.
    </xs:documentation>
  </xs:annotation>
</xs:element>

<xs:complexType name="domain-scope">
  <xs:annotation>
    <xs:documentation>
    A specification of the scope of the domain.
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="document-scope" type="dom:document-scope">
       <xs:annotation>
          <xs:documentation>
          How the domain is scoped.          
          </xs:documentation>
          <xs:appinfo>
            <admin:default>directory</admin:default>
            <admin:optional>false</admin:optional>
          </xs:appinfo>
       </xs:annotation>
    </xs:element>
    <xs:element name="uri" type="xs:anyURI">
       <xs:annotation>
          <xs:documentation>
          The uri of the directory, collection, or document.          
          </xs:documentation>
          <xs:appinfo>
             <admin:default>/</admin:default>
            <admin:optional>false</admin:optional>
          </xs:appinfo>
       </xs:annotation>
    </xs:element>
    <xs:element name="depth" type="dom:depth" minOccurs="0">
       <xs:annotation>
          <xs:documentation>
          How many levels of subdirectories of the directory to include in the
          scope. 
          </xs:documentation>
          <xs:appinfo><admin:default>infinity</admin:default></xs:appinfo>
       </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:element name="evaluation-context" type="dom:evaluation-context">
  <xs:annotation>
    <xs:documentation>
    Where condition and action modules of content processing
    applications will be evaluated.
    </xs:documentation>
  </xs:annotation>
</xs:element>

<xs:complexType name="evaluation-context">
  <xs:annotation>
    <xs:documentation>
    The context under which content processing triggers will be executed.
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="database" type="dom:database-id">
      <xs:annotation>
      <xs:documentation>The database containing the 
    modules of the content processing application.
      </xs:documentation>
      <xs:appinfo>
         <admin:select>database</admin:select>
         <admin:optional>false</admin:optional>
      </xs:appinfo>
      </xs:annotation>
    </xs:element>
    <xs:element name="root" type="dom:root">
      <xs:annotation>
      <xs:documentation>The root directory for invoking the modules
    of the content processing application.
      </xs:documentation>
      <xs:appinfo>
         <admin:default>/</admin:default>
         <admin:optional>false</admin:optional>
      </xs:appinfo>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:element name="recovery-host" type="dom:recovery-host">
  <xs:annotation>
    <xs:documentation>
    The host currently executing recovery for a particular attached database.
    </xs:documentation>
  </xs:annotation>
</xs:element>

<xs:complexType name="recovery-host">
  <xs:annotation>
    <xs:documentation>
    The host currently executing recovery for a particular attached database.
    </xs:documentation>
  </xs:annotation>
  <xs:simpleContent>
     <xs:extension base="xs:unsignedLong">
        <xs:attribute name="database" type="dom:database-id"/>
     </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<xs:simpleType name="domain-id">
  <xs:annotation>
    <xs:documentation>
    A domain unique identifier.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:unsignedLong"/>
</xs:simpleType>

<xs:simpleType name="domain-name">
  <xs:annotation>
    <xs:documentation>
    A domain name.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="domain-description"> 
  <xs:annotation>
    <xs:documentation>
    A domain description.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="document-scope">
  <xs:annotation>
    <xs:documentation>
    Document scope, same as for triggers.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="collection"/>
    <xs:enumeration value="directory"/>
    <xs:enumeration value="document"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="depth">
  <xs:annotation>
    <xs:documentation>
    Depth specification, for directory triggers.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
    <xs:enumeration value="0"/>
    <xs:enumeration value="1"/>
    <xs:enumeration value="infinity"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="root">
  <xs:annotation>
    <xs:documentation>
    The root path under which to find imported modules.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:anyURI"/>
</xs:simpleType>

<xs:simpleType name="pipeline-id">
  <xs:annotation>
    <xs:documentation>
    A pipeline unique identifier.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:unsignedLong"/>
</xs:simpleType>

<xs:complexType name="trigger-ref">
  <xs:annotation>
    <xs:documentation>
    A trigger reference. Holder for a trigger id.
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
     <xs:element name="trigger" type="dom:trigger-id"/>
  </xs:sequence>
</xs:complexType>

<xs:simpleType name="trigger-id">
  <xs:annotation>
    <xs:documentation>
    A trigger unique identifier.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:unsignedLong"/>
</xs:simpleType>

<xs:simpleType name="database-id">
  <xs:annotation>
    <xs:documentation>
    A database unique identifier.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:unsignedLong"/>
</xs:simpleType>

<xs:simpleType name="user-id">
  <xs:annotation>
    <xs:documentation>
    A user unique identifier.
    </xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:unsignedLong"/>
</xs:simpleType>

<!-- Definitions for building admin UI -->
<xs:element name="pipeline-load">
   <xs:complexType>
      <xs:sequence>
         <xs:element name="source" type="dom:database-id">
           <xs:annotation>
           <xs:documentation>
           Source for pipelines
           </xs:documentation>
           <xs:appinfo>
           <admin:default>0</admin:default>
           </xs:appinfo>
           </xs:annotation>
         </xs:element>
         <xs:element name="directory" type="xs:anyURI">
           <xs:annotation>
           <xs:documentation>
           Directory containing pipelines
           </xs:documentation>
           <xs:appinfo>
           <admin:default></admin:default>
           </xs:appinfo>
           </xs:annotation>
         </xs:element>
         <xs:element name="filter" type="xs:string" minOccurs="0">
           <xs:annotation>
           <xs:documentation>
           Filename filter
           </xs:documentation>
           <xs:appinfo>
           <admin:default>"*.xml"</admin:default>
           </xs:appinfo>
           </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
</xs:element>

</xs:schema>
