apidoc/schema/entity.xsd

<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/entity"
 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
 xmlns="http://marklogic.com/entity"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <!--  Basis entities -->

  <xs:element name="person" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A human identified by name, nickname or alias.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="organization" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A corporation, institution, government agency, or other group of people defined by an established organizational structure.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="location" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name of a geographically defined place such as a continent, body of water, mountain, park or full address. May be expanded to include gpe for some languages.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="gpe" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A geo-political entity comprised of three elements: a population, a geographic location and a government. A country, state, city or other location that contains both a population and a centralized government.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="facility" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A man-made structure or architectural entity such as a building, stadium, monument, airport, bridge, factory, or museum.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="religion" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Reference to an organized religion or theology as well as its followers.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="nationality" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Reference to a country or region of origin, such as American or Swiss.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="title" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Reference to an appellation associated with a person by virtue of
        occupation, office, birth, or as an honorific.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="credit-card-number">
    <xs:annotation>
      <xs:documentation>
        A credit card number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="credit-card-number" type="credit-card-number">
    <xs:annotation>
      <xs:documentation>
        A credit card number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="email">
    <xs:annotation>
      <xs:documentation>
        An email address.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="email" type="email">
    <xs:annotation>
      <xs:documentation>
        An email address.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="coordinate">
    <xs:annotation>
      <xs:documentation>
        A latitude and/or longitude.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="coordinate" type="coordinate">
    <xs:annotation>
      <xs:documentation>
        A latitude and/or longitude.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="money">
    <xs:annotation>
      <xs:documentation>
        A reference to an amount of money.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="money" type="money">
    <xs:annotation>
      <xs:documentation>
        A reference to an amount of money.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="number">
    <xs:annotation>
      <xs:documentation>
        A reference to a number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="number" type="number">
    <xs:annotation>
      <xs:documentation>
        A reference to a number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="distance">
    <xs:annotation>
      <xs:documentation>
        A reference to a distance.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="distance" type="distance">
    <xs:annotation>
      <xs:documentation>
        A reference to a distance.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
        A personal identification number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="id" type="id">
    <xs:annotation>
      <xs:documentation>
        A personal identification number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="phone-number">
    <xs:annotation>
      <xs:documentation>
        A telephone number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="phone-number" type="phone-number">
    <xs:annotation>
      <xs:documentation>
        A telephone number.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="url" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>
        A uniform resource locator.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="utm">
    <xs:annotation>
      <xs:documentation>
        Universal Transverse Mercator coordinates for a geographical location.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="utm" type="utm">
    <xs:annotation>
      <xs:documentation>
        Universal Transverse Mercator coordinates for a geographical location.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>
        A date.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="date" type="date">
    <xs:annotation>
      <xs:documentation>
        A date.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="time">
    <xs:annotation>
      <xs:documentation>
        A time.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="time" type="time">
    <xs:annotation>
      <xs:documentation>
        A time.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <!-- End of Basis entities -->

  <!-- Temis entities -->
 
  <!-- TM360 entities -->

  <xs:element name="media" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A news agency, newspaper or television reference.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="function" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A function.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="address" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A postal address.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="measurement" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A numerical measurement such as distance, speed, temperature, volume, weight, etc.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <!-- End of TM360 entities -->

  <!-- MER entities -->

  <xs:element name="medical-entity" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A medical entity.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="cell-or-tissue" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A cell or tissue.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="cell-process" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A cell process.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="chemical-entity" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A chemical entity.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="labelled-chemical-entity" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A labelled chemical entity.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="genetic-process" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A genetic process.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="chromosome-and-genomic-information" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Chromosome and genomic information.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="disorder" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A disorder.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="diagnostic-method" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A diagnostic method.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="enzyme" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        An enzyme.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="symptom" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A symptom.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="species" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A species.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="treatment" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A treatment.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <!-- End of MER entities -->

  <!-- End of Temis entities -->

  <!-- Calais entities -->

  <xs:element name="anniversary" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        An anniversary (an event being commemorated).
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="city" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A city or an independent settlement, including villages. Does not include districts or neighborhoods within a city.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="company" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Full or partial company name. This includes any business organizations including newspapers, media companies, law firms, etc.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="continent" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A continent.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="country" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A country.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="entertainment-award-event" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        An entertainment-related event or award, such as a film or music festival, or an award related to the entertainment industry.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:simpleType name="fax-number">
    <xs:annotation>
      <xs:documentation>
        A full fax telephone number, with prefix and extension if available.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="fax-number" type="fax-number">
    <xs:annotation>
      <xs:documentation>
        A full fax telephone number, with prefix and extension if available.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="holiday" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name of a holiday, including the country or nationalify if mentioned.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="industry-term" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Description of an industry, segment, product family, or business.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:simpleType name="market-index">
    <xs:annotation>
      <xs:documentation>
        Name of a stock market index. 
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="market-index" type="market-index">
    <xs:annotation>
      <xs:documentation>
        Name of a stock market index. 
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="medical-condition" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A human medical condition, such as a disease, disorder or syndrome.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="medical-treatment" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A procedure, treatment or therapeutic provided to any medical condition.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="movie" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A movie or film.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="music-album" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A music-album, CD, etc.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="music-group" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A music group or band.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="natural-disaster" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A specific or general natural disaster, such as a floods, an earthquake, a hurricane, a tropical storm, an avalanche, etc. 
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="natural-feature" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A specific geographical (not man-made) entity, such as a geological formation or body of water.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="operating-system" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        An operating system.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="product" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A drug product, car model or aircraft model.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="programming-language" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A programming language.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:simpleType name="province">
    <xs:annotation>
      <xs:documentation>
        Name of a province, state, county or other politically defined part of a country.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="province" type="province">
    <xs:annotation>
      <xs:documentation>
        Name of a province, state, county or other politically defined part of a country.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="published-medium" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Published medium such as a newspaper, journal or a magazine.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="radio-program" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name of a radio program.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="radio-station" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name of a radio station. Mainly focused on US radio stations.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="region" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name of a non-politically defined geographical region of the world (exclusing continents).
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="sports-event" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A sports-related tournament or championship.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="sports-game" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A sports game.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="sports-league" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        A sports league (some may also be extracted as organizations).
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="technology" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name or description of a technology.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="tv-show" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name of a TV show or program.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <xs:element name="tv-station" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Name of a TV station. Mostly focused on US TV stations.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>  

  <!-- End of Calais entities -->


</xs:schema>

