apidoc/schema/flexrep.xsd

<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/flexible-replication"
    xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd
                        http://www.w3.org/1999/xhtml xhtml-inlstyle-1.xsd"
    xmlns="http://marklogic.com/xdmp/flexible-replication"
    xmlns:admin="http://marklogic.com/xdmp/admin"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:cpf="http://marklogic.com/cpf"
    xmlns:dom="http://marklogic.com/cpf/domains"
    xmlns:doc="xdmp:document-load"
    xmlns:prop="http://marklogic.com/xdmp/property"
    xmlns:error="http://marklogic.com/xdmp/error"
    xmlns:sec="http://marklogic.com/xdmp/security"
    xmlns:http="xdmp:http"
    xmlns:eval="xdmp:eval"
    elementFormDefault="qualified">
    
  <?xdmp-annotations?>

  <!-- extra locations are handy for command-line tests -->
  <xs:import namespace="http://marklogic.com/cpf"
             schemaLocation="cpf.xsd"/>
  <xs:import namespace="http://marklogic.com/cpf/domains"
             schemaLocation="domains.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/error"
             schemaLocation="error.xsd"/>
  <!-- extra locations are handy for command-line tests -->
  <xs:import namespace="xdmp:document-load"
             schemaLocation="document-load.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/property"
             schemaLocation="property.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/security"
             schemaLocation="security.xsd"/>
  <xs:import namespace="xdmp:http"
             schemaLocation="http.xsd"/>
  <xs:import namespace="xdmp:eval"
             schemaLocation="eval.xsd"/>

  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <!-- filters will not see doc:uri -->
        <xs:element ref="doc:uri"/>
        <xs:element ref="last-updated"/>
        <xs:element ref="doc:format" minOccurs="0"/>
        <xs:element ref="permissions"/>
        <xs:element ref="doc:collections"/>
        <xs:element ref="doc:quality"/>
        <xs:element ref="forests"/>
        <xs:element ref="prop:properties"/>
        <xs:element name="binarykey" type="xs:unsignedLong" minOccurs="0"/>
        <xs:element name="binaryoffset" type="xs:unsignedLong" minOccurs="0"/>
        <xs:element name="binarysize" type="xs:unsignedLong" minOccurs="0"/>
        <xs:element name="binaryoriglen" type="xs:unsignedLong" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="permissions">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          A set of permissions
        </xs:documentation>
        <xs:appinfo>
        </xs:appinfo>
      </xs:annotation>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="permission"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <xs:element name="permission">  
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
          Similar to sec:permission, but contains an sec:role-name instead of
          an sec:role-id.
        </xs:documentation>
        <xs:appinfo>
        </xs:appinfo>
      </xs:annotation>
      <xs:all>
        <xs:element ref="sec:role-name"/>
        <xs:element ref="sec:capability"/>    
      </xs:all>
    </xs:complexType>
  </xs:element>

  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="doc:uri"/>
        <xs:element ref="last-updated"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="forests">
    <xs:complexType>
      <xs:sequence>
        <xs:element  ref="forest" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="forest" type="xs:string"/>

  <xs:element name="last-updated" type="xs:dateTime"/>

  <xs:element name="skip">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="reason" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="enqueue" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="skip-status" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="reason" type="xs:string"/>
  <xs:element name="enqueue" type="xs:boolean"/>
  <xs:element name="skip-status" type="xs:boolean"/>

  <!-- processing results -->
  <xs:element name="results">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="result" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!--
      - processing results
      - 0 minOccurs for many elements, for cpf zero-day initialization.
  -->
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>        
        <xs:element ref="document-uri"/>
        <xs:element ref="last-error" minOccurs="0"/>
        <xs:element ref="cpf:last-updated" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- The status of replication for a document. -->
  <xs:element name="document-status">
    <xs:complexType>
      <xs:sequence>
        <!-- dom:domain-id tracks domain of any doc -->
        <xs:element ref="document-version"/> 
        <xs:element ref="domain-id"/>
        <xs:element ref="document-uri"/>
        <xs:element ref="deleted" minOccurs="0"/>
        <xs:element ref="document-target-statuses" minOccurs="0"/>

        <xs:element ref="cpf:error" minOccurs="0"/>
        <xs:element ref="cpf:last-updated" minOccurs="0"/>
        <xs:element ref="cpf:processing-status" minOccurs="0"/>
        <xs:element ref="cpf:state" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="deleted-targets" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="document-target-statuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document-target-status" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- document status list for monitoring service
  <xs:element name="document-status-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document-status" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   -->

  <!--
    -  document status for dashboard and monitoring.
    -  0 minOccurs for many elements, for cpf zero-day initialization.
  <xs:element name="document-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="cpf:error" minOccurs="0"/>
        <xs:element ref="cpf:last-updated" minOccurs="0"/>
        <xs:element ref="cpf:processing-status" minOccurs="0"/>
        <xs:element ref="cpf:state" minOccurs="0"/>
        dom:domain-id tracks domain of any doc
        <xs:element ref="dom:domain-id" minOccurs="0"/>
        <xs:element ref="document-uri" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="deleted" minOccurs="0"/>
        <xs:element ref="document-target-statuses" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="deleted-targets" type="xs:boolean"/>
    </xs:complexType>
  </xs:element>
    -->

  <xs:element name="document-uri" type="xs:string"/>
  <xs:element name="deleted" type="xs:dateTime"/>

  <!-- domain status list for monitoring service
  <xs:element name="domain-status-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="domain-status" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   -->


  <xs:element name="document-count" type="xs:unsignedInt"/>
  <xs:element name="deleted-count" type="xs:unsignedInt"/>
  <xs:element name="error-count" type="xs:unsignedInt"/>
  <xs:element name="waiting-binary-count" type="xs:unsignedInt"/>
  <xs:element name="cpf-active-count" type="xs:unsignedInt"/>
  <xs:element name="cpf-error-count" type="xs:unsignedInt"/>
  <xs:element name="cpf-final-count" type="xs:unsignedInt"/>
  <xs:element name="cpf-updated-count" type="xs:unsignedInt"/>
  <xs:element name="cpf-pending-count" type="xs:unsignedInt"/>
  <xs:element name="partial-count" type="xs:unsignedInt"/>
  <xs:element name="deleted-targets-count" type="xs:unsignedInt"/>
  <xs:element name="unpropertied-count" type="xs:unsignedInt"/>
  <xs:element name="pending-count" type="xs:unsignedInt"/>
  <xs:element name="cpf-initial-count" type="xs:unsignedInt"/>

  <xs:element name="last-replicated" type="xs:dateTime"/>
  <xs:element name="missing-count" type="xs:unsignedInt"/>
  <xs:element name="pending-retry-count" type="xs:unsignedInt"/>
  
  <xs:element name="target-statuses">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="target" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="target-status" minOccurs="0" maxOccurs="unbounded"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>

  <!-- upgrade: moved @id to target-id -->
  <xs:element name="target-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="target-id"/>
        <xs:element ref="last-replicated" minOccurs="0"/>
        <xs:element ref="pending-retry-count" minOccurs="0"/>
        <xs:element ref="missing-count" minOccurs="0"/>
        <xs:element ref="error-count" minOccurs="0"/>
        <xs:element ref="waiting-binary-count"/>
        <xs:element ref="last-error" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- The status of replicating a document to a particular target -->
    <xs:complexType name="document-target-status">
      <xs:sequence>
        <xs:element ref="target-id" minOccurs="1"/>
        <xs:element ref="last-success" minOccurs="0"/>
        <xs:element ref="next-try" minOccurs="0"/>
        <xs:element ref="last-try" minOccurs="0"/>
        <xs:element ref="tries" minOccurs="0"/>
        <xs:element ref="last-error" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>

  <xs:element name="document-target-status" type="document-target-status">
  </xs:element>
  
  <xs:element name="last-success" type="xs:dateTime"/>
  <xs:element name="next-try" type="xs:dateTime"/>
  <xs:element name="last-try" type="xs:dateTime"/>
  <xs:element name="tries" type="xs:unsignedInt"/>

  <xs:element name="last-error">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="error:error"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element ref="domain-id"/>
      <xs:element ref="targets"/>
      <xs:element ref="alerting-uri" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="configuration" type="configuration">
    <xs:annotation>
      <xs:documentation>
        Flexible Replication Configuration
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line"/><br/>
          <span class="help-text">
            
            Flexible Replication Configuration Help<br/><br/>
          </span>
          <hr class="control-line"/>
          <span class="help-text">
          The Flexible Replication Administration screen shows the Flexible Replication settings for
          this database.  
          <br/><br/>
           <span style="color:#800000">Application Server</span> provides a link to the HTTP App Server
          that uses this database.  The Master and Replica databases must be associated with
          an HTTP App Server. If an App Server has not yet been created, a Create button is
          displayed.  Click Create to bring up the <span style="color:#800000">Create HTTP Server</span>
          page with the <span style="color:#800000">server-name</span>, <span style="color:#800000">root</span>, and 
          <span style="color:#800000">database</span> fields pre-filled for the replicated database.
          Enter a <span style="color:#800000">port</span> number to identify the App Server and
          click OK.
          <br/><br/>
          <span style="color:#800000">Scheduled Tasks</span> displays existing
          scheduled replication tasks and allows you to create new scheduled
          replication tasks. A scheduled task can be either a push operation on 
          the Master to the Replicas, or a pull operation on a Replica from the Master. 
          The pull operation is useful when a Replica is behind a firewall that only 
          allows its internal servers to pull from a Master server outside the firewall. 
          While a push replication scheduled task provides the Master with retry and 
          zero-day replication, a pull replication scheduled task is the only replication 
          option available to a Replica, so the scheduled task must serve as the initial 
          replication mechanism in addition to retry and zero-day replication.
          <br/><br/>
          For both push and pull scheduled replication tasks, the replication retry 
          configuration is a combination of the scheduled task frequency, the minimum and 
          maximum retry settings and the document batch size.
          <br/><br/>
          <span style="color:#800000">Content Processing</span> should
          only be configured for replication on the Master database.
          The Content Processing section shows the
          replicated CPF domains for the Master database. If Content Processing is 
          not configured for the Master 
          database, you will be prompted to install Content Processing and configure the domain to 
          use the flexible replication pipeline.  Once a replicated domain has been created, you can 
          click on the domain name to display its <span style="color:#800000">Flexible Replication 
          Domain Administration</span> page.  
          <br/><br/> 
          <span style="color:#800000">Pull Configurations</span> should
          only be configured on the Replica databases. To configure pull replication on
          a Replica database, you must configure both a pull scheduled task and a
          Pull Configuration.  If no pull configuration has been created, click Create
          to display the <span style="color:#800000">Add Replication Pull</span> page.
 
 
          <hr class="control-line" size="1"/>
          <span class="help-text"><p>Buttons and Tabs:</p></span>
          <ul>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Summary</span> 
            tab to access the configuration
	    pages related to flexible replication.</span>
	    </li>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Status</span> 
            tab to view the general replication status.</span>
	    </li>
          </ul>
        </span>  
        </admin:help>

        </xs:appinfo>
    </xs:annotation>
  </xs:element>      

  <xs:element name="Targetconfiguration" type="configuration">
    <xs:annotation>
      <xs:documentation>
        Replication Target Configuration Help
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line"/><br/>
          <span class="help-text">   
          Replication Target Configuration Help<br/><br/>
          </span>
          The Flexible Replication Target pages allow you to configure and display the settings 
          for replication targets identified on the Master database.  The targets configured on these
          pages specify connections to the Replica databases.
          <br/><br/>          
          <ul>
           <li><span class="help-text"> 
           <span style="color:#800000">target name</span> 
            specifies the name of the replication target.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">target urls</span> 
            specifies one or more URLs for the target App Servers.</span>
            </li>
           <li><span class="help-text"> 
           <span style="color:#800000">retry seconds min</span> 
            specifies the minimum number of seconds between each attempt to
            retry a failed replication.</span>
            </li>
           <li><span class="help-text"> 
           <span style="color:#800000">retry seconds max</span> 
            specifies the maximum number of seconds between each attempt to
            retry a failed replication.</span>
            </li>
           <li><span class="help-text"> 
           <span style="color:#800000">documents per batch</span> 
            specifies the number of documents to replicate at once.</span>
            </li>
           <li><span class="help-text"> 
           <span style="color:#800000">enabled</span> 
            specifies whether push replication is enabled.  Disable push
            replication when configuring for pull replication.</span>
            </li>           <li><span class="help-text"> 
           <span style="color:#800000">replicate cpf</span> 
            specifies whether to replicate CPF data. Do not set the Replicate CPF 
            option to 'true' without the direction from MarkLogic Customer Support.</span>
            </li>       
           <li><span class="help-text"> 
           <span style="color:#800000">username</span> 
            specifies the user with replication permissions.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">password</span> 
            specfies the password for the user with replication permissions.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">client cert</span> 
            specifies a PEM encoded client certificate, if required by the 
            target App Server.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">client key</span> 
            specifies a PEM encoded private key, if required by the 
            target App Server.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">pass phrase</span> 
           specifies the pass phrase for use by the private key.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">filter module</span> 
           specifies the name of the module to invoke as a replication filter.</span>
           </li>          
         </ul>  

          <span class="help-text"><p>Buttons and Tabs:</p></span>
          <ul>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Summary</span> 
            tab to access the Flexible Replication Target Administration page.</span>
	    </li>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Status</span> 
            tab to view the Database Domain Target Replication Status page.</span>
	    </li>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Create</span> 
            tab to access the Add Replication Target page.</span>
	    </li>	    
          </ul>    
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

 <xs:element name="Domainconfiguration" type="configuration">
    <xs:annotation>
      <xs:documentation>
        Replication Domain Help
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line"/><br/>
          <span class="help-text">     
           Replication Domain Help<br/><br/>
          </span>
          <span class="help-text"><p>Buttons and Tabs:</p></span>
          <ul>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Summary</span> 
	    tab to view the list of targets, target ID, and which targets
	    are enabled or disabled.  Click Create to access the Add Replication
            Target page.</span>
	    </li>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Status</span> 
            tab to view the status of each replication target.</span>
	    </li>
          </ul>
        </admin:help>
        </xs:appinfo>
    </xs:annotation>
  </xs:element>      


  <xs:element name="Pullconfiguration" type="configuration">
    <xs:annotation>
      <xs:documentation>
        Replication Pull Configuration Help
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line"/><br/>
          <span class="help-text">   
          Replication Pull Configuration Help<br/><br/>
          </span>
          The Replication Pull pages allow you to configure and display the settings 
          for pull replication target identified on a Replica database.  The target configured on these
          pages are to the Master database in a pull replication configuration.
          <br/><br/>          
          <ul>
           <li><span class="help-text"> 
           <span style="color:#800000">pull name</span> 
            specifies the name of the pull configuration.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">domain id</span> 
            specifies the ID of the replicated domain.</span>
            </li>
           <li><span class="help-text"> 
           <span style="color:#800000">target id</span> 
            specifies the ID of the replication target obtained
            from the Database Domain Replication Summary page on the
            Master database.</span>
            </li>
           <li><span class="help-text"> 
           <span style="color:#800000">pull urls</span> 
            specifies the URL for the Master App Server obtained
            from the Flexible Replication Domain Administration page on the
            Master database.</span>
            </li>
           <li><span class="help-text"> 
           <span style="color:#800000">username</span> 
            specifies the user with replication permissions.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">password</span> 
            specfies the password for the user with replication permissions.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">client cert</span> 
            specifies a PEM encoded client certificate, if required by the 
            Master App Server.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">client key</span> 
            specifies a PEM encoded private key private, if required by the 
            Master App Server.</span>
           </li>
           <li><span class="help-text"> 
           <span style="color:#800000">pass phrase</span> 
           specifies the pass phrase for use by the private key.</span>
           </li>     
         </ul>      


          <span class="help-text"><p>Buttons and Tabs:</p></span>
          <ul>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Summary</span> 
            tab to access the Replication Pull Administration page.</span>
	    </li>
            <li><span class="help-text">
            Use the 
            <span style="color:#800000">Create</span> 
            tab to access the Add Replication Pull page.</span>
	    </li>	    
          </ul>
    
       
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="domain-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:element name="domain-id" type="domain-id">
    <xs:annotation>
      <xs:documentation>
        The domain id.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>0</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="domain-name" type="xs:string"/>
    
  <xs:element name="alerting-uri" type="xs:string"/>
  
  <xs:complexType name="targets">
    <xs:sequence>
      <xs:element ref="target" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType> 

  <xs:element name="targets" type="targets">
  </xs:element>

  <xs:complexType name="target">
    <xs:sequence>
      <xs:element ref="target-id"/>
      <xs:element ref="target-name"/>
      <xs:element ref="target-urls"/>
      <xs:element ref="retry-seconds-min"/>
      <xs:element ref="retry-seconds-max"/>
      <xs:element ref="documents-per-batch"/>
      <xs:element ref="enabled"/>
      <xs:element ref="replicate-cpf"/>
      <xs:element ref="http-options"/>
      <xs:element ref="filter-module"/>
      <xs:element ref="filter-options"/>
      <xs:element ref="user-id" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="target" type="target">
    <xs:annotation>
      <xs:documentation>
        A replication target.
      </xs:documentation>
      <xs:appinfo>

      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="target-urls">
    <xs:sequence>
      <xs:element ref="target-url" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="target-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:simpleType name="target-name">
    <xs:annotation>
      <xs:documentation>
        A target name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="target-url">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:simpleType name="retry-seconds-min">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="retry-seconds-max">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="documents-per-batch">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="enabled">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="replicate-cpf">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="filter">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="target-id"           type="target-id">
    <xs:annotation>
      <xs:documentation>
        The target id.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>0</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="target-name"         type="target-name">
    <xs:annotation>
      <xs:documentation>
        A name for replication target.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="target-urls"         type="target-urls">
    <xs:annotation>
      <xs:documentation>
        URLs for the replication application server on the target system.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:optional>true</admin:optional>
        <admin:rows>5</admin:rows>
        <admin:cols>60</admin:cols>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="target-url"          type="target-url">
    <xs:annotation>
      <xs:documentation>
        A target URL for the replication application server on the target
        system.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"http://host:port/"</admin:default>
        <admin:optional>true</admin:optional>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="retry-seconds-min"   type="retry-seconds-min">
    <xs:annotation>
      <xs:documentation>
        The minimum number of seconds to wait before retrying a failed
        replication attempt for a document.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>60</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="retry-seconds-max"   type="retry-seconds-max">
    <xs:annotation>
      <xs:documentation>
        The maximum number of seconds to wait before retrying a failed
        replication attempt for a document.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>300</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="documents-per-batch" type="documents-per-batch">
    <xs:annotation>
      <xs:documentation>
        The number of documents to attempt to transfer in each batch.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>1</admin:default>
        <admin:optional>true</admin:optional>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="enabled"             type="enabled">
    <xs:annotation>
      <xs:documentation>
        Whether or not this target is enabled. If the target is disabled, no
        attempt will be made to push replications.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>fn:true()</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="replicate-cpf"       type="replicate-cpf">
    <xs:annotation>
      <xs:documentation>
        Whether or not CPF properties and derived documents should be
        replicated. This should be set to false unless you know what you
        are doing.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>fn:false()</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="http-options"        type="http:options">
    <xs:annotation>
      <xs:documentation>
        The HTTP options to use when connecting to the
        replication application server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="filter-module">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="filter-module"       type="filter-module">
    <xs:annotation>
      <xs:documentation>
        The name of a module to invoke as a filter.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:optional>true</admin:optional>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="filter-options"      type="eval:options">
    <xs:annotation>
      <xs:documentation>
        The options to use when invoking the filter module.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="user-id">
    <xs:annotation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  
  <xs:element name="user-id" type="user-id">
    <xs:annotation>
      <xs:documentation>
        The user that this target is associated with. If a username is
        specified, the target is query based.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>()</admin:default>
        <admin:optional>true</admin:optional>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="domain-status-list">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="domain-status" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- domain status for monitoring -->
  <xs:element name="domain-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="domain-id"/>
        <xs:element ref="document-count" minOccurs="0"/>
        <xs:element ref="unpropertied-count" minOccurs="0"/>
        <xs:element ref="deleted-count" minOccurs="0"/>
        <xs:element ref="pending-count" minOccurs="0"/>
        <xs:element ref="error-count" minOccurs="0"/>
        <xs:element ref="cpf-active-count" minOccurs="0"/>
        <xs:element ref="cpf-error-count" minOccurs="0"/>
        <xs:element ref="cpf-final-count" minOccurs="0"/>
        <xs:element ref="cpf-initial-count" minOccurs="0"/>
        <xs:element ref="cpf-updated-count" minOccurs="0"/>
        <xs:element ref="partial-count" minOccurs="0"/>
        <xs:element ref="deleted-targets-count" minOccurs="0"/>
        <xs:element ref="target-statuses" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="pull-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:element name="pull-id" type="pull-id">
    <xs:annotation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
        <admin:default>0</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="pull-name">
    <xs:annotation>
      <xs:documentation>
        A pull name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="pull-name" type="pull-name">
    <xs:annotation>
      <xs:documentation>
        A name for replication target.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="pull">
    <xs:sequence>
      <xs:element ref="pull-id"/>
      <xs:element ref="pull-name"/>
      <xs:element ref="domain-id">
        <xs:annotation>
          <xs:documentation>
            The domain id on the remote system.
          </xs:documentation>
          <xs:appinfo>
            <admin:default>0</admin:default>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="target-id">
        <xs:annotation>
          <xs:documentation>
            The target id on the remote system.
          </xs:documentation>
          <xs:appinfo>
            <admin:default>0</admin:default>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element ref="enabled" minOccurs="0"/>
      <xs:element ref="pull-urls"/>
      <xs:element ref="http-options"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pull" type="pull">
    <xs:annotation>
      <xs:documentation>
        Configuration information for polling a master database to retrieve
        replication updates.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="pull-urls">
    <xs:sequence>
      <xs:element ref="pull-url" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="pull-urls" type="pull-urls">
    <xs:annotation>
      <xs:documentation>
        One or more URLs for master application servers.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:rows>5</admin:rows>
        <admin:cols>60</admin:cols>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="pull-url">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="pull-url" type="pull-url">
  </xs:element>
    
  <xs:element name="acks">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ack" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ack">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document-uri"/>
        <xs:element ref="document-version"/>
        <xs:element ref="error:error" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="document-version" type="xs:unsignedLong">
  </xs:element>

  <xs:element name="received-from" type="xs:string"/>
  
  <xs:element name="received-at" type="xs:dateTime"/>

  <xs:element name="domain-target-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="domain-id"/>
        <xs:element ref="domain-name"/>
        <xs:element ref="target-id"/>
        <xs:element ref="target-name"/>
        <xs:element ref="received-from"/>
        <xs:element ref="received-at" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="document-uris">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document-uri" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="binarykey">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  
  <xs:element name="binarykey" type="binarykey"/>
  
  <xs:simpleType name="offset">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  
  <xs:element name="offset" type="offset"/>
  
  <xs:simpleType name="length">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  
  <xs:element name="length" type="length"/>
  
  <xs:simpleType name="forest-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  
  <xs:element name="forest-id" type="forest-id"/>
  
  <xs:element name="binary-push-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document-uris"/>
        <xs:element ref="binarykey"/>
        <xs:element ref="offset"/>
        <xs:element ref="length"/>
        <xs:element ref="domain-id"/>
        <xs:element ref="target-id"/>
        <xs:element ref="forest-id"/>
        <xs:element ref="next-try"/>
        <xs:element ref="forests"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="binary-pull-status">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="document-uris"/>
        <xs:element ref="binarykey"/>
        <xs:element ref="offset"/>
        <xs:element ref="length"/>
        <xs:element ref="domain-id"/>
        <xs:element ref="target-id"/>
        <xs:element ref="next-try"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
