apidoc/schema/foreign-cluster-status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/status/foreign-cluster"
           xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
           xmlns="http://marklogic.com/xdmp/status/foreign-cluster"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xhtml="http://www.w3.org/1999/xhtml"
           xmlns:ns2="http://marklogic.com/xdmp/status/request"
           xmlns:ns="http://marklogic.com/xdmp/status/server"
           xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
           xmlns:admin="http://marklogic.com/xdmp/admin"
           xmlns:manage="http://marklogic.com/xdmp/manage">

  <xs:simpleType name="foreign-cluster-id">
    <xs:annotation>
      <xs:documentation>A foreign cluster ID.</xs:documentation>
      <xs:appinfo>
        <manage:no-units/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:element name="foreign-cluster-id" type="foreign-cluster-id">
    <xs:annotation>
      <xs:documentation>The foreign cluster ID.</xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="host-id">
    <xs:annotation>
      <xs:documentation>A host unique ID (64-bit value).</xs:documentation>
      <xs:appinfo>
        <manage:no-units/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:element name="host-id" type="host-id">
    <xs:annotation>
      <xs:documentation>The unique key of the host</xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="cluster-name">
    <xs:annotation>
      <xs:documentation>
        A cluster name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>

  <xs:element name="foreign-cluster-name" type="cluster-name">
    <xs:annotation>
      <xs:documentation>The foreign cluster name.</xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>An integer internet port number, min 1, max 65534.</xs:documentation>
      <xs:appinfo>
        <manage:no-units/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="65534"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="database-id">
    <xs:annotation>
      <xs:documentation>A database ID.</xs:documentation>
      <xs:appinfo>
        <manage:no-units/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>

  <xs:simpleType name="forest-id">
    <xs:annotation>
      <xs:documentation>A forest ID.</xs:documentation>
      <xs:appinfo>
        <manage:no-units/>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  
  <xs:element name="interesting" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
        Is this interesting.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="bootstrapped" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
        Is this bootstrapped.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="last-successful-bootstrap" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>
        The time of the last bootstrap.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="enabled" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
        Is this enabled.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="foreign-database-id" type="database-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign database.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="foreign-forest-id" type="forest-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign forest.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:simpleType name="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="foreign-database-name" type="database-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign database.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-forest-ids">
    <xs:sequence>
      <xs:element ref="foreign-forest-id" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="foreign-forest-ids" type="foreign-forest-ids"/>

  <xs:simpleType name="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of a Host
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^ ].*"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:element name="foreign-host-id" type="host-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign host.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="foreign-host-name" type="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign host.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="foreign-connect-port" type="port">
    <xs:annotation>
      <xs:documentation>
        The connect port for the foreign host.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="online" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
        Is this online.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="secure" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
        Is SSL enabled.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="last-online" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>
        The time it was last online.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:element name="last-offline" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>
        The time it was last offline.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-host">
    <xs:sequence>
      <xs:element ref="foreign-host-id"/>
      <xs:element ref="foreign-host-name"/>
      <xs:element ref="foreign-connect-port"/>
      <xs:element ref="online"/>
      <xs:element ref="secure"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="last-online"/>
      <xs:element maxOccurs="1" minOccurs="0" ref="last-offline"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-host" type="foreign-host"/>

  <xs:complexType name="foreign-hosts">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="foreign-host"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-hosts" type="foreign-hosts">
    <xs:annotation>
      <xs:documentation>
        Information about foreign hosts.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-database">
    <xs:sequence>
      <xs:element ref="foreign-database-id"/>
      <xs:element ref="foreign-database-name"/>
      <xs:element ref="enabled"/>
      <xs:element ref="foreign-forest-ids"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-database" type="foreign-database">
    <xs:annotation>
      <xs:documentation>
        Information about a particular foreign database.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-databases">
    <xs:sequence>
      <xs:element ref="foreign-database" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-databases" type="foreign-databases">
    <xs:annotation>
      <xs:documentation>
        Information about foreign databases.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:simpleType name="forest-name">
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
      <xs:pattern value='([^\\*?/:&lt;&gt;|" \.])|([^\\*?/:&lt;&gt;|" \.][^\\*?/:&lt;&gt;|"]*[^\\*?/:&lt;&gt;|" \.])'/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="foreign-forest-name" type="forest-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign forest.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-forest">
    <xs:sequence>
      <xs:element ref="foreign-forest-id"/>
      <xs:element ref="foreign-forest-name"/>
      <xs:element ref="foreign-host-id"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="foreign-forest" type="foreign-forest">
    <xs:annotation>
      <xs:documentation>
        Information about a particular foreign forest.
      </xs:documentation>
   </xs:annotation>
  </xs:element>
  
  <xs:complexType name="foreign-forests">
    <xs:sequence>
      <xs:element ref="foreign-forest" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="foreign-forests" type="foreign-forests">
    <xs:annotation>
      <xs:documentation>
        Information about foreign forests.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

  <xs:complexType name="foreign-cluster-status">
    <xs:annotation>
      <xs:documentation>A foreign cluster status</xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="foreign-cluster-id"/>
      <xs:element ref="foreign-cluster-name"/>
      <xs:element ref="host-id"/>
      <xs:element ref="interesting"/>
      <xs:element ref="bootstrapped"/>
      <xs:element ref="last-successful-bootstrap" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-hosts"/>
      <xs:element ref="foreign-databases"/>
      <xs:element ref="foreign-forests"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="foreign-cluster-status" type="foreign-cluster-status">
    <xs:annotation>
      <xs:documentation>
        Status information for a foreign cluster.
      </xs:documentation>
   </xs:annotation>
  </xs:element>

</xs:schema>
