apidoc/schema/manage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--GENERATED SCHEMA - PLEASE DO NOT EDIT-->
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage" xmlns:cts="http://marklogic.com/cts">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:simpleType name="data-directory">
    <xs:annotation>
      <xs:documentation>
        An optional public directory for forests.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="forest-id">
    <xs:annotation>
      <xs:documentation>
        A forest unique ID (64-bit value).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="forest-name">
    <xs:annotation>
      <xs:documentation>
        The forest name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
      <xs:pattern value="([^\\*?/:&lt;&gt;|&quot; \.'])|([^\\*?/:&lt;&gt;|&quot; \.'][^\\*?/:&lt;&gt;|&quot;]*[^\\*?/:&lt;&gt;|&quot; \.'])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="updates-allowed">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="all"/>
      <xs:enumeration value="delete-only"/>
      <xs:enumeration value="read-only"/>
      <xs:enumeration value="flash-backup"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="database-id">
    <xs:annotation>
      <xs:documentation>
  The database ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:complexType name="range">
    <xs:all>
      <xs:element ref="lower-bound" minOccurs="0"/>
      <xs:element ref="upper-bound" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="availability">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="online"/>
      <xs:enumeration value="offline"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="assignment-policy">
    <xs:annotation>
      <xs:documentation>
        The policy to use for assignment and rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="assignment-policy-name"/>
      <xs:element ref="partition-key" minOccurs="0"/>
      <xs:element ref="lower-bound-included" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rebalancer-throttle">
    <xs:annotation>
      <xs:documentation>
        Larger numbers mean work harder at rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="zone">
    <xs:annotation>
      <xs:documentation>
        Zone the host belongs to.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of a Host
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^ ].*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="licensee">
    <xs:annotation>
      <xs:documentation>
        A licensee.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="license-key">
    <xs:annotation>
      <xs:documentation>
        A license key.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>
        true or false
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="range-boundary">
    <xs:annotation>
      <xs:documentation>
        The type for the boundaries used by the range assignment policy
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>
        An integer internet port number, min 1, max 65534.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="65534"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="assignment-policy-name">
    <xs:annotation>
      <xs:documentation>
        What policy to use for assignment and rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="bucket"/>
      <xs:enumeration value="statistical"/>
      <xs:enumeration value="range"/>
      <xs:enumeration value="legacy"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="partition-key">
    <xs:annotation>
      <xs:documentation>
        The partition key of the range assignment policy.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="cts:base-reference"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="assignment-policy-name">
    <xs:annotation>
      <xs:documentation>
         What policy to use for assignment and rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="assignment-policy-name">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="partition-key" abstract="false" nillable="false" type="partition-key">
    <xs:annotation>
      <xs:documentation>
         The partition key of the range assignment policy.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="lower-bound-included">
    <xs:annotation>
      <xs:documentation>
         If this is true, ranges on all forests in this database include the 
         lower bound but not the upper bound (i.e., [lower-bound, upper-bound)); 
         if this is false, ranges on all forests include the upper bound 
         but not the lower bound (i.e., (lower-bound, upper-bound]).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="data-directory" abstract="false" nillable="false" type="data-directory">
    <xs:annotation>
      <xs:documentation>
        The optional public directory for forests.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="large-data-directory" abstract="false" nillable="false" type="data-directory">
    <xs:annotation>
      <xs:documentation>
        The optional directory for large objects in a forest.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="fast-data-directory" abstract="false" nillable="false" type="data-directory">
    <xs:annotation>
      <xs:documentation>
        The optional smaller but faster directory for forests.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-id">
    <xs:annotation>
      <xs:documentation>
        The unique key of a forest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="forest-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="enabled">
    <xs:annotation>
      <xs:documentation>
        Forest enabled status.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="forest-name" abstract="false" nillable="false" type="forest-name">
    <xs:annotation>
      <xs:documentation>
        The forest name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="failover-enable">
    <xs:annotation>
      <xs:documentation>
	Enable assignment to a failover host if the primary host is down.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="updates-allowed">
    <xs:annotation>
      <xs:documentation>
      The kinds of updates that should be allowed for this forest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="updates-allowed">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebalancer-enable">
    <xs:annotation>
      <xs:documentation>
        Enable automatic rebalancing after configuration changes.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lower-bound" abstract="false" nillable="false" type="range-boundary">
    <xs:annotation>
      <xs:documentation>
        The lower bound of the range on the forest.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="upper-bound" abstract="false" nillable="false" type="range-boundary">
    <xs:annotation>
      <xs:documentation>
        The upper bound of the range on the forest.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="range" abstract="false" nillable="false" type="range">
    <xs:annotation>
      <xs:documentation>
        Range configuration for the range assignment policy.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>
        Availability of the forest data.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="availability">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="assignment-policy" abstract="false" nillable="false" type="assignment-policy">
    <xs:annotation>
      <xs:documentation>
        The policy to use for assignment and rebalancing.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rebalancer-throttle">
    <xs:annotation>
      <xs:documentation>
        Larger numbers mean work harder at rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="rebalancer-throttle">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="database-name" abstract="false" nillable="false" type="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-id">
    <xs:annotation>
      <xs:documentation>
	The database id.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="database-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="zone" abstract="false" nillable="false" type="zone">
    <xs:annotation>
      <xs:documentation>
        Zone the host belongs to.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="bind-port" abstract="false" nillable="false" type="port">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol server socket bind internet port number.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-bind-port" abstract="false" nillable="false" type="port">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol foreign server socket bind internet port number.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-name" abstract="false" nillable="false" type="host-name">
    <xs:annotation>
      <xs:documentation>
        The internet host name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="licensee" abstract="false" nillable="false" type="licensee">
    <xs:annotation>
      <xs:documentation>
        The host licensee.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="license-key" abstract="false" nillable="false" type="license-key">
    <xs:annotation>
      <xs:documentation>
        The license key for this host.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifiers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation-group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transfer">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="destination-database" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="resize">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forests-per-host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="hosts" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="migrate">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="hosts" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="partition">
    <xs:annotation>
      <xs:documentation>Partition definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="partition-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="upper-bound" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lower-bound" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forests-per-host" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="replicas" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="forest-replica">
    <xs:annotation>
      <xs:documentation>Replica forest definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="replica-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="forest-replicas">
    <xs:annotation>
      <xs:documentation>Replica forest definitions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="forest-replica" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="failover-hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts for shared disk failover.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="failover-host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="options">
    <xs:annotation>
      <xs:documentation>A list of options.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forests">
    <xs:annotation>
      <xs:documentation>A list of forests.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="forest" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="error">
    <xs:sequence>
      <xs:element ref="status-code" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="status" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message-code" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="process-status">
    <xs:sequence>
      <xs:element ref="link" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shutdown">
    <xs:annotation>
      <xs:documentation>Response on server shutdown.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="last-startup" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restart">
    <xs:annotation>
      <xs:documentation>Response on server restart.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="last-startup" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="link" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="kindref">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="link">
    <xs:annotation>
      <xs:documentation>Link.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="kindref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instance-admin">
    <xs:annotation>
      <xs:documentation>Instance administration configuration.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="admin-password" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="admin-username" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="realm" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="init">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="licensee" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="host-failover-forest">
    <xs:annotation>
      <xs:documentation>List of failover forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="host-forest">
    <xs:annotation>
      <xs:documentation>List of forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="host-delete">
    <xs:annotation>
      <xs:documentation>Detailed output describing failed prerequisites for removing a host from the cluster.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="is-bootstrap-host" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-forest" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-failover-forest" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="scheduled-task-count" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="partition-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the partition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="availability" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="updates-allowed" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="super-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of super-databases.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sub-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a sub-database.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="super-database">
    <xs:annotation>
      <xs:documentation>Super-database definition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="database-name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="host-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the host.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="host-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="group" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="bind-port" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-bind-port" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="zone" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="database-rebalancer-properties">
    <xs:annotation>
      <xs:documentation>Database rebalancer properties.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="rebalancer-enable" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="rebalancer-throttle" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="view-type" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-uri" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="related-view" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="super-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a super-database.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partition-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of database partitions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item-summary">
    <xs:annotation>
      <xs:documentation>A brief summary of the partition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="forest-count" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="range" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forest-migrate">
    <xs:annotation>
      <xs:documentation>Tiered storage forest migrate operation description.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="forests" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="forest-combine">
    <xs:annotation>
      <xs:documentation>Tiered storage forest combine operation description.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="forests" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="forest-create">
    <xs:annotation>
      <xs:documentation>Forest creation definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="database" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="availability" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="rebalancer-enable" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="range" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="failover-hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-replicas" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="item-summary" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forest-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the forest.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="enabled" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="updates-allowed" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="availability" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="rebalancer-enable" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="range" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="failover-enable" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="failover-hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-replicas" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="sub-database">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="database-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="kind" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="sub-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of sub-databases.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="error-type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-code" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-message" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="current-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="elapsed-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="view-error" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partition-forest">
    <xs:sequence>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-replicas" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partition-default">
    <xs:annotation>
      <xs:documentation>The summary for a partition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="assignment-policy" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="range" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-forest" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path to the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="current-time" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for when the view was generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="elapsed-time">
    <xs:annotation>
      <xs:documentation>The time required to construct the view.  The
      elapsed time indicates the relative cost of generating the view.  Consider
      the cost when determining how frequently to request a view. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-min" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for filtering out more recent
      requests or transactions.  
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-message" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="kind" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of sub-database (active, archive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-count">
    <xs:annotation>
      <xs:documentation>The number of items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="forest-count" type="xs:int"/>
  <xs:element name="view-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="is-bootstrap-host" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Boolean indicating that the host is configured as a bootstrap host for cluster coupling. Bootstrap hosts cannot be dropped from the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="scheduled-task-count" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Count of scheduled tasks running on this host, which must be removed before the host can be dropped.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="admin-password" type="xs:string">
    <xs:annotation>
      <xs:documentation>Password for admin user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="admin-username" type="xs:string">
    <xs:annotation>
      <xs:documentation>Username for admin user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="realm" type="xs:string">
    <xs:annotation>
      <xs:documentation>Realm.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="last-startup" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Timestamp of host's last restart.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="message" type="xs:string">
    <xs:annotation>
      <xs:documentation>Descriptive message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status-code" type="xs:int">
    <xs:annotation>
      <xs:documentation>HTTP status code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status" type="xs:string">
    <xs:annotation>
      <xs:documentation>HTTP status message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="message-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>MarkLogic error message code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="group" type="xs:string">
    <xs:annotation>
      <xs:documentation>A group name or id.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host" type="xs:string">
    <xs:annotation>
      <xs:documentation>A host name or id.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest" type="xs:string">
    <xs:annotation>
      <xs:documentation>A host forset or id.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="option" type="xs:string">
    <xs:annotation>
      <xs:documentation>An option.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of the partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="failover-host" type="xs:string">
    <xs:annotation>
      <xs:documentation>A host name or id for shared disk failover.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="replica-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of the replica forest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forests-per-host" type="xs:int">
    <xs:annotation>
      <xs:documentation>Number of forests to distribute per host.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="operation" type="xs:int">
    <xs:annotation>
      <xs:documentation>The partition operation to perform (resize, migrate, transfer).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="replicas" type="xs:int">
    <xs:annotation>
      <xs:documentation>Number of forests to allocate to each host for partition creation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="destination-database" type="xs:string">
    <xs:annotation>
      <xs:documentation>Database (name or id) to transfer the partition to.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="uriref" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="typeref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The type of a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="roleref" type="xs:string">
    <xs:annotation>
      <xs:documentation>A role that distinguishes the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-count">
    <xs:annotation>
      <xs:documentation>The number of related resources.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="idref" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>The numeric identifier for the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nameref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database" type="database-name"/>
  <xs:element name="id" type="database-id">
    <xs:annotation>
      <xs:documentation>
        The database id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifier" type="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifiers" type="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation" type="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-group" type="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relations" type="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transfer" type="transfer"/>
  <xs:element name="resize" type="resize"/>
  <xs:element name="migrate" type="migrate"/>
  <xs:element name="partition" type="partition">
    <xs:annotation>
      <xs:documentation>Partition definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-replica" type="forest-replica">
    <xs:annotation>
      <xs:documentation>Replica forest definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-replicas" type="forest-replicas">
    <xs:annotation>
      <xs:documentation>Replica forest definitions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="failover-hosts" type="failover-hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts for shared disk failover.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="options" type="options">
    <xs:annotation>
      <xs:documentation>A list of options.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forests" type="forests">
    <xs:annotation>
      <xs:documentation>A list of forests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="hosts" type="hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error" type="error"/>
  <xs:element name="process-status" type="process-status"/>
  <xs:element name="shutdown" type="shutdown">
    <xs:annotation>
      <xs:documentation>Response on server shutdown.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="restart" type="restart">
    <xs:annotation>
      <xs:documentation>Response on server restart.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="kindref">
    <xs:complexType/>
  </xs:element>
  <xs:element name="link" type="link">
    <xs:annotation>
      <xs:documentation>Link.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="instance-admin" type="instance-admin">
    <xs:annotation>
      <xs:documentation>Instance administration configuration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="init" type="init">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-failover-forest" type="host-failover-forest">
    <xs:annotation>
      <xs:documentation>List of failover forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-forest" type="host-forest">
    <xs:annotation>
      <xs:documentation>List of forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-delete" type="host-delete">
    <xs:annotation>
      <xs:documentation>Detailed output describing failed prerequisites for removing a host from the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-properties" type="partition-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="super-database-list" type="super-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of super-databases.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sub-database-default" type="sub-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a sub-database.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="super-database" type="super-database">
    <xs:annotation>
      <xs:documentation>Super-database definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-properties" type="host-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the host.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-rebalancer-properties" type="database-rebalancer-properties">
    <xs:annotation>
      <xs:documentation>Database rebalancer properties.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-view" type="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-views" type="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="super-database-default" type="super-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a super-database.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-list" type="partition-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of database partitions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item-summary" type="item-summary">
    <xs:annotation>
      <xs:documentation>A brief summary of the partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-migrate" type="forest-migrate">
    <xs:annotation>
      <xs:documentation>Tiered storage forest migrate operation description.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-combine" type="forest-combine">
    <xs:annotation>
      <xs:documentation>Tiered storage forest combine operation description.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-create" type="forest-create">
    <xs:annotation>
      <xs:documentation>Forest creation definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-item" type="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-items" type="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-properties" type="forest-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the forest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sub-database" type="sub-database">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sub-database-list" type="sub-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of sub-databases.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-error" type="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="meta" type="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-forest" type="partition-forest"/>
  <xs:element name="partition-default" type="partition-default">
    <xs:annotation>
      <xs:documentation>The summary for a partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>