apidoc/schema/manage-requests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--GENERATED SCHEMA - PLEASE DO NOT EDIT-->
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/requests" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage/requests">
  <xs:simpleType name="request-id">
    <xs:annotation>
      <xs:documentation>An id for a request</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="request-state">
    <xs:annotation>
      <xs:documentation>The state of a request</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="stopped"/>
      <xs:enumeration value="running"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="request-kind">
    <xs:annotation>
      <xs:documentation>A kind of request</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="eval"/>
      <xs:enumeration value="invoke"/>
      <xs:enumeration value="get"/>
      <xs:enumeration value="copy"/>
      <xs:enumeration value="delete"/>
      <xs:enumeration value="lock"/>
      <xs:enumeration value="mkcol"/>
      <xs:enumeration value="move"/>
      <xs:enumeration value="options"/>
      <xs:enumeration value="propfind"/>
      <xs:enumeration value="proppatch"/>
      <xs:enumeration value="put"/>
      <xs:enumeration value="unlock"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="directory-pathname">
    <xs:annotation>
      <xs:documentation>It can be absolute or relative.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeout">
    <xs:annotation>
      <xs:documentation>An integer number of seconds, min 0, max 4294967295.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4294967295"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="user">
    <xs:annotation>
      <xs:documentation>A user ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="text">
    <xs:annotation>
      <xs:documentation>A query/request text</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="start-time">
    <xs:annotation>
      <xs:documentation>A Label version number.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="trigger-depth">
    <xs:annotation>
      <xs:documentation>An integer number of trigger invocation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>true or false</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="client-address">
    <xs:annotation>
      <xs:documentation>An address of a client</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="debugging-status">
    <xs:annotation>
      <xs:documentation>A request's debugging status.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="expr-id">
    <xs:annotation>
      <xs:documentation>An expression identifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="where-stopped">
    <xs:annotation>
      <xs:documentation>Where in an expression a request is stopped.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="begin"/>
      <xs:enumeration value="end"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="count">
    <xs:annotation>
      <xs:documentation>A count.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:element name="request-state">
    <xs:annotation>
      <xs:documentation>The state of a request</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="request-state">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="request-kind">
    <xs:annotation>
      <xs:documentation>The kind of request (for example, invoke, eval).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="request-kind">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="root" abstract="false" nillable="false" type="directory-pathname">
    <xs:annotation>
      <xs:documentation>The root document directory pathname.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="max-time-limit">
    <xs:annotation>
      <xs:documentation>The upper bound for a request's time limit, in seconds.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="time-limit">
    <xs:annotation>
      <xs:documentation>The request's time limit, in seconds.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="request-text" type="xs:string">
    <xs:annotation>
      <xs:documentation>The request text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="request-rewritten-text" abstract="false" nillable="false" type="text">
    <xs:annotation>
      <xs:documentation>The rewritten request text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="start-time">
    <xs:annotation>
      <xs:documentation>The time the operation started.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="start-time">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="trigger-depth">
    <xs:annotation>
      <xs:documentation>The maximum depth of trigger invocation.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="trigger-depth">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="user" abstract="false" nillable="false" type="user">
    <xs:annotation>
      <xs:documentation>The unique ID of the user executing the request.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="update">
    <xs:annotation>
      <xs:documentation>Specifies if this request an update (true for update requests).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="request-id" abstract="false" nillable="false" type="request-id">
    <xs:annotation>
      <xs:documentation>A unique id for a request.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="canceled">
    <xs:annotation>
      <xs:documentation>Has this request been canceled.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="client-address" abstract="false" nillable="false" type="client-address">
    <xs:annotation>
      <xs:documentation>The network address of a client</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="profiling-allowed">
    <xs:annotation>
      <xs:documentation>Is profiling allowed for this request.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="profiling-enabled">
    <xs:annotation>
      <xs:documentation>Is profiling currently enabled for this request.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="debugging-allowed">
    <xs:annotation>
      <xs:documentation>Is debugging allowed for this request.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="debugging-status" abstract="false" nillable="false" type="debugging-status">
    <xs:annotation>
      <xs:documentation>The debugging status of the request.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="expr-id" abstract="false" nillable="false" type="expr-id">
    <xs:annotation>
      <xs:documentation>The expression id.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="where-stopped">
    <xs:annotation>
      <xs:documentation>Where the request is stopped.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="where-stopped">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="expanded-tree-cache-hits">
    <xs:annotation>
      <xs:documentation>The number of hits on the expanded cache.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="count">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="expanded-tree-cache-misses">
    <xs:annotation>
      <xs:documentation>The number of misses on the expanded cache.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="count">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="retry-count">
    <xs:annotation>
      <xs:documentation>The number of retries on the request.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="count">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifiers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation-group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="request-default">
    <xs:annotation>
      <xs:documentation>Properties of the request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="properties" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="view-type" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-uri" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="related-view" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="list-item">
    <xs:annotation>
      <xs:documentation>A request reflected in the summary.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="relation-id" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="item-properties" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="list-items">
    <xs:annotation>
      <xs:documentation>The requests reflected in the summary.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="list-summary">
    <xs:annotation>
      <xs:documentation>Summary for the requests in the list.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="specified-seconds-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="max-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ninetieth-percentile-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="median-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="mean-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="standard-dev-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="min-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="total-requests" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="update-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="query-count" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="request-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of requests.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-summary" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="error-type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-code" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-message" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="current-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="elapsed-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="view-error" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path to the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="current-time" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for when the view was generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="elapsed-time">
    <xs:annotation>
      <xs:documentation>The time required to construct the view.  The
      elapsed time indicates the relative cost of generating the view.  Consider
      the cost when determining how frequently to request a view. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-min" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for filtering out more recent
      requests or transactions.  
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-message" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-count">
    <xs:annotation>
      <xs:documentation>The number of requests in the list.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="relation-id" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>The host or server for the request.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="specified-seconds-min">
    <xs:annotation>
      <xs:documentation>The minimum number of seconds specified
      to qualify the list of requests or transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-seconds">
    <xs:annotation>
      <xs:documentation>The maximum length in seconds
      for the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ninetieth-percentile-seconds">
    <xs:annotation>
      <xs:documentation>The length in seconds
      for the ninetieth percentile of the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="median-seconds">
    <xs:annotation>
      <xs:documentation>The median length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mean-seconds">
    <xs:annotation>
      <xs:documentation>The mean length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="standard-dev-seconds">
    <xs:annotation>
      <xs:documentation>The standard deviation in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="min-seconds">
    <xs:annotation>
      <xs:documentation>The minimum length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-requests">
    <xs:annotation>
      <xs:documentation>The total number
      of active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-count">
    <xs:annotation>
      <xs:documentation>The total number of active update
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-count">
    <xs:annotation>
      <xs:documentation>The total number of active query
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-transactions">
    <xs:annotation>
      <xs:documentation>The total number
      of open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="view-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="seconds-elapsed">
    <xs:annotation>
      <xs:documentation>How long the request has been
      running.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="uriref" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="typeref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The type of a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="roleref" type="xs:string">
    <xs:annotation>
      <xs:documentation>A role that distinguishes the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-count">
    <xs:annotation>
      <xs:documentation>The number of related resources.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="idref" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>The numeric identifier for the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nameref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="id" type="request-id">
    <xs:annotation>
      <xs:documentation>An id for a request</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="item-properties">
    <xs:annotation>
      <xs:documentation>The status properties of the request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="seconds-elapsed" minOccurs="0" maxOccurs="1"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="canceled"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="root"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="request-kind"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="request-text"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="request-rewritten-text"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="update"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="start-time"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="time-limit"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="max-time-limit"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="user"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="client-address"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="trigger-depth"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="expanded-tree-cache-hits"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="expanded-tree-cache-misses"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="request-state"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="profiling-allowed"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="profiling-enabled"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="debugging-allowed"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="debugging-status"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="retry-count"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="expr-id"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="where-stopped"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="item-properties" type="item-properties">
    <xs:annotation>
      <xs:documentation>The status properties of the request.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="properties">
    <xs:annotation>
      <xs:documentation>Characteristics of the request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="seconds-elapsed" minOccurs="1" maxOccurs="1"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="canceled"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="root"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="request-kind"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="request-text"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="request-rewritten-text"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="update"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="start-time"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="time-limit"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="max-time-limit"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="user"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="client-address"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="trigger-depth"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="expanded-tree-cache-hits"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="expanded-tree-cache-misses"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="request-state"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="profiling-allowed"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="profiling-enabled"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="debugging-allowed"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="debugging-status"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="retry-count"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="expr-id"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="where-stopped"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="properties" type="properties">
    <xs:annotation>
      <xs:documentation>Characteristics of the request.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifier" type="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifiers" type="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation" type="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-group" type="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relations" type="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="request-default" type="request-default">
    <xs:annotation>
      <xs:documentation>Properties of the request.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-view" type="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-views" type="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-item" type="list-item">
    <xs:annotation>
      <xs:documentation>A request reflected in the summary.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-items" type="list-items">
    <xs:annotation>
      <xs:documentation>The requests reflected in the summary.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-summary" type="list-summary">
    <xs:annotation>
      <xs:documentation>Summary for the requests in the list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="request-default-list" type="request-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of requests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-error" type="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="meta" type="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>