apidoc/schema/manage-clusters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--GENERATED SCHEMA - PLEASE DO NOT EDIT-->
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/clusters" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage/clusters" xmlns:cts="http://marklogic.com/cts">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:simpleType name="cluster-id">
    <xs:annotation>
      <xs:documentation>
        A cluster ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="cluster-name">
    <xs:annotation>
      <xs:documentation>
        A cluster name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="request-rate">
    <xs:annotation>
      <xs:documentation>A request rate (requests/sec).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:simpleType name="timeout">
    <xs:annotation>
      <xs:documentation>
        An integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4294967295"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="host-id">
    <xs:annotation>
      <xs:documentation>
        A host unique ID (64-bit value).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="ssl-ciphers-string">
    <xs:annotation>
      <xs:documentation>
        The ID of the certificate template in the security database.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="foreign-hosts">
    <xs:sequence>
      <xs:element ref="foreign-host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>
        true or false
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="foreign-databases">
    <xs:sequence>
      <xs:element ref="foreign-database" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-forests">
    <xs:sequence>
      <xs:element ref="foreign-forest" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="average">
    <xs:annotation>
      <xs:documentation>
        An average.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:complexType name="foreign-host">
    <xs:sequence>
      <xs:element ref="foreign-host-id"/>
      <xs:element ref="foreign-host-name"/>
      <xs:element ref="foreign-connect-port"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-database">
    <xs:sequence>
      <xs:element ref="foreign-database-id"/>
      <xs:element ref="foreign-database-name"/>
      <xs:element ref="enabled"/>
      <xs:element ref="foreign-forest-ids"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-forest">
    <xs:sequence>
      <xs:element ref="foreign-forest-id"/>
      <xs:element ref="foreign-forest-name"/>
      <xs:element ref="foreign-host-id"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="host-name">
    <xs:annotation>
      <xs:documentation>
        A host name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>
        An integer internet port number, min 1, max 65534.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="65534"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="forest-name">
    <xs:annotation>
      <xs:documentation>
        The forest name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
      <xs:pattern value="([^\\*?/:&lt;&gt;|&quot; \.])|([^\\*?/:&lt;&gt;|&quot; \.][^\\*?/:&lt;&gt;|&quot;]*[^\\*?/:&lt;&gt;|&quot; \.])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="forest-id">
    <xs:annotation>
      <xs:documentation>
        The unique id of the forest.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="database-id">
    <xs:annotation>
      <xs:documentation>A database ID.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="foreign-forest-ids">
    <xs:sequence>
      <xs:element ref="foreign-forest-id" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="foreign-host-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="host-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-host-name" abstract="false" nillable="false" type="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign host.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-connect-port">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol client socket connect internet port number.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="port">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="enabled">
    <xs:annotation>
      <xs:documentation>
        Is this enabled.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-database-id" abstract="false" nillable="false" type="database-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign database.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-forest-id" abstract="false" nillable="false" type="forest-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign forest.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-database-name" abstract="false" nillable="false" type="database-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign database.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-forest-ids" abstract="false" nillable="false" type="foreign-forest-ids"/>
  <xs:element name="foreign-forest-name" abstract="false" nillable="false" type="forest-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign forest.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-host" abstract="false" nillable="false" type="foreign-host">
    <xs:annotation>
      <xs:documentation>
        Information related to a particular foreign host.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-database" abstract="false" nillable="false" type="foreign-database">
    <xs:annotation>
      <xs:documentation>
        Information about a particular foreign database.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-forest" abstract="false" nillable="false" type="foreign-forest">
    <xs:annotation>
      <xs:documentation>
        Information about a particular foreign forest.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-id">
    <xs:annotation>
      <xs:documentation>
        The cluster ID.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="cluster-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="cluster-name" abstract="false" nillable="false" type="cluster-name">
    <xs:annotation>
      <xs:documentation>
        The cluster name
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="xdqp-timeout">
    <xs:annotation>
      <xs:documentation>
        The XDQP protocol timeout, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="host-timeout">
    <xs:annotation>
      <xs:documentation>
        The host response timeout, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-ssl-enabled">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSL is enabled for XDQP.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-ssl-allow-sslv3">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSLv3 is allowed for XDQP.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-ssl-allow-tls">
    <xs:annotation>
      <xs:documentation>
        Whether or not TLS is allowed for XDQP.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-cluster-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the foreign cluster.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="cluster-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-cluster-name" abstract="false" nillable="false" type="cluster-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign cluster.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="xdqp-ssl-ciphers" abstract="false" nillable="false" type="ssl-ciphers-string">
    <xs:annotation>
      <xs:documentation>
        A colon separated list of ciphers (e.g. ALL:!LOW:@STRENGTH)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-hosts" abstract="false" nillable="false" type="foreign-hosts">
    <xs:annotation>
      <xs:documentation>
        Information about foreign hosts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="memory-process-swap-rate">
    <xs:annotation>
      <xs:documentation>
        The swap rate for the MarkLogic process in pages/sec.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="memory-system-pagein-rate">
    <xs:annotation>
      <xs:documentation>
        The page in rate for the system in pages/sec.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="memory-system-pageout-rate">
    <xs:annotation>
      <xs:documentation>
        The page out rate for the system in pages/sec.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="memory-system-swapin-rate">
    <xs:annotation>
      <xs:documentation>
        The swap in rate for the system in pages/sec.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="memory-system-swapout-rate">
    <xs:annotation>
      <xs:documentation>
        The swap out rate for the system in pages/sec.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="host-id">
    <xs:annotation>
      <xs:documentation>
        The unique ID of a host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="host-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-read-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of reading query data from disk, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-read-load">
    <xs:annotation>
      <xs:documentation>
	The moving average of the read load on the query, in seconds per second.
        This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="journal-write-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of writing data to the journal, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="journal-write-load">
    <xs:annotation>
      <xs:documentation>
	The moving average of the load for writing to the journal, in 
	seconds per second.  This is summed for all of the threads 
	writing on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="save-write-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of writing data to in-memory stands, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="save-write-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the load for writing to in-memory stands, in 
	seconds per second.  This is summed for all of the threads 
	writing on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="merge-read-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of reading merge data from disk, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="merge-read-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the read load on the merge, in seconds per second.
        This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="merge-write-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of writing data for merges, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="merge-write-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the load for writing for merges, in 
	seconds per second.  This is summed for all of the threads 
	writing on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-read-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of reading backup data from disk, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-read-load">
    <xs:annotation>
      <xs:documentation>
	The moving average of the read load on the backup, in seconds per 
	second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-write-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of writing data for backups, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-write-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the load for writing for backups, in 
	seconds per second.  This is summed for all of the threads 
	writing on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="restore-read-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of reading restore data from disk, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="restore-read-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the read load on the backup, in seconds per 
	second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="restore-write-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of writing data for restores, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="restore-write-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the load for writing for restores, in 
	seconds per second.  This is summed for all of the threads 
	writing on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="large-read-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of reading large documents from disk, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="large-read-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the read load on large documents, in seconds per 
	second. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="large-write-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of writing data for large documents, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="large-write-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the load for writing for large documents, in 
	seconds per second. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="external-binary-read-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of reading external binary documents from disk, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="external-binary-read-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the read load on external binary documents, in seconds per 
	second. 
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-client-receive-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of receiving xdqp client messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-client-receive-load">
    <xs:annotation>
      <xs:documentation>
	The moving average of the receive load for the xdqp client, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-client-receive-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of receiving xdqp client messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-client-receive-load">
    <xs:annotation>
      <xs:documentation>
	The moving average of the receive load for the xdqp client, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-client-send-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of sending xdqp client messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-client-send-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the send load for the xdqp client, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-client-send-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of sending xdqp client messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-client-send-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the send load for the xdqp client, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-server-receive-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of receiving xdqp server messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-server-receive-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the receive load for the xdqp server, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-server-receive-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of receiving xdqp server messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-server-receive-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the receive load for the xdqp server, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-server-send-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of sending xdqp server messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="xdqp-server-send-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the send load for the xdqp server, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-server-send-rate">
    <xs:annotation>
      <xs:documentation>
        The moving average of sending xdqp server messages, in megabytes 
	per second.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-xdqp-server-send-load">
    <xs:annotation>
      <xs:documentation>
        The moving average of the send load for the xdqp server, in 
	seconds per second.  This is summed for all of the contributing threads.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="read-lock-rate">
    <xs:annotation>
      <xs:documentation>
        The rate of taking read locks, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="read-lock-wait-load">
    <xs:annotation>
      <xs:documentation>
        The read lock wait load, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="read-lock-hold-load">
    <xs:annotation>
      <xs:documentation>
        The read lock hold load, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="write-lock-rate">
    <xs:annotation>
      <xs:documentation>
        The rate of taking write locks, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="write-lock-wait-load">
    <xs:annotation>
      <xs:documentation>
        The write lock wait load, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="write-lock-hold-load">
    <xs:annotation>
      <xs:documentation>
        The write lock hold load, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="deadlock-rate">
    <xs:annotation>
      <xs:documentation>
        The rate of taking write locks, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="deadlock-wait-load">
    <xs:annotation>
      <xs:documentation>
        The deadlock wait load, summed across all forests on the host.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:float">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="interesting">
    <xs:annotation>
      <xs:documentation>
        Is this interesting.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bootstrapped">
    <xs:annotation>
      <xs:documentation>
        Is this bootstrapped.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="last-successful-bootstrap">
    <xs:annotation>
      <xs:documentation>
        The time of the last bootstrap.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:dateTime">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-databases" abstract="false" nillable="false" type="foreign-databases">
    <xs:annotation>
      <xs:documentation>
        Information about foreign databases.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-forests" abstract="false" nillable="false" type="foreign-forests">
    <xs:annotation>
      <xs:documentation>
        Information about foreign forests.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-cache-hit-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of hits on the list cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="list-cache-miss-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of misses on the list cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="compressed-tree-cache-hit-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of hits on the compressed cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="compressed-tree-cache-miss-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of misses on the compressed cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="triple-cache-hit-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of hits on the list cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="triple-cache-miss-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of misses on the list cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="triple-value-cache-hit-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of hits on the list cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="triple-value-cache-miss-rate">
    <xs:annotation>
      <xs:documentation>
  	The average number of misses on the list cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="large-binary-cache-hit-rate">
    <xs:annotation>
      <xs:documentation>
        The average number of hits on the large binary cache.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="large-binary-cache-miss-rate">
    <xs:annotation>
      <xs:documentation>
         The average number of misses on the large binary cache.
       </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="expanded-tree-cache-hit-rate">
    <xs:annotation>
      <xs:documentation>The average number of hits on the expanded cache.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="expanded-tree-cache-miss-rate">
    <xs:annotation>
      <xs:documentation>The average number of misses on the expanded cache.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="average">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="request-rate">
    <xs:annotation>
      <xs:documentation>The rate of a request (requests/sec).</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="request-rate">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifiers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation-group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactions-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster transactions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="specified-seconds-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="max-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ninetieth-percentile-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="median-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="mean-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="standard-dev-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="min-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="total-transactions" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transactions-status">
    <xs:annotation>
      <xs:documentation>Status of transactions for the cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="transactions-status-summary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requests-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster requests.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="specified-seconds-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="max-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ninetieth-percentile-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="median-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="mean-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="standard-dev-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="min-seconds" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="total-requests" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="update-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="query-count" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requests-status">
    <xs:annotation>
      <xs:documentation>Status of requests for the cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="requests-status-summary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cache-properties">
    <xs:annotation>
      <xs:documentation>The cache properties for the forests.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list-cache-hit-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-cache-miss-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="triple-cache-hit-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="triple-cache-miss-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="triple-value-cache-hit-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="triple-value-cache-miss-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="compressed-tree-cache-hit-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="compressed-tree-cache-miss-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-cache-ratio" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="triple-cache-ratio" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="triple-value-cache-ratio" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="compressed-tree-cache-ratio" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-binary-cache-hit-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-binary-cache-miss-rate" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forests-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster forests.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="total-forests" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="state-not-open" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="max-stands-per-forest" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="merge-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="restore-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="min-capacity" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="cache-properties" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forests-status">
    <xs:annotation>
      <xs:documentation>Status of forests for the cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests-status-summary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servers-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster servers.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="request-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="expanded-tree-cache-miss-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="expanded-tree-cache-hit-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="request-count" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="servers-status">
    <xs:annotation>
      <xs:documentation>Status of servers for the cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="servers-status-summary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rate-detail">
    <xs:annotation>
      <xs:documentation>The detailed rate characteristics for the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="memory-process-swap-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="memory-system-pagein-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="memory-system-pageout-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="memory-system-swapin-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="memory-system-swapout-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="query-read-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-write-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="save-write-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="merge-read-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="merge-write-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-read-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-write-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="restore-read-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="restore-write-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-read-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-write-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="external-binary-read-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-client-receive-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-client-send-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-server-receive-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-server-send-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-client-receive-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-client-send-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-server-receive-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-server-send-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="read-lock-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="write-lock-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="deadlock-rate" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rate-properties">
    <xs:annotation>
      <xs:documentation>The rate properties of the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="total-rate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="rate-detail" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="load-detail">
    <xs:annotation>
      <xs:documentation>The detailed load characteristics for the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="query-read-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-write-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="save-write-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="merge-read-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="merge-write-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-read-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-write-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="restore-read-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="restore-write-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-read-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-write-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="external-binary-read-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-client-receive-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-client-send-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-server-receive-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="xdqp-server-send-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-client-receive-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-client-send-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-server-receive-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-xdqp-server-send-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="read-lock-wait-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="read-lock-hold-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="write-lock-wait-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="write-lock-hold-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="deadlock-wait-load" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="load-properties">
    <xs:annotation>
      <xs:documentation>The load properties of the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="total-load" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="load-detail" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hosts-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster hosts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="total-hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="load-properties" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="rate-properties" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hosts-status">
    <xs:annotation>
      <xs:documentation>Status of hosts for the cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="hosts-status-summary" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="status-relations">
    <xs:sequence>
      <xs:element ref="hosts-status" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="servers-status" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests-status" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="requests-status" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="transactions-status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="local-cluster-status">
    <xs:annotation>
      <xs:documentation>The status of the local cluster organized by resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="status-relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cluster-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of foreign clusters.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-cluster-config">
    <xs:annotation>
      <xs:documentation>The foreign cluster configuration.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foreign-config-properties" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-cluster-default">
    <xs:annotation>
      <xs:documentation>A list of resources related to the foreign cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="view-type" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-uri" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="related-view" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="query-criteria">
    <xs:annotation>
      <xs:documentation>The criteria that matches the resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="name-match" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="query-properties">
    <xs:annotation>
      <xs:documentation>The properties of the query and its results.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="query-criteria" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="page-start" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="page-length" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="result-count" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cluster-query">
    <xs:annotation>
      <xs:documentation>A list of resources matching the query.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="query-properties" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item-summary">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="item-summary" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-status-properties">
    <xs:annotation>
      <xs:documentation>The operating characteristics of the foreign cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="is-bootstrapped" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="bootstrap-host-detail" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-cluster-status">
    <xs:annotation>
      <xs:documentation>The foreign cluster status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-status-properties" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="error-type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-code" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-message" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="current-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="elapsed-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="view-error" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="local-cluster-default">
    <xs:annotation>
      <xs:documentation>A list of resource types for the local cluster.
  For each resource type, you can request a list of specific resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="role" type="xs:string">
    <xs:annotation>
      <xs:documentation>The role (local or foreign ) of the cluster in the current environment.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path to the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="current-time" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for when the view was generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="elapsed-time">
    <xs:annotation>
      <xs:documentation>The time required to construct the view.  The
      elapsed time indicates the relative cost of generating the view.  Consider
      the cost when determining how frequently to request a view. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-min" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for filtering out more recent
      requests or transactions.  
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-message" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="is-bootstrapped" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>A flag indicating whether all boostrap hosts are bootstrapped to the foreign cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-count">
    <xs:annotation>
      <xs:documentation>The number of items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="name-match" type="xs:string">
    <xs:annotation>
      <xs:documentation>A case-independent substring of the name
        of the resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="page-start" type="xs:string">
    <xs:annotation>
      <xs:documentation>The offset to the first resource in the result page.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="page-length" type="xs:string">
    <xs:annotation>
      <xs:documentation>The number of resources in the result page.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="result-count" type="xs:string">
    <xs:annotation>
      <xs:documentation>The total number of results.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="specified-seconds-min">
    <xs:annotation>
      <xs:documentation>The minimum number of seconds specified
      to qualify the list of requests or transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-seconds">
    <xs:annotation>
      <xs:documentation>The maximum length in seconds
      for the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ninetieth-percentile-seconds">
    <xs:annotation>
      <xs:documentation>The length in seconds
      for the ninetieth percentile of the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="median-seconds">
    <xs:annotation>
      <xs:documentation>The median length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mean-seconds">
    <xs:annotation>
      <xs:documentation>The mean length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="standard-dev-seconds">
    <xs:annotation>
      <xs:documentation>The standard deviation in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="min-seconds">
    <xs:annotation>
      <xs:documentation>The minimum length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-requests">
    <xs:annotation>
      <xs:documentation>The total number
      of active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-count">
    <xs:annotation>
      <xs:documentation>The total number of active update
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-count">
    <xs:annotation>
      <xs:documentation>The total number of active query
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-transactions">
    <xs:annotation>
      <xs:documentation>The total number
      of open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-hosts">
    <xs:annotation>
      <xs:documentation>The total number of hosts.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-forests">
    <xs:annotation>
      <xs:documentation>The total number of forests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="state-not-open">
    <xs:annotation>
      <xs:documentation>The number of forests that aren't open.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-stands-per-forest">
    <xs:annotation>
      <xs:documentation>The maximum number of stands for a forest.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="merge-count">
    <xs:annotation>
      <xs:documentation>The maximum number of forests that are merging.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-count">
    <xs:annotation>
      <xs:documentation>The maximum number of forests that are backing up.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="restore-count">
    <xs:annotation>
      <xs:documentation>The maximum number of forests that are restoring.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="min-capacity">
    <xs:annotation>
      <xs:documentation>The least capacity for a forest as a percentage.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:string">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-load">
    <xs:annotation>
      <xs:documentation>The sum of the processing load factors
        in seconds per second.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:double">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-rate">
    <xs:annotation>
      <xs:documentation>The sum of the processing rate factors
        in seconds per second.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:double">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="list-cache-ratio">
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:string">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="triple-cache-ratio">
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:string">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="triple-value-cache-ratio">
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:string">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="compressed-tree-cache-ratio">
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:string">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="view-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="request-count">
    <xs:annotation>
      <xs:documentation>The total number of requests for the cluster.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:integer">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="uriref" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="typeref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The type of a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="roleref" type="xs:string">
    <xs:annotation>
      <xs:documentation>A role that distinguishes the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-count">
    <xs:annotation>
      <xs:documentation>The number of related resources.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="idref" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>The numeric identifier for the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nameref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="id" type="cluster-id">
    <xs:annotation>
      <xs:documentation>
        A cluster ID.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="cluster-name">
    <xs:annotation>
      <xs:documentation>
        A cluster name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="bootstrap-host-detail">
    <xs:annotation>
      <xs:documentation>A foreign cluster status</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="host-id"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="interesting"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="bootstrapped"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="last-successful-bootstrap"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="foreign-hosts"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="foreign-databases"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="foreign-forests"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:element name="bootstrap-host-detail" type="bootstrap-host-detail">
    <xs:annotation>
      <xs:documentation>A foreign cluster status</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="foreign-config-properties">
    <xs:annotation>
      <xs:documentation>The configuration properties of a foreign cluster.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" ref="foreign-cluster-id"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="foreign-cluster-name"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="xdqp-timeout"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="host-timeout"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="xdqp-ssl-enabled"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="xdqp-ssl-allow-sslv3"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="xdqp-ssl-allow-tls"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="xdqp-ssl-ciphers"/>
      <xs:element minOccurs="1" maxOccurs="1" ref="foreign-hosts"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="foreign-config-properties" type="foreign-config-properties">
    <xs:annotation>
      <xs:documentation>The configuration properties of a foreign cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifier" type="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifiers" type="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation" type="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-group" type="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relations" type="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transactions-status-summary" type="transactions-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster transactions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transactions-status" type="transactions-status">
    <xs:annotation>
      <xs:documentation>Status of transactions for the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="requests-status-summary" type="requests-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster requests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="requests-status" type="requests-status">
    <xs:annotation>
      <xs:documentation>Status of requests for the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="cache-properties" type="cache-properties">
    <xs:annotation>
      <xs:documentation>The cache properties for the forests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forests-status-summary" type="forests-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster forests.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forests-status" type="forests-status">
    <xs:annotation>
      <xs:documentation>Status of forests for the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="servers-status-summary" type="servers-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster servers.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="servers-status" type="servers-status">
    <xs:annotation>
      <xs:documentation>Status of servers for the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rate-detail" type="rate-detail">
    <xs:annotation>
      <xs:documentation>The detailed rate characteristics for the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rate-properties" type="rate-properties">
    <xs:annotation>
      <xs:documentation>The rate properties of the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="load-detail" type="load-detail">
    <xs:annotation>
      <xs:documentation>The detailed load characteristics for the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="load-properties" type="load-properties">
    <xs:annotation>
      <xs:documentation>The load properties of the cluster forests or hosts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="hosts-status-summary" type="hosts-status-summary">
    <xs:annotation>
      <xs:documentation>Summary for the cluster hosts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="hosts-status" type="hosts-status">
    <xs:annotation>
      <xs:documentation>Status of hosts for the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status-relations" type="status-relations"/>
  <xs:element name="local-cluster-status" type="local-cluster-status">
    <xs:annotation>
      <xs:documentation>The status of the local cluster organized by resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-default-list" type="cluster-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of foreign clusters.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-cluster-config" type="foreign-cluster-config">
    <xs:annotation>
      <xs:documentation>The foreign cluster configuration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-cluster-default" type="foreign-cluster-default">
    <xs:annotation>
      <xs:documentation>A list of resources related to the foreign cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-view" type="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-views" type="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="query-criteria" type="query-criteria">
    <xs:annotation>
      <xs:documentation>The criteria that matches the resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="query-properties" type="query-properties">
    <xs:annotation>
      <xs:documentation>The properties of the query and its results.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-query" type="cluster-query">
    <xs:annotation>
      <xs:documentation>A list of resources matching the query.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item-summary">
    <xs:complexType/>
  </xs:element>
  <xs:element name="list-item" type="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-items" type="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-status-properties" type="foreign-status-properties">
    <xs:annotation>
      <xs:documentation>The operating characteristics of the foreign cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="foreign-cluster-status" type="foreign-cluster-status">
    <xs:annotation>
      <xs:documentation>The foreign cluster status.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-error" type="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="meta" type="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="local-cluster-default" type="local-cluster-default">
    <xs:annotation>
      <xs:documentation>A list of resource types for the local cluster.
  For each resource type, you can request a list of specific resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>