apidoc/schema/package-servers.xsd

<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/package/servers" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://marklogic.com/manage/package/servers" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="address">
    <xs:annotation>
      <xs:documentation>
        A numeric internet address.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+\.[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>
        An integer internet port number, min 1, max 65534.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" fixed="false"/>
      <xs:maxInclusive value="65534" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="backlog">
    <xs:annotation>
      <xs:documentation>
        An integer number of connections, min 1, max 4096.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" fixed="false"/>
      <xs:maxInclusive value="4096" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="threadCount">
    <xs:annotation>
      <xs:documentation>
        An integer number of threads, min 1, max 256.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" fixed="false"/>
      <xs:maxInclusive value="256" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="directory-pathname">
    <xs:annotation>
      <xs:documentation>
        It can be absolute or relative.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="request-limit">
    <xs:annotation>
      <xs:documentation>
        An integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0" fixed="false"/>
      <xs:maxInclusive value="4294967295" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeout">
    <xs:annotation>
      <xs:documentation>
        An integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0" fixed="false"/>
      <xs:maxInclusive value="4294967295" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="multi-version-concurrency-control">
    <xs:annotation>
      <xs:documentation>
        contemporaneous or nonblocking
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="contemporaneous"/>
      <xs:enumeration value="nonblocking"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="distribute-timestamps">
    <xs:annotation>
      <xs:documentation>
        fast or strict
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="fast"/>
      <xs:enumeration value="strict"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="authentication">
    <xs:annotation>
      <xs:documentation>
        The authentication mode for the server.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="application-level"/>
      <xs:enumeration value="basic"/>
      <xs:enumeration value="digest"/>
      <xs:enumeration value="digestbasic"/>
      <xs:enumeration value="kerberos-ticket"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="external-security">
    <xs:annotation>
      <xs:documentation>
        External security.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="ssl-certificate-template-id">
    <xs:annotation>
      <xs:documentation>
        The id of the certificate template in the security database.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="ssl-hostname">
    <xs:annotation>
      <xs:documentation>
        A hostname.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="0" fixed="false"/>
      <xs:maxLength value="64" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ssl-ciphers-string">
    <xs:annotation>
      <xs:documentation>
        The id of the certificate template in the security database.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="sgml-entity-mapping">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="none"/>
      <xs:enumeration value="normal"/>
      <xs:enumeration value="math"/>
      <xs:enumeration value="pub"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="output-encoding">
    <xs:annotation>
      <xs:documentation>
        An application server's default output encoding.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="UTF-8"/>
      <xs:enumeration value="ASCII"/>
      <xs:enumeration value="ISO-8859-1"/>
      <xs:enumeration value="ISO-8859-5"/>
      <xs:enumeration value="ISO-8859-6"/>
      <xs:enumeration value="ISO-2022-KR"/>
      <xs:enumeration value="ISO-2022-JP"/>
      <xs:enumeration value="EUC-CN"/>
      <xs:enumeration value="EUC-KR"/>
      <xs:enumeration value="EUC-JP"/>
      <xs:enumeration value="CP932"/>
      <xs:enumeration value="CP936"/>
      <xs:enumeration value="CP949"/>
      <xs:enumeration value="CP950"/>
      <xs:enumeration value="CP1252"/>
      <xs:enumeration value="CP1256"/>
      <xs:enumeration value="KOI8-R"/>
      <xs:enumeration value="GB12052"/>
      <xs:enumeration value="GB18030"/>
      <xs:enumeration value="GB2312"/>
      <xs:enumeration value="HZ-GB-2312"/>
      <xs:enumeration value="BIG5"/>
      <xs:enumeration value="BIG5-HKSCS"/>
      <xs:enumeration value="Shift_JIS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="default-xquery-version">
    <xs:annotation>
      <xs:documentation>
        An application server's default XQuery language version.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="1.0-ml"/>
      <xs:enumeration value="0.9-ml"/>
      <xs:enumeration value="1.0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>
        true or false
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="pre-commit-trigger-limit">
    <xs:annotation>
      <xs:documentation>
        A maximum number of triggers a single statement can invoke.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="trigger-depth">
    <xs:annotation>
      <xs:documentation>
        An integer number of trigger invocation.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="collation">
    <xs:annotation>
      <xs:documentation>
        A collation.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="error-handler">
    <xs:annotation>
      <xs:documentation>
        The error handler.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="url-rewriter">
    <xs:annotation>
      <xs:documentation>
        The URL rewriter.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="output-method">
    <xs:annotation>
      <xs:documentation>
        Per 'method' attribute from xsl:output, one of: "xml", "xhtml", "html", or "text".
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="default"/>
      <xs:enumeration value="xml"/>
      <xs:enumeration value="xhtml"/>
      <xs:enumeration value="html"/>
      <xs:enumeration value="text"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yes-or-no">
    <xs:annotation>
      <xs:documentation>
       Nullable Boolean type accepting values "yes", "no", and "default".
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="default"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="output-cdata-section-namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI string.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="output-cdata-section-localname">
    <xs:annotation>
      <xs:documentation>
       A list of element localname strings
      </xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="output-doctype-public">
    <xs:annotation>
      <xs:documentation>
        A public DOCTYPE string.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="output-doctype-system">
    <xs:annotation>
      <xs:documentation>
        A system DOCTYPE string.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="output-media-type">
    <xs:annotation>
      <xs:documentation>
        A MIME content type name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9A-Za-z.+\-]+/[0-9A-Za-z.+\-]+)?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="output-normalization-form">
    <xs:annotation>
      <xs:documentation>
        A normalization token.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="none"/>
      <xs:enumeration value="NFC"/>
      <xs:enumeration value="NFD"/>
      <xs:enumeration value="NFKD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="yes-or-no-or-omit">
    <xs:annotation>
      <xs:documentation>
       Nullable Boolean type, taking values "yes", "no", and "omit".
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="omit"/>
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="output-version">
    <xs:annotation>
      <xs:documentation>
        A version string.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="ssl-certificate-authority-id">
    <xs:annotation>
      <xs:documentation>
        An SSL certificate authority ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="schema-location">
    <xs:annotation>
      <xs:documentation>
        A URI used to find a schema.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="prefix">
    <xs:annotation>
      <xs:documentation>
        A QName prefix.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="location">
    <xs:annotation>
      <xs:documentation>
        A module location.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="role-id">
    <xs:annotation>
      <xs:documentation>
        Role ids.
      </xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:NMTOKEN"/>
  </xs:simpleType>
  <xs:simpleType name="user-ids">
    <xs:annotation>
      <xs:documentation>
        User ids.
      </xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:NMTOKEN"/>
  </xs:simpleType>
  <xs:simpleType name="blackout-type">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="once"/>
      <xs:enumeration value="recurring"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="start-time">
    <xs:annotation>
      <xs:documentation>
  The starting time (in 24:00 notation).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time"/>
  </xs:simpleType>
  <xs:simpleType name="end-time">
    <xs:annotation>
      <xs:documentation>
  The ending time (in 24:00 notation).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time"/>
  </xs:simpleType>
  <xs:simpleType name="start-date">
    <xs:annotation>
      <xs:documentation>
        The starting date (in MM/DD/YYYY notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="end-date">
    <xs:annotation>
      <xs:documentation>
        The ending date (in MM/DD/YYYY notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="duration">
    <xs:annotation>
      <xs:documentation>
        The duration, specifed as hours:minutes (i.e. 2 hours 5 minutes is 2:05)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:duration"/>
  </xs:simpleType>
  <xs:simpleType name="day">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="monday"/>
      <xs:enumeration value="tuesday"/>
      <xs:enumeration value="wednesday"/>
      <xs:enumeration value="thursday"/>
      <xs:enumeration value="friday"/>
      <xs:enumeration value="saturday"/>
      <xs:enumeration value="sunday"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="schemas" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The schema binding specifications.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="schema" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ssl-client-certificate-authorities" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The certificate authorities that may sign a client certificate.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="ssl-client-certificate-authority" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="namespaces" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The namespace binding specifications.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="namespace" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="using-namespace" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="module-locations" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The module location specifications.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="module-location" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="request-blackouts" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        Users, roles, orperiods for request blackouts.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="request-blackout" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="schema" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A schema binding specification.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="namespace-uri" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="schema-location" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="namespace" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A namespace binding specification.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="prefix" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="namespace-uri" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="using-namespace" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A namespace path URI.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="namespace-uri" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="module-location" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A module location specification.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="namespace-uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="location" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="request-blackout" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A merge blackout period.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="users" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roles" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="blackout-type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="days" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="period" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="period" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A period, with a start and end time/duration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="start-date" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="start-time" minOccurs="0" maxOccurs="1"/>
      <xs:choice minOccurs="1" maxOccurs="1">
	<xs:sequence minOccurs="1" maxOccurs="1">
	  <xs:element ref="end-date" minOccurs="0" maxOccurs="1"/>
	  <xs:element ref="end-time" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
	<xs:element ref="duration" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="days" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A selection of days
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="7">
      <xs:element ref="day" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="package-http-properties">
    <xs:annotation>
      <xs:documentation>The packaged properties of an HTTP server.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" ref="enabled"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="root"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="port"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="webDAV"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="execute"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="display-last-login"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="address"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="backlog"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="threads"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="request-timeout"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="keep-alive-timeout"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="session-timeout"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="max-time-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="default-time-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="static-expires"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="pre-commit-trigger-depth"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="pre-commit-trigger-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="collation"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="authentication"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="internal-security"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="external-security"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="concurrent-request-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="compute-content-length"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="log-errors"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="debug-allow"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="profile-allow"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="default-xquery-version"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="multi-version-concurrency-control"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="distribute-timestamps"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-sgml-character-entities"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-encoding"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-method"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-byte-order-mark"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-cdata-section-namespace-uri"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-cdata-section-localname"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-doctype-public"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-doctype-system"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-escape-uri-attributes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-include-content-type"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-indent"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-indent-untyped"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-media-type"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-normalization-form"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-omit-xml-declaration"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-standalone"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-undeclare-prefixes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-version"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-include-default-attributes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="error-handler"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="schemas"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="namespaces"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="module-locations"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="request-blackouts"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="url-rewriter"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="rewrite-resolves-globally"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-certificate-template"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-allow-sslv3"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-allow-tls"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-hostname"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-ciphers"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-require-client-certificate"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-client-certificate-authorities"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="package-xdbc-properties">
    <xs:annotation>
      <xs:documentation>The packaged properties of an XDBC server.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" ref="enabled"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="root"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="port"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="display-last-login"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="address"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="backlog"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="threads"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="request-timeout"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="keep-alive-timeout"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="session-timeout"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="max-time-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="default-time-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="pre-commit-trigger-depth"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="pre-commit-trigger-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="collation"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="authentication"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="internal-security"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="external-security"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="concurrent-request-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="log-errors"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="debug-allow"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="profile-allow"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="default-xquery-version"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="multi-version-concurrency-control"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="distribute-timestamps"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-sgml-character-entities"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-encoding"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-method"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-byte-order-mark"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-cdata-section-namespace-uri"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-cdata-section-localname"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-doctype-public"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-doctype-system"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-escape-uri-attributes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-include-content-type"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-indent"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-indent-untyped"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-media-type"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-normalization-form"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-omit-xml-declaration"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-standalone"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-undeclare-prefixes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-version"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-include-default-attributes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="schemas"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="namespaces"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="module-locations"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="request-blackouts"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-certificate-template"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-allow-sslv3"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-allow-tls"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-hostname"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-ciphers"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-require-client-certificate"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-client-certificate-authorities"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="optional-timeout">
    <xs:annotation>
      <xs:documentation>
        An optional integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0" fixed="false"/>
      <xs:maxInclusive value="4294967295" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="package-odbc-properties">
    <xs:annotation>
      <xs:documentation>The packaged properties of an ODBC server.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" ref="enabled"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="root"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="port"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="display-last-login"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="address"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="backlog"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="threads"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="connection-timeout"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="max-query-time-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="default-query-time-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="pre-commit-trigger-depth"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="pre-commit-trigger-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="collation"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="authentication"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="internal-security"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="external-security"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="concurrent-request-limit"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="log-errors"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="debug-allow"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="profile-allow"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="default-xquery-version"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="multi-version-concurrency-control"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="distribute-timestamps"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-sgml-character-entities"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-encoding"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-method"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-byte-order-mark"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-cdata-section-namespace-uri"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-cdata-section-localname"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-doctype-public"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-doctype-system"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-escape-uri-attributes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-include-content-type"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-indent"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-indent-untyped"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-media-type"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-normalization-form"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-omit-xml-declaration"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-standalone"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-undeclare-prefixes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-version"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="output-include-default-attributes"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="schemas"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="namespaces"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="module-locations"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="request-blackouts"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-certificate-template"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-allow-sslv3"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-allow-tls"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-hostname"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-ciphers"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-require-client-certificate"/>
      <xs:element minOccurs="0" maxOccurs="1" ref="ssl-client-certificate-authorities"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="start-time" abstract="false" nillable="false" type="start-time">
    <xs:annotation>
      <xs:documentation>
  The starting time (in 24:00 notation).
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="end-time" abstract="false" nillable="false" type="end-time">
    <xs:annotation>
      <xs:documentation>
  The ending time (in 24:00 notation).
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="start-date" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The starting date (in MM/DD/YYYY notation)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="start-date">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="end-date" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The ending date (in MM/DD/YYYY notation)
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="end-date">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="duration" abstract="false" nillable="false" type="duration">
    <xs:annotation>
      <xs:documentation>
        The duration, specifed as hours:minutes (i.e. 2 hours 5 minutes is 2:05)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="day" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A day that this blackout is active.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="day">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="namespace-uri" abstract="false" nillable="false" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="schema-location" abstract="false" nillable="false" type="schema-location">
    <xs:annotation>
      <xs:documentation>
        A schema location.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="prefix" abstract="false" nillable="false" type="prefix">
    <xs:annotation>
      <xs:documentation>
        A QName prefix.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="location" abstract="false" nillable="false" type="location">
    <xs:annotation>
      <xs:documentation>
        A module location.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="roles" abstract="false" nillable="false" type="role-id">
    <xs:annotation>
      <xs:documentation>
        The roles that this blackout is active for.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="users" abstract="false" nillable="false" type="user-ids">
    <xs:annotation>
      <xs:documentation>
        The users that this blackout is active for.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="period" abstract="false" nillable="false" type="period">
    <xs:annotation>
      <xs:documentation>
        A period, which is all day, a start time and a duration, or a
  start and end time.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="days" abstract="false" nillable="false" type="days">
    <xs:annotation>
      <xs:documentation>
        The days that this blackout is active.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="blackout-type" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        What type of blackout is this.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="blackout-type">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="schema" abstract="false" nillable="false" type="schema">
    <xs:annotation>
      <xs:documentation>
        A schema binding specification.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-client-certificate-authority" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An SSL certificate authority
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="ssl-certificate-authority-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="namespace" abstract="false" nillable="false" type="namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace binding specification.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="using-namespace" abstract="false" nillable="false" type="using-namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace path URI.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="module-location" abstract="false" nillable="false" type="module-location">
    <xs:annotation>
      <xs:documentation>
        A module location specification.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="request-blackout" abstract="false" nillable="false" type="request-blackout">
    <xs:annotation>
      <xs:documentation>
        A request blackout specification.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="address" abstract="false" nillable="false" type="address">
    <xs:annotation>
      <xs:documentation>
        The server socket bind numeric internet address.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="port" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The server socket bind internet port number.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="port">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backlog" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The socket listen backlog.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="backlog">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="threads" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The maximum number of server threads allowed.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="threadCount">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="root" abstract="false" nillable="false" type="directory-pathname">
    <xs:annotation>
      <xs:documentation source="http">
        The root document directory pathname.
      </xs:documentation>
      <xs:documentation source="xdbc">
        The module directory root.
      </xs:documentation>
      <xs:documentation source="odbc">
        The module directory root.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="enabled" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Appserver enabled status.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="concurrent-request-limit" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The maximum number of concurrent requests per user.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="request-limit">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="request-timeout" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The request socket recv timeout, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="keep-alive-timeout" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The keep-alive socket recv timeout, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="session-timeout" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The session expiration timeout, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-time-limit" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The upper bound for a request's time limit, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="default-time-limit" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The default time limit for a request, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="multi-version-concurrency-control" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Specifies concurrency control of read-only queries.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="multi-version-concurrency-control">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="distribute-timestamps" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Specifies the distribution of commit timestamps after updates.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="distribute-timestamps">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="static-expires" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Add an "expires" HTTP header for static content to expire after this many seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="authentication" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The authentication scheme to use for this server
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="authentication">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="internal-security" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not the security database is used for authentication and authorization.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="external-security" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        External authentication and authorization configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="external-security">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="schemas" abstract="false" nillable="false" type="schemas">
    <xs:annotation>
      <xs:documentation>
        The schema binding specifications.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-allow-sslv3" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSLv3 is allowed.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ssl-allow-tls" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not TLS is allowed.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ssl-certificate-template" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The certificate template. When
        a certificate template is specified, the App Server uses an SSL
        encrypted protocol (e.g. https, davs, xccs). The certificate
        template specifies the common information for the individual SSL
        certificates needed for each host in the group. <p xmlns="">You can add a new
        certificate template by navigating to
          <a href="/add-certificate-template.xqy">Security &gt; Certificate Templates &gt; Create</a></p>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="ssl-certificate-template-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ssl-hostname" abstract="false" nillable="false" type="ssl-hostname">
    <xs:annotation>
      <xs:documentation>
        The host name for the server's SSL certificate. This is
        useful when many servers are running behind a load balancer. If not
        specified, each host will use a certificate specifying its own hostname.
        Note that per RFC 2459, hostnames must not exceed 64 characters in length.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-ciphers" abstract="false" nillable="false" type="ssl-ciphers-string">
    <xs:annotation>
      <xs:documentation>
        A colon separated list of ciphers (e.g. ALL:!LOW:@STRENGTH)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-require-client-certificate" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not a client certificate is required. This only has an
        effect when one or more more client certificate authorities are
        specified, in which case a value of true will refuse a client request
        if it does not present a valid client certificate.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ssl-client-certificate-authorities" abstract="false" nillable="false" type="ssl-client-certificate-authorities">
    <xs:annotation>
      <xs:documentation>
        Certificate authorities that may sign client certificates for this
        server. Selecting one or more certificate authorities when SSL is
        enabled will require all clients to present a valid certificate signed
        by one of the selected authorities. Clicking on an organization below
        will reveal the certificate authorities for that organization.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="display-last-login" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Indicates whether an appserver should display users' last login
        information.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="webDAV" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        webDAV server versus HTTP server.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="execute" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        True if server executes xquery modules.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="compute-content-length" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Compute content lengths for webDAV.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="log-errors" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Log uncaught request processing errors to ErrorLog.txt.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="debug-allow" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Allow debugging on this server.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="profile-allow" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Allow profiling on this server.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-sgml-character-entities" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Output SGML character entities.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="sgml-entity-mapping">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-encoding" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The default output encoding.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="output-encoding">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="default-xquery-version" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The default XQuery language version for this server.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="default-xquery-version">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="namespaces" abstract="false" nillable="false" type="namespaces">
    <xs:annotation>
      <xs:documentation>
        The namespace binding specifications.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="module-locations" abstract="false" nillable="false" type="module-locations">
    <xs:annotation>
      <xs:documentation>
        The module location specifications.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="pre-commit-trigger-limit" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The maximum number of triggers a single statement can invoke.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="pre-commit-trigger-limit">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="pre-commit-trigger-depth" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The maximum depth of pre-commit trigger invocation.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="trigger-depth">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="collation" abstract="false" nillable="false" type="collation">
    <xs:annotation>
      <xs:documentation>
        The default collation for queries.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-handler" abstract="false" nillable="false" type="error-handler">
    <xs:annotation>
      <xs:documentation>
        The script that handles 400 and 500 errors for this server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="url-rewriter" abstract="false" nillable="false" type="url-rewriter">
    <xs:annotation>
      <xs:documentation>
        The script that rewrites URLs for this server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rewrite-resolves-globally" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Allow rewritten URLs to be resolved from the global MarkLogic Modules/ directory.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="request-blackouts" abstract="false" nillable="false" type="request-blackouts">
    <xs:annotation>
      <xs:documentation>
        Users, roles, or periods during which requests will
        be denied.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="output-method" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      Output method.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="output-method">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-byte-order-mark" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
       The output sequence of octets is to be preceded by a Byte Order Mark.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-cdata-section-namespace-uri" abstract="false" nillable="false" type="output-cdata-section-namespace-uri">
    <xs:annotation>
      <xs:documentation>
      Namespace URI of the "cdata section localname" specified below.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="output-cdata-section-localname" abstract="false" nillable="false" type="output-cdata-section-localname">
    <xs:annotation>
      <xs:documentation>
      Element localname or list of element localnames to be output as CDATA sections.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="output-doctype-public" abstract="false" nillable="false" type="output-doctype-public">
    <xs:annotation>
      <xs:documentation>
      A public identifier to use on the emitted DOCTYPE.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="output-doctype-system" abstract="false" nillable="false" type="output-doctype-system">
    <xs:annotation>
      <xs:documentation>
      A system identifier to use on the emitted DOCTYPE.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="output-escape-uri-attributes" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      Apply Unicode normalization, percent-encoding, and HTML escaping to serialized URI attributes.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-include-content-type" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      Include the content-type declaration when serializing the node.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-indent" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      Pretty-print typed XML (that is, XML for which there is an
    in-scope schema).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-indent-untyped" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
       Pretty-print untyped XML (that is, XML for which there is no
       in-scope schema).
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-media-type" abstract="false" nillable="false" type="output-media-type">
    <xs:annotation>
      <xs:documentation>
      A mimetype representing a media type.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="output-normalization-form" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      A Unicode normalization to be applied to serialized output.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="output-normalization-form">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-omit-xml-declaration" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      Omit the XML declaration in serialized output.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-standalone" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      For a value of "yes" or "no", include "standalone=&lt;value&gt;" in the XML declaration; for a value of "omit", omit "standalone=".
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no-or-omit">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-undeclare-prefixes" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      Undeclare the namespace prefix of any child element that does not bind the prefix of its parent element.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="output-version" abstract="false" nillable="false" type="output-version">
    <xs:annotation>
      <xs:documentation>
       Optionally stipulate conformance to a specific version of the output method.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="output-include-default-attributes" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
       Specifies whether attributes defaulted with a schema should be
    included in the serialization.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="yes-or-no">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="package-http-properties" type="package-http-properties">
    <xs:annotation>
      <xs:documentation>The packaged properties of an HTTP server.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="package-xdbc-properties" type="package-xdbc-properties">
    <xs:annotation>
      <xs:documentation>The packaged properties of an XDBC server.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="connection-timeout" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The idle connection expiration timeout, in seconds, or 0
        to indicate no idle connection timeout.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="optional-timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-query-time-limit" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The upper bound for a query's time limit, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="default-query-time-limit" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The default time limit for a query, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="package-odbc-properties" type="package-odbc-properties">
    <xs:annotation>
      <xs:documentation>The packaged properties of an ODBC server.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:annotation>
    <xs:documentation>
      Schema for package server artifacts.
    </xs:documentation>
    <xs:appinfo>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="metadata">
    <xs:annotation>
      <xs:documentation>
        Package server artifact metadata.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="group" type="xs:token"/>
      <xs:element name="host" type="xs:token"/>
      <xs:element name="package-version" type="xs:string"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="user" type="xs:token"/>
      <xs:element name="platform" type="xs:token"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="links">
    <xs:annotation>
      <xs:documentation>
        Package server artifact links.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="database" type="xs:token" minOccurs="0" maxOccurs="1"/>
      <xs:element name="modules-database" type="xs:token" minOccurs="0" maxOccurs="1"/>
      <xs:element name="last-login-database" type="xs:token" minOccurs="0" maxOccurs="1"/>
      <xs:element name="default-user" type="xs:token" minOccurs="0" maxOccurs="1"/>
      <xs:element name="external-security" type="xs:token" minOccurs="0" maxOccurs="1"/>
      <xs:element name="group-name" type="xs:token"/>
      <xs:element name="privilege" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="module-files">
    <xs:annotation>
      <xs:documentation>
        Package server module files.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="file" type="file" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="file">
    <xs:annotation>
      <xs:documentation>
        Package server module file details.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="uri" type="xs:string"/>
      <xs:element name="collection" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="permission" type="permission" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="kind" type="xs:string"/>
      <xs:element name="hash" type="xs:string"/>
      <xs:element name="external-binary" type="xs:string" minOccurs="0"/>
      <xs:element name="binary-offset" type="xs:unsignedLong" minOccurs="0"/>
      <xs:element name="binary-size" type="xs:unsignedLong" minOccurs="0"/>
      <xs:element name="properties" type="properties" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="properties">
    <xs:annotation>
      <xs:documentation>
        Package server properties.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="permission">
    <xs:annotation>
      <xs:documentation>
        Package server permission.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="capability" type="xs:string"/>
      <xs:element name="role-name" type="xs:string"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="http-server-config">
    <xs:annotation>
      <xs:documentation>
        Package HTTP server artifact configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="server-type" type="xs:token"/>
      <xs:element name="group-name" type="xs:token"/>
      <xs:element name="name" type="xs:token"/>
      <xs:element name="package-http-properties" type="package-http-properties"/>
      <xs:element name="links" type="links"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="odbc-server-config">
    <xs:annotation>
      <xs:documentation>
        Package ODBC server artifact configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="server-type" type="xs:token"/>
      <xs:element name="group-name" type="xs:token"/>
      <xs:element name="name" type="xs:token"/>
      <xs:element name="package-odbc-properties" type="package-odbc-properties"/>
      <xs:element name="links" type="links"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="xdbc-server-config">
    <xs:annotation>
      <xs:documentation>
        Package XDBC server artifact configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="server-type" type="xs:token"/>
      <xs:element name="group-name" type="xs:token"/>
      <xs:element name="name" type="xs:token"/>
      <xs:element name="package-xdbc-properties" type="package-xdbc-properties"/>
      <xs:element name="links" type="links"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="package-server">
    <xs:annotation>
      <xs:documentation>
        Package server artifact.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="metadata" type="metadata"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="package-http-server">
    <xs:annotation>
      <xs:documentation>
        Package HTTP server artifact.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="package-server">
	<xs:sequence>
	  <xs:element name="modules" type="xs:boolean" minOccurs="0"/>
	  <xs:element name="config" type="http-server-config"/>
	  <xs:element name="module-files" type="module-files" minOccurs="0"/>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="package-xdbc-server">
    <xs:annotation>
      <xs:documentation>
        Package XDBC server artifact.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="package-server">
	<xs:sequence>
	  <xs:element name="modules" type="xs:boolean" minOccurs="0"/>
	  <xs:element name="config" type="xdbc-server-config"/>
	  <xs:element name="module-files" type="module-files" minOccurs="0"/>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="package-odbc-server">
    <xs:annotation>
      <xs:documentation>
        Package ODBC server artifact.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="package-server">
	<xs:sequence>
	  <xs:element name="modules" type="xs:boolean" minOccurs="0"/>
	  <xs:element name="config" type="odbc-server-config"/>
	  <xs:element name="module-files" type="module-files" minOccurs="0"/>
	</xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="package-http-server" type="package-http-server">
    <xs:annotation>
      <xs:documentation>
        Package HTTP server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="package-xdbc-server" type="package-xdbc-server">
    <xs:annotation>
      <xs:documentation>
        Package XDBC server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="package-odbc-server" type="package-odbc-server">
    <xs:annotation>
      <xs:documentation>
        Package ODBC server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>