apidoc/schema/SearchML2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:s="http://www.outsideinsdk.com/xmlns/searchml2" targetNamespace="http://www.outsideinsdk.com/xmlns/searchml2" elementFormDefault="qualified" xml:lang="en">
	<xsd:annotation>
		<xsd:documentation>
			SearchML Schema
			
			Copyright (c) Oracle Corporation 2000 - 2007.  All Rights Reserved. 
			All rights reserved.

			This work is protected by United States and international copyright
			laws and contains certain trade secret information. All use of this
			work is governed by the terms of agreements between Oracle
			and its licensees or potential licensees. Disclosure of the contents
			is prohibited.
		</xsd:documentation>
		<xsd:appinfo>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="searchml">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation>
					The root element of a SearchML document (the {@term XML Document Element}).
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
				<xsd:element name="document" type="s:document"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="document">
		<xsd:annotation>
			<xsd:documentation>
				Document elements represent &quot;whole&quot; documents, acting as a container for both {@link doc_content} and
				{@link doc_properties} elements.  They may be encountered at the root level, representing the entire document,
				or as children of other elements.  As a child of {@link doc_content}, documents are fully contained sub-documents,
				such as archived files in a zip document.  As a child of {@link p} (paragraph), documents are embedded
				sub-documents, such as a WordPerfect Graphic embedded in a WordPerfect file.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="doc_properties" type="s:doc_properties"/>
			<xsd:element name="doc_content" type="s:doc_content"/>
		</xsd:choice>
		<xsd:attribute name="type" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					The name of the original encoding format for this document.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="doc_properties">
		<xsd:annotation>
			<xsd:documentation>
				Doc_properties act as a container for {@link doc_property} elements.  They, along with {@link doc_content} elements
				are used to separate the content and properties portions of a {@link document}.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="doc_property" type="s:doc_property" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="doc_property" mixed="true">
		<xsd:annotation>
			<xsd:documentation>
				Doc_property elements contain the text of document meta data (such as document title, see below).
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="type" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
	Common values for the doc_property types:&lt;br>&lt;br>

	comment, keyword, last_saved_by,&lt;br>
	primary_author, subject, title, abstract,&lt;br>
	account, address, attachments,&lt;br>
	authorization, backup_date,&lt;br>
	bill_to, blind_copy, carbon_copy,&lt;br>
	category, checked_by, client,&lt;br>
	completed_date, character_count,&lt;br>
	page_count, word_count, creation_date,&lt;br>
	department, destination, disposition,&lt;br>
	division, edit_minutes, editor, forward_to,&lt;br>
	group, language, last_print_date,&lt;br>
	mail_stop, matter, office, operator,&lt;br>
	owner, project, publisher, purpose,&lt;br>
	received_from, recorded_by,&lt;br>
	recorded_date, reference, revision_date,&lt;br>
	revision_notes, revision_number,&lt;br>
	secondary_author, section, security,&lt;br>
	source, status, doc_type, typist,&lt;br>
	version_date, version_notes, version_number,&lt;br>
	base_file_location, manager, company
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="doc_content">
		<xsd:annotation>
			<xsd:documentation>
				Doc_content acts as a container for a documents {@link p paragraphs}, or for other {@link document documents}.
				They, along with {@link doc_properties} elements are used to separate the content and properties portions of
				a {@link document}.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="p" type="s:p"/>
			<xsd:element name="document" type="s:document"/>
			<xsd:element name="doc_content" type="s:doc_content"/>
			<xsd:element name="sheet" type="s:sheet"/>
		</xsd:choice>
		<xsd:attribute name="type" type="s:EDocContentType" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Describes what kind, or the intent of, the container that this doc_content is.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="generated" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="r" type="s:r">
				<xsd:annotation>
					<xsd:documentation>
						Generated Text.  Generated text comes from such items as date,
						time, or number formatting.  It was not actually text in the input
						document, and does not count towards offset.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record" type="s:record"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="record">
		<xsd:annotation>
			<xsd:documentation>
			Archive record.  record represents an entry in an archive and contains an archived sub-document.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="p" type="s:p"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="p" mixed="true">
		<xsd:annotation>
			<xsd:documentation>
				p, or paragraph elements contain the actual text content of a document.  They may also contain elements for
				tagging sections of that content, (see {@link begin_tag} and {@link end_tag}), or for delineating sub content
				or sub documents.  p elements also contain attributes describing the style of the paragraph.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="begin_tag" type="s:begin_tag"/>
			<xsd:element name="end_tag" type="s:end_tag"/>
			<xsd:element name="document" type="s:document"/>
			<xsd:element name="doc_content" type="s:doc_content"/>
			<xsd:element name="doc_property" type="s:doc_property"/>
			<xsd:element name="r" type="s:r"/>
			<xsd:element name="offset" type="s:offset">
				<xsd:annotation>
					<xsd:documentation>
						Text offset.  The offset specified flows until the end of the
						enclosing p or the next specified offset.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="generated" type="s:generated"/>
			<xsd:element name="record" type="s:record"/>
		</xsd:choice>
		<xsd:attribute name="s" type="xsd:string" use="optional"/>
		<xsd:attribute name="spacing" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
				Line spacing.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="h" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Height
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="ri" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Right indent.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="li" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Left indent.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="fli" type="xsd:integer" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					First line indent.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="offset" type="xsd:nonNegativeInteger" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Text offset.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oce" type="xsd:hexBinary" use="optional">
			<xsd:annotation>
				<xsd:documentation>
				Original Character Encoding.  If oce is requested it will appear early
				in the document, and will only appear on either a paragraph or run when
				it changes.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="r" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="offset" type="s:offset">
				<xsd:annotation>
					<xsd:documentation>
						Text offset.  The offset specified flows out from the parent run
						influencing all following content and runs until the end of the
						enclosing p or the next specified offset.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="begin_tag" type="s:begin_tag"/>
			<xsd:element name="end_tag" type="s:end_tag"/>
		</xsd:choice>
		<xsd:attribute name="b" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Bold.  While this attribute can be set to on or off, there is no
					compelling reason to set it to off since off is the default value
					of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="i" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Italic.  While this attribute can be set to on or off, there is no
					compelling reason to set it to off since off is the default value
					of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="u" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Underline.  While this attribute can be set to on or off, there is no
					compelling reason to set it to off since off is the default value
					of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="du" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Double Underline.  While this attribute can be set to on or off,
					there is no compelling reason to set it to off since off is the
					default value of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="outline" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Outline.  While this attribute can be set to on or off, there is no
					compelling reason to set it to off since off is the default value
					of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="hidden" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Hidden text.  Optionally, SearchML can be prevented from producing hidden text.  The hidden
					text option affects both normal hidden text, and text that was deleted during a revision.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="so" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Strike Out.  While this attribute can be set to on or off, there is no
					compelling reason to set it to off since off is the default value
					of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="smallcaps" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Small Caps.  While this attribute can be set to on or off, there is no
					compelling reason to set it to off since off is the default value
					of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="allcaps" type="s:EOnOff" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					All Caps.  While this attribute can be set to on or off, there is no
					compelling reason to set it to off since off is the default value
					of the parent
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="oce" type="xsd:hexBinary" use="optional">
			<xsd:annotation>
				<xsd:documentation>
				Original Character Encoding.  If oce is requested it will appear early
				in the document, and will only appear on either a paragraph or run when
				it changes.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unknown_mapping" type="s:EOnOff" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="offset">
		<xsd:annotation>
			<xsd:documentation>
				Text offset.  The offset specified flows out from the parent run
				influencing all following content and runs until the end of the
				enclosing p or the next specified offset.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="value" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="begin_tag">
		<xsd:annotation>
			<xsd:documentation>
				Begins a &quot;tagged&quot; area of textual content, the interpretation of which depends on the value of this elements
				&quot;type&quot; attribute.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="type" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Defines the intent, or purpose of this &quot;tagged&quot; area of textual content.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="end_tag">
		<xsd:annotation>
			<xsd:documentation>
				Ends a &quot;tagged&quot; area of textual content, matching the most recent {@link begin_tag} with an identical
				&quot;type&quot; attribute.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="type" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>
					Defines the intent, or purpose of this &quot;tagged&quot; area of textual content.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="EOnOff">
		<xsd:annotation>
			<xsd:documentation>
				Defines possible values of &quot;on&quot; or &quot;off&quot;.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="on"/>
			<xsd:enumeration value="off"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EDocContentType">
		<xsd:annotation>
			<xsd:documentation>
				Defines the possible values for the &quot;type&quot; of content a {@link doc_content} container element may contain.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="body">
				<xsd:annotation>
					<xsd:documentation>
						Normal document content.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="sub_doc"/>
			<xsd:enumeration value="frame"/>
			<xsd:enumeration value="text_box"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="sheet">
		<xsd:annotation>
			<xsd:documentation>
				Sheet Element.  This element represents information related to sheets.  The name of a
				worksheet in a spreadsheet, for example.  If the name attribute is missing, this
				indicates that a sheet is present, but no name information was available.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					Provides the name of the sheet if a name was available.
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
