apidoc/schema/security.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/security"
 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd
                     http://www.w3.org/1999/xhtml xhtml-inlstyle-1.xsd"
 xmlns="http://marklogic.com/xdmp/security"
 xmlns:admin="http://marklogic.com/xdmp/admin"
 xmlns:sec="http://marklogic.com/xdmp/security"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xhtml="http://www.w3.org/1999/xhtml">

  <?xdmp-annotations?>

  <xs:simpleType name="document-uri">
    <xs:annotation>
      <xs:documentation>
        A document URI.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="document-uri" type="document-uri">
    <xs:annotation>
      <xs:documentation>
	A document's URI.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
          <span style="color:#800000">document uri</span> specifies the URI 
	  of the document in which the function is defined.  If the function
          resides in a module in the filesystem under the 
	  <code><em>marklogic-dir</em>/Modules</code> directory, then
	  the URI starts with a forward slash and is the path to the XQuery
	  module (for example, <code>/MarkLogic/security.xqy</code>).</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="local-name">
    <xs:annotation>
      <xs:documentation>
        A function local-name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="local-name" type="local-name">
    <xs:annotation>
      <xs:documentation>
	A function local-name.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
          <span style="color:#800000">local name</span> is 
          the local name of the function.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="namespace" type="namespace">
    <xs:annotation>
      <xs:documentation>
	A namespace.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">name space</span> 
          specifies the namespace in which the function is defined.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="amp" type="amp">
    <xs:annotation>
      <xs:documentation>
  	A role amplification.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />Amp Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text">An 
          <span style="color:#800000">Amp</span> grants 
          additional roles to a user temporarily while the user is 
          performing a certain task (executing a function). For
          each amp, configure the following:</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">The 
          <span style="color:#800000">Summary</span>
          tab displays a list of all of the currently configured amps, 
          including the roles assigned to each amp.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Describe</span>
          tab, accessible from the Configuration page for each amp, 
          lists all of the roles associated with the amp.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Create</span>
          tab allows you to create new amps.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">delete</span> button deletes the 
          amp permanently. </span></li>
        </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="amp">
    <xs:annotation>
      <xs:documentation>
	The amplification of additional roles.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="amp-id"/>
      <xs:element ref="local-name"/>
      <xs:element ref="namespace"/>
      <xs:element ref="document-uri"/>
      <xs:element ref="database"/>
      <xs:element ref="role-ids"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="action">
    <xs:annotation>
      <xs:documentation>
        A function, built-in name, or representation of something to protect.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="action" type="action">
    <xs:annotation>
      <xs:documentation>
  	A URI to protect.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">uri</span> 
          specifies the protected base URI.</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">action</span> 
              is a URI used to decribe the protected action.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="kind">
    <xs:annotation>
      <xs:documentation>
	The kind of privilege: execute, collection, or uri
      </xs:documentation>
      <xs:appinfo>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="execute"/>
      <xs:enumeration value="uri"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="kind" type="kind">
    <xs:annotation>
      <xs:documentation>
  	A protected "action" (or object).
      </xs:documentation>
      <xs:appinfo>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="privilege" type="privilege">
    <xs:annotation>
      <xs:documentation>
  	Privilege representation.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />URI Privilege Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text">A 
          <span style="color:#800000">URI Privilege</span> 
          specifies the right to create a document within a base URI.  Only 
          roles associated with the URI privilege can create documents 
          within the base URI.  For each privilege, configure the 
          following:</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />Execute Privilege Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text">An <span style="color:#800000">Execute 
          Privilege</span> specifies a protected action.  Only roles 
          associated with the execute privilege can perform the protected 
          action.  For each privilege, configure the following:</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">The 
          <span style="color:#800000">Summary</span>
          tab displays a list of all of the currently configured excecute 
          privileges, including the roles assigned to each 
          privilege. Click on the name of a privilege to configure 
          it.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Describe</span>
          tab, accessible from the Configuration page for each privilege, 
          lists all of the roles associated with the privilege.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Create</span>
          tab allows you to create new excecute privileges.</span></li>
        </ul>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">The 
          <span style="color:#800000">Summary</span>
          tab displays a list opf all of the currently configured URI 
          privileges, including the roles assigned to each 
          privilege.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Describe</span>
          tab, accessible from the Configuration page for each privilege, 
          lists all of the roles associated with the privilege.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Create</span>
          tab allows you to create new URI privileges.</span></li>
        </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="privilege">
    <xs:annotation>
      <xs:documentation>
	A privilege on a function/built-in.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="privilege-id"/>
      <xs:element ref="privilege-name"/>    
      <xs:element ref="action"/>    
      <xs:element ref="kind"/>    
      <xs:element ref="role-ids"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="capability">
    <xs:annotation>
      <xs:documentation>
        The action permitted on an object.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="read"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="insert"/>
      <xs:enumeration value="execute"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="capability" type="capability">
    <xs:annotation>
      <xs:documentation>
  	The action/task permitted by a permission
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="permission">
    <xs:annotation>
      <xs:documentation>
	A permission.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="role-id"/>
      <xs:element ref="capability"/>    
    </xs:all>
  </xs:complexType>

  <xs:element name="permission" type="permission">
    <xs:annotation>
      <xs:documentation>
  	Permission representation.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">A 
          <span style="color:#800000">permission</span> 
          is a pairing of a role with a capability (read, insert, update, 
          execute). </span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="permissions">
    <xs:annotation>
      <xs:documentation>
	A set of permissions
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="permission"/>
    </xs:choice>
  </xs:complexType>

  <xs:element name="permissions" type="permissions">
    <xs:annotation>
      <xs:documentation>
	The default set of permissions used in document creation.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">A 
          <span style="color:#800000">permission</span> 
          is a pairing of a role with a capability (read, insert, update, 
          execute).  <span style="color:#800000">default permissions</span> are 
          optional fields that specify the default document permissions 
          associated with the user.  If the user does not explicitly specify 
          permissions during document creation, the document will have the 
          user's default permissions</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  

  <xs:element name="collections" type="collections">
    <xs:annotation>
      <xs:documentation>
	The default set of collections used in document creation.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">default 
          collections</span> are optional fields that specify the 
          default document collections 
          associated with the user.  If the user does not explicitly specify 
          collections during document creation, the document will have 
          the user's default collections.  A document can belong any number 
          of collections.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="collections">
    <xs:annotation>
      <xs:documentation>
	A set of collection uri's
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="uri"/>
    </xs:choice>
  </xs:complexType>
  
  <xs:element name="compartment" type="compartment">
    <xs:annotation>
      <xs:documentation>
        The compartment that this role is part of.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
		<span class="help-text">A 
		<span style="color:#800000">compartment</span>
		is an optional field that places the role into the named 
		compartment.  If a document has any permissions 
		(role/capability pairs) with roles that have a compartment, 
		then the user must have those roles with each of the 
		compartments (regardless of which permission they are in) 
		to perform any of the capabilites.  
	  </span>
        </admin:help>
	<admin:optional>true</admin:optional>
        <admin:default>""</admin:default>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="compartment">
    <xs:annotation>
      <xs:documentation>
	A compartment for a role.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="role-name" type="role-name">
    <xs:annotation>
      <xs:documentation>
        The Role name (unique)
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">role name</span> 
          is the name of the role.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="role-id" type="id">
    <xs:annotation>
      <xs:documentation>
  	A role identifier (unique key).
      </xs:documentation>
      <xs:appinfo>
        <admin:default>xdmp:random()</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="role">
    <xs:annotation>
      <xs:documentation>
	A security role
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="role-id"/>
      <xs:element ref="role-name"/>
      <xs:element ref="description"/>
      <xs:element ref="compartment" minOccurs="0"/>
      <xs:element ref="external-names"/>
      <xs:element ref="role-ids"/>    
      <xs:element ref="permissions"/>
      <xs:element ref="collections"/>
    </xs:all>
  </xs:complexType>
  
  <xs:element name="role" type="role">
    <xs:annotation>
      <xs:documentation>
  	A security role.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />Role Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text">A <span style="color:#800000">Role</span> 
          gives privileges and permissions to a user.</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">The 
          <span style="color:#800000">Summary</span>
          tab displays a list opf all of the currently configured users,
          including the roles assigned to each user.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Configure</span>
          tab allows you to edit existing users.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Create</span>
          tab allows you to create new users.</span></li>
        </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="role-ids">
    <xs:annotation>
      <xs:documentation>
	A set of role-ids
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="role-id"/>
    </xs:choice>
  </xs:complexType>

  <xs:element name="role-ids" type="role-ids">
    <xs:annotation>
      <xs:documentation>
	The roles assigned.
        <admin:user>The roles assigned to the user.</admin:user>
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"> A user or another role can have multiple 
          <span style="color:#800000">roles</span>.  Roles assigned 
          to a user (or role) give privileges and permissions to the 
          user (or role). Check any roles to associate them with this 
          configuration.</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">URI 
          privileges</span> 
          specifies the URI privileges associated with the role.</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">execute 
          privileges</span> specifies the execute privileges associated 
          with the role.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  

  <xs:simpleType name="password">
    <xs:annotation>
      <xs:documentation>
        Encrypted Password.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="password" type="password">
    <xs:annotation>
      <xs:documentation>
        Encrypted Password.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">password</span> 
          is the password for the user.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="digest-password" type="password">
    <xs:annotation>
      <xs:documentation>
        Password encryped for digest authentication
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="ntlmpassword" type="password">
    <xs:annotation>
      <xs:documentation>
        Encrypted password for ntlm authentication
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="password-extra">
    <xs:annotation>
      <xs:documentation>
        For storing extra information for password checking.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="password-extra" type="password-extra">
    <xs:annotation>
      <xs:documentation>
        For storing extra information for password checking.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="description">
    <xs:annotation>
      <xs:documentation>
        An object's description.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:element name="description" type="description">
    <xs:annotation>
      <xs:documentation>
  	An object's description.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">description</span>
          is an optional field to describe the user.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="external-name">
    <xs:annotation>
      <xs:documentation>
        An External Name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:element name="external-name" type="external-name">
    <xs:annotation>
      <xs:documentation>
  	The name used to match external group name.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">external-name</span>
          The name used to match external group name</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="external-names">
    <xs:annotation>
      <xs:documentation>
        The name contains names that match external group names.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="external-name"/>
    </xs:choice>
  </xs:complexType> 
  
  <xs:element name="external-names" type="external-names">
    <xs:annotation>
      <xs:documentation>
        The external names specifications.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">default 
            external names</span> TBD.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  
  <xs:simpleType name="user-name">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-zA-Z0-9._@-]+"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="role-name">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="amp-id" type="id">
    <xs:annotation>
      <xs:documentation>
  	A amp identifier (unique key).
      </xs:documentation>
      <xs:appinfo>
        <admin:default>xdmp:random()</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="database" type="id">
    <xs:annotation>
      <xs:documentation>
  	A database the module is found in.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>0</admin:default>
	<admin:optional>true</admin:optional>
	<admin:select>database</admin:select>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
	  <span style="color:#800000">database</span> specifies the
	  name of the database in which the amped function resides. If
	  filesystem is selected, then the module which contains the 
	  function must be under the
	  <code><em>marklogic-dir</em>/Modules</code> directory.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="privilege-id" type="id">
    <xs:annotation>
      <xs:documentation>
  	A privilege identifier (unique key).
      </xs:documentation>
      <xs:appinfo>
        <admin:default>xdmp:random()</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="privilege-name">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="privilege-name" type="privilege-name">
    <xs:annotation>
      <xs:documentation>
  	Privilege name (unique)
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">privilege 
          name</span> is the name of the URI privilege.</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">privilege 
          name</span> is the name of the execute privilege.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="user-name" type="user-name">
    <xs:annotation>
      <xs:documentation>
  	User/login name (unique)
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">user name</span> 
          is the name of the user.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
        An object's unique id.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>


  <xs:element name="user-id" type="id">
    <xs:annotation>
      <xs:documentation>
  	A user/login id (unique key).
      </xs:documentation>
      <xs:appinfo>
        <admin:default>xdmp:random()</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="user">
    <xs:annotation>
      <xs:documentation>
        The user object
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="user-id"/>
      <xs:element ref="user-name"/>
      <xs:element ref="description"/>
      <xs:element ref="password"/>
      <xs:element ref="digest-password"/>
      <xs:element ref="external-names"/>
      <xs:element ref="password-extra" minOccurs="0"/>
      <xs:element ref="role-ids"/>    
      <xs:element ref="permissions"/>
      <xs:element ref="collections"/>
    </xs:all>
  </xs:complexType>
  
  <xs:element name="user" type="user">
    <xs:annotation>
      <xs:documentation>
  	A database user.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />User Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text">A <span style="color:#800000">user</span> is 
          a user of the system. For each user, configure the following:</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
          <span class="help-text"><p>Buttons and Tabs:</p></span>
          <ul>
            <li><span class="help-text">The 
            <span style="color:#800000">Summary</span>
            tab displays a list opf all of the currently configured users,
            including the roles assigned to each user.</span></li>
            <li><span class="help-text">The 
            <span style="color:#800000">Configure</span> tab allows you to edit 
            existing users.</span></li>
            <li><span class="help-text">The 
            <span style="color:#800000">Create</span>
            tab allows you to create new users.</span></li>
          </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="external-security-id" type="id">
    <xs:annotation>
      <xs:documentation>
        An external security id (unique key).
      </xs:documentation>
      <xs:appinfo>
        <admin:default>xdmp:random()</admin:default>
        <admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="external-security-name">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="external-security-name" type="external-security-name">
    <xs:annotation>
      <xs:documentation>
        External security name (unique)
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">external security name</span>
          is the name of an external security.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="authentication">
    <xs:annotation>
      <xs:documentation>
        Authentication
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="ldap"/>
      <xs:enumeration value="kerberos"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="authentication" type="authentication">
    <xs:annotation>
      <xs:documentation>
        Authentication
      </xs:documentation>
      <xs:appinfo>
        <admin:select>external-authentication</admin:select>
        <admin:default>"ldap"</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">authentication</span>
        specifies external authentication.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="timeout">
    <xs:annotation>
      <xs:documentation>
        An integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="4294967295"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="cache-timeout" type="timeout">
    <xs:annotation>
      <xs:documentation>
        The login cache timeout, in seconds.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"300"</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">cache timeout</span>
        specifies login cache timeout.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="authorization">
    <xs:annotation>
      <xs:documentation>
        An authorization scheme.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="internal"/>
      <xs:enumeration value="ldap"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="authorization" type="authorization">
    <xs:annotation>
      <xs:documentation>
        An authorization scheme.
      </xs:documentation>
      <xs:appinfo>
        <admin:select>external-authorization</admin:select>
        <admin:default>"internal"</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">authorization</span>
        specifies the authorization scheme.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="ldap-server-uri">
    <xs:annotation>
      <xs:documentation>
        ldap server uri.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ldap-server-uri" type="ldap-server-uri">
    <xs:annotation>
      <xs:documentation>
        URI of the ldap server. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">ldap server uri</span>
        specifies URI referring to the ldap server.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="ldap-base">
    <xs:annotation>
      <xs:documentation>
        ldap base.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ldap-base" type="ldap-base">
    <xs:annotation>
      <xs:documentation>
        starting point for search. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">ldap base</span>
        specifies starting point for the search.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="ldap-attribute">
    <xs:annotation>
      <xs:documentation>
        ldap attribute.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ldap-attribute" type="ldap-attribute">
    <xs:annotation>
      <xs:documentation>
        ldap attribute for user lookup. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">ldap attribute</span>
        specifies a ldap attribute that matches the username in xdmp:login or basic authentication.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="ldap-default-user">
    <xs:annotation>
      <xs:documentation>
        ldap default user.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ldap-default-user" type="ldap-default-user">
    <xs:annotation>
      <xs:documentation>
        ldap user used by MarkLogic server. 
        Required if authentication is kerberos and authorization is ldap.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">ldap default user</span>
        specifies a default user used by MarkLogic server.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="ldap-password">
    <xs:annotation>
      <xs:documentation>
        ldap password.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="ldap-password" type="ldap-password">
    <xs:annotation>
      <xs:documentation>
        password of the default ldap user. 
        Required if authentication is kerberos and authorization is ldap.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text">
        <span style="color:#800000">ldap password</span>
        specifies password of the default ldap user.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="external-security">
    <xs:annotation>
      <xs:documentation>
        External security object
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="external-security-id"/>
      <xs:element ref="external-security-name"/>
      <xs:element ref="description"/>
      <xs:element ref="authentication"/>
      <xs:element ref="cache-timeout"/>
      <xs:element ref="authorization"/>
      <xs:element ref="ldap-server-uri"/>
      <xs:element ref="ldap-base"/>
      <xs:element ref="ldap-attribute"/>
      <xs:element ref="ldap-default-user"/>
      <xs:element ref="ldap-password"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="external-security" type="external-security">
    <xs:annotation>
      <xs:documentation>
        An external authentication and authorization config.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />External Security Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text">An <span style="color:#800000">external security</span> is
          an external authentication and authorization config of the system. 
          For each config, configure the following:</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
          <span class="help-text"><p>Buttons and Tabs:</p></span>
          <ul>
            <li><span class="help-text">The
            <span style="color:#800000">Summary</span>
            tab displays a list opf all of the currently configured external securities.
            </span></li>
            <li><span class="help-text">The
            <span style="color:#800000">Configure</span> tab allows you to edit
            existing external securities.</span></li>
            <li><span class="help-text">The
            <span style="color:#800000">Create</span>
            tab allows you to create new external securities.</span></li>
          </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="collection-id" type="id">
    <xs:annotation>
      <xs:documentation>
  	A collection id (unique key).
      </xs:documentation>
      <xs:appinfo>
        <admin:default>xdmp:random()</admin:default>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="uri">
    <xs:annotation>
      <xs:documentation>
        The uri for the collection.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="uri" type="uri">
    <xs:annotation>
      <xs:documentation>
  	The collection uri.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>""</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"><span style="color:#800000">uri</span> 
          specifies the URI of this collection.</span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">A 
          <span style="color:#800000">permission </span> 
          pairs a role with a capability.  Only read and update 
          capabilities apply for collections.  <p>Permissions defined at 
          the collection level only apply to the collection; they do not 
          apply to documents within the collection.</p>
          <p>To insert or remove a document from a database, update 
          permission is needed at both the document and collection 
          levels.</p></span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="collection">
    <xs:annotation>
      <xs:documentation>
        The collection object
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="collection-id"/>
      <xs:element ref="uri"/>
    </xs:all>
  </xs:complexType>
  
  <xs:element name="collection" type="collection">
    <xs:annotation>
      <xs:documentation>
  	A collection object.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />Collection Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text"><p>A 
          <span style="color:#800000">Collection</span> 
          enables the retrieval of a set of related documents as a unit.
          A document can belong to any number of collections. </p>
          <p>A collection can be 
          protected or unprotected. A collection 
          created within the Admin Interface is a protected collection 
          and is stored in the security database. An unprotected 
          collection (created simply by a document stating that it belongs 
          to that collection upon document creation or update) is not 
          explicitly stored as an object in the security database.</p>
          <p>For each collection, specify the following:</p></span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">The 
          <span style="color:#800000">Summary</span>
          tab displays a list of all of the currently configured 
          collections, including the permissions assigned to each 
          collection.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Describe</span>
          tab, accessible from the Configuration page for each collection, 
          lists all of the permissions associated with the 
          collection.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Create</span>
          tab allows you to create new collections.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">delete</span> 
          button deletes the protected collection permanently (but it does
          not delete any documents that might be in the 
          collection). </span></li>
        </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="version" type="xs:double">
    <xs:annotation>
      <xs:documentation>
        The security database version.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="realm">
    <xs:annotation>
      <xs:documentation>
        An authentication realm.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="realm" type="realm">
    <xs:annotation>
      <xs:documentation>
        The authentication realm.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"public"</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />Security Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text">
        <span style="color:#800000">Realm</span>
          is the realm of the security database. It is used in authentication 
          and also forms part of the hash for digest authentication.  Changing 
          it invalidates all user digest passwords.</span>
          <hr class="control-line" size="1"/>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="metadata">
    <xs:annotation>
      <xs:documentation>
        Metadata about the database
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="version"/>
      <xs:element ref="realm"/>
    </xs:all>
  </xs:complexType>
  
  <xs:element name="metadata" type="metadata">
    <xs:annotation>
      <xs:documentation>
        Metadata about the database
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="aws-access-key">
    <xs:annotation>
      <xs:documentation>
        An Amazon Web Services access key.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="aws-access-key" type="aws-access-key">
    <xs:annotation>
      <xs:documentation>
        The Amazon Web Services access key.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"public"</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
          <span style="color:#800000">aws-access-key</span>
          is an Amazon Web Services access key to be used when 
          accessing the Amazon Simple Storage Service (S3).</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="aws-secret-key">
    <xs:annotation>
      <xs:documentation>
        An Amazon Web Services secret key
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="aws-secret-key" type="aws-secret-key">
    <xs:annotation>
      <xs:documentation>
        The Amazon Web Services secret key.
      </xs:documentation>
      <xs:appinfo>
        <admin:default>"public"</admin:default>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">
          <span style="color:#800000">aws-access-key</span>
          is an Amazon Web Services secret key to be used when
          accessing the Amazon Simple Storage Service (S3).</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="credentials">
    <xs:annotation>
      <xs:documentation>
        Credentials
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="aws-access-key"/>
      <xs:element ref="aws-secret-key"/>
    </xs:all>
  </xs:complexType>
  
  <xs:element name="credentials" type="credentials">
    <xs:annotation>
      <xs:documentation>
        Credentials
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />Credentials Configuration Help<br/><br/>
          </span>
          <span class="help-text">
          <hr class="control-line" size="1"/>
	  Here you can configure credentials to be used when accessing external services:</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

</xs:schema>  
