apidoc/schema/tidy.xsd

<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="xdmp:tidy"
 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
 elementFormDefault="qualified"
 xmlns="xdmp:tidy"
 xmlns:xdmp="http://marklogic.com/xdmp"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <xs:simpleType name="add-xml-decl">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="add-xml-space">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="alt-text">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="assume-xml-procins">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="bare">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="clean">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="css-prefix">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="doctype">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="omit"/>
      <xs:enumeration value="strict"/>
      <xs:enumeration value="loose"/>
      <xs:enumeration value="traditional"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="drop-empty-paras">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="drop-front-tags">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="drop-proprietary-attributes">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enclose-block-text">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="enclose-text">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="escape-cdata">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fix-backslash">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fix-bad-comments">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fix-uri">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hide-comments">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="hide-endtags">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="indent-cdata">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="input-xml">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="join-classes">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="join-styles">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="literal-attributes">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="logical-emphasis">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="lower-literals">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="merge-divs">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ncr">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="new-blocklevel-tags">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="new-empty-tags">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="new-inline-tags">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="new-pre-tags">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="numeric-entities">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="output-html">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="output-xhtml">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="output-xml">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quote-ampersand">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quote-marks">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quote-nbsp">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="repeated-attributes">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="keep-first"/>
      <xs:enumeration value="keep-last"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="replace-color">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="show-body-only">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="uppercase-attributes">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="uppercase-tags">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="word-2000">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="accessibility-check">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="show-warnings">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="break-before-br">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="indent">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
      <xs:enumeration value="auto"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="indent-attributes">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="markup">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="punctuation-wrap">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="split">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="vertical-space">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wrap-asp">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wrap-attributes">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wrap-jste">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wrap-php">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wrap-script-literals">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="wrap-sections">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="force-output">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="keep-time">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="quiet">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="tidy-mark">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
      <xs:enumeration value="true"/>
      <xs:enumeration value="false"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="option">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:NCName" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="lang">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ar"/>
      <xs:enumeration value="de"/>
      <xs:enumeration value="en"/>
      <xs:enumeration value="es"/>
      <xs:enumeration value="fa"/>
      <xs:enumeration value="fr"/>
      <xs:enumeration value="it"/>
      <xs:enumeration value="ja"/>
      <xs:enumeration value="ko"/>
      <xs:enumeration value="nb"/>
      <xs:enumeration value="nl"/>
      <xs:enumeration value="nn"/>
      <xs:enumeration value="pt"/>
      <xs:enumeration value="ru"/>
      <xs:enumeration value="zh"/>
      <xs:enumeration value="zh-Hant"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="anyOption" abstract="true"/>
  <xs:element name="add-xml-decl" type="add-xml-decl" substitutionGroup="anyOption"/>
  <xs:element name="add-xml-space" type="add-xml-space" substitutionGroup="anyOption"/>
  <xs:element name="alt-text" type="alt-text" substitutionGroup="anyOption"/>
  <xs:element name="assume-xml-procins" type="assume-xml-procins" substitutionGroup="anyOption"/>
  <xs:element name="bare" type="bare" substitutionGroup="anyOption"/>
  <xs:element name="clean" type="clean" substitutionGroup="anyOption"/>
  <xs:element name="css-prefix" type="css-prefix" substitutionGroup="anyOption"/>
  <xs:element name="doctype" type="doctype" substitutionGroup="anyOption"/>
  <xs:element name="drop-empty-paras" type="drop-empty-paras" substitutionGroup="anyOption"/>
  <xs:element name="drop-front-tags" type="drop-front-tags" substitutionGroup="anyOption"/>
  <xs:element name="drop-proprietary-attributes"
  type="drop-proprietary-attributes" substitutionGroup="anyOption"/>
  <xs:element name="enclose-block-text" type="enclose-block-text" substitutionGroup="anyOption"/>
  <xs:element name="enclose-text" type="enclose-text" substitutionGroup="anyOption"/>
  <xs:element name="escape-cdata" type="escape-cdata" substitutionGroup="anyOption"/>
  <xs:element name="fix-backslash" type="fix-backslash" substitutionGroup="anyOption"/>
  <xs:element name="fix-bad-comments" type="fix-bad-comments" substitutionGroup="anyOption"/>
  <xs:element name="fix-uri" type="fix-uri" substitutionGroup="anyOption"/>
  <xs:element name="hide-comments" type="hide-comments" substitutionGroup="anyOption"/>
  <xs:element name="hide-endtags" type="hide-endtags" substitutionGroup="anyOption"/>
  <xs:element name="indent-cdata" type="indent-cdata" substitutionGroup="anyOption"/>
  <xs:element name="input-xml" type="input-xml" substitutionGroup="anyOption"/>
  <xs:element name="join-classes" type="join-classes" substitutionGroup="anyOption"/>
  <xs:element name="join-styles" type="join-styles" substitutionGroup="anyOption"/>
  <xs:element name="literal-attributes" type="literal-attributes" substitutionGroup="anyOption"/>
  <xs:element name="logical-emphasis" type="logical-emphasis" substitutionGroup="anyOption"/>
  <xs:element name="lower-literals" type="lower-literals" substitutionGroup="anyOption"/>
  <xs:element name="merge-divs" type="merge-divs" substitutionGroup="anyOption"/>
  <xs:element name="ncr" type="ncr" substitutionGroup="anyOption"/>
  <xs:element name="new-blocklevel-tags" type="new-blocklevel-tags" substitutionGroup="anyOption"/>
  <xs:element name="new-empty-tags" type="new-empty-tags" substitutionGroup="anyOption"/>
  <xs:element name="new-inline-tags" type="new-inline-tags" substitutionGroup="anyOption"/>
  <xs:element name="new-pre-tags" type="new-pre-tags" substitutionGroup="anyOption"/>
  <xs:element name="numeric-entities" type="numeric-entities" substitutionGroup="anyOption"/>
  <xs:element name="output-html" type="output-html" substitutionGroup="anyOption"/>
  <xs:element name="output-xhtml" type="output-xhtml" substitutionGroup="anyOption"/>
  <xs:element name="output-xml" type="output-xml" substitutionGroup="anyOption"/>
  <xs:element name="quote-ampersand" type="quote-ampersand" substitutionGroup="anyOption"/>
  <xs:element name="quote-marks" type="quote-marks" substitutionGroup="anyOption"/>
  <xs:element name="quote-nbsp" type="quote-nbsp" substitutionGroup="anyOption"/>
  <xs:element name="repeated-attributes" type="repeated-attributes" substitutionGroup="anyOption"/>
  <xs:element name="replace-color" type="replace-color" substitutionGroup="anyOption"/>
  <xs:element name="show-body-only" type="show-body-only" substitutionGroup="anyOption"/>
  <xs:element name="uppercase-attributes" type="uppercase-attributes" substitutionGroup="anyOption"/>
  <xs:element name="uppercase-tags" type="uppercase-tags" substitutionGroup="anyOption"/>
  <xs:element name="word-2000" type="word-2000" substitutionGroup="anyOption"/>
  <xs:element name="accessibility-check" type="accessibility-check" substitutionGroup="anyOption"/>
  <xs:element name="show-errors" type="xs:unsignedInt" substitutionGroup="anyOption"/>
  <xs:element name="show-warnings" type="show-warnings" substitutionGroup="anyOption"/>
  <xs:element name="break-before-br" type="break-before-br" substitutionGroup="anyOption"/>
  <xs:element name="indent" type="indent" substitutionGroup="anyOption"/>
  <xs:element name="indent-attributes" type="indent-attributes" substitutionGroup="anyOption"/>
  <xs:element name="indent-spaces" type="xs:unsignedInt" substitutionGroup="anyOption"/>
  <xs:element name="markup" type="markup" substitutionGroup="anyOption"/>
  <xs:element name="punctuation-wrap" type="punctuation-wrap" substitutionGroup="anyOption"/>
  <xs:element name="split" type="split" substitutionGroup="anyOption"/>
  <xs:element name="tab-size" type="xs:unsignedInt" substitutionGroup="anyOption"/>
  <xs:element name="vertical-space" type="vertical-space" substitutionGroup="anyOption"/>
  <xs:element name="wrap" type="xs:unsignedInt" substitutionGroup="anyOption"/>
  <xs:element name="wrap-asp" type="wrap-asp" substitutionGroup="anyOption"/>
  <xs:element name="wrap-attributes" type="wrap-attributes" substitutionGroup="anyOption"/>
  <xs:element name="wrap-jste" type="wrap-jste" substitutionGroup="anyOption"/>
  <xs:element name="wrap-php" type="wrap-php" substitutionGroup="anyOption"/>
  <xs:element name="wrap-script-literals" type="wrap-script-literals" substitutionGroup="anyOption"/>
  <xs:element name="wrap-sections" type="wrap-sections" substitutionGroup="anyOption"/>
  <xs:element name="force-output" type="force-output" substitutionGroup="anyOption"/>
  <xs:element name="keep-time" type="keep-time" substitutionGroup="anyOption"/>
  <xs:element name="quiet" type="quiet" substitutionGroup="anyOption"/>
  <xs:element name="tidy-mark" type="tidy-mark" substitutionGroup="anyOption"/>
  <xs:element name="default-language" type="lang" substitutionGroup="anyOption"/>
  <xs:element name="option" type="option" substitutionGroup="anyOption"/>

  <xs:element name="options">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element ref="anyOption"/>
      </xs:choice>    
    </xs:complexType>
  </xs:element>

  <xs:complexType name="error">
    <xs:annotation>
      <xs:documentation>
        An error in processing
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="line" type="xs:int" use="required"/>
        <xs:attribute name="column" type="xs:int" use="required"/>
      </xs:extension> 
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="warning">
    <xs:annotation>
      <xs:documentation>
        A warning in processing
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="line" type="xs:int" use="required"/>
        <xs:attribute name="column" type="xs:int" use="required"/>
      </xs:extension> 
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="message">
    <xs:annotation>
      <xs:documentation>
        Status messages from tidy.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="status">
    <xs:annotation>
      <xs:documentation>
        The status node.  This contains all the warnings, errors and
        messages output by tidy while tidying the document.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice> 
      <xs:element name="error" type="error" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="warning" type="warning" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="message" type="message" minOccurs="0" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>

  <xs:element name="status" type="status">
    <xs:annotation>
      <xs:documentation>
        The status
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

</xs:schema>
