apidoc/schema/trigger.xsd

<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/triggers"
 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd
                     http://marklogic.com/xdmp/security security.xsd
                     http://www.w3.org/1999/xhtml xhtml-inlstyle-1.xsd"
 xmlns="http://marklogic.com/xdmp/triggers"
 xmlns:admin="http://marklogic.com/xdmp/admin"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xhtml="http://www.w3.org/1999/xhtml"
 xmlns:sec="http://marklogic.com/xdmp/security">

  <?xdmp-annotations?>

  <xs:simpleType name="description">
    <xs:annotation>
      <xs:documentation>
        A trigger description.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="description" type="description">
    <xs:annotation>
      <xs:documentation>
        The trigger description.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">Its <span style="color:#800000">
           description</span> (if there is one).</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="trigger-name">
    <xs:annotation>
      <xs:documentation>
        A trigger name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="trigger-name" type="trigger-name">
    <xs:annotation>
      <xs:documentation>
        The trigger name.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="trigger-id">
    <xs:annotation>
      <xs:documentation>
        A trigger identifier.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="enabled">
    <xs:annotation>
      <xs:documentation>
        An indication of trigger being enabled.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:boolean">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="enabled" type="enabled">
    <xs:annotation>
      <xs:documentation>
        Whether the trigger is enabled or not.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"> Its status (whether it is  
          <span style="color:#800000">enabled</span> or 
          <span style="color:#800000">disabled</span>).</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="recursive">
    <xs:annotation>
      <xs:documentation>
        An indication of trigger being recursive.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:boolean">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="recursive" type="recursive">
    <xs:annotation>
      <xs:documentation>
        Whether the trigger is recursive or not.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text"> Its status (whether it is  
          <span style="color:#800000">recursive</span> or 
          <span style="color:#800000">not</span>).</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="trigger-id" type="trigger-id">
    <xs:annotation>
      <xs:documentation>
        The trigger ID.
      </xs:documentation>
      <xs:appinfo>
	<admin:hidden>true</admin:hidden>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        The namespace URI.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="localname">
    <xs:annotation>
      <xs:documentation>
        A localname.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>

  <xs:element name="localname" type="localname">
    <xs:annotation>
      <xs:documentation>
        The localname.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>


  <xs:complexType name="property-name">
    <xs:annotation>
      <xs:documentation>
        The QName of the specific property.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="namespace-uri"/>
      <xs:element ref="localname"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="property-name" type="property-name">
    <xs:annotation>
      <xs:documentation>
        The QName of a property.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="update-kind">
    <xs:annotation>
      <xs:documentation>
        A kind of update.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="create"/>
      <xs:enumeration value="delete"/>
      <xs:enumeration value="modify"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="update-kind" type="update-kind">
    <xs:annotation>
      <xs:documentation>
        The kind of update.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="property-content">
    <xs:annotation>
      <xs:documentation>
        A single document property.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="property-name"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="property-content" type="property-content">
    <xs:annotation>
      <xs:documentation>
        The specific document property.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="any-property-content">
    <xs:annotation>
      <xs:documentation>
        Any document property content.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
    </xs:all>
  </xs:complexType>

  <xs:element name="any-property-content" type="any-property-content">
    <xs:annotation>
      <xs:documentation>
        The document properties.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="any-custom-property-content">
    <xs:annotation>
      <xs:documentation>
        Any custom property content.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
    </xs:all>
  </xs:complexType>

  <xs:element name="any-custom-property-content" type="any-custom-property-content">
    <xs:annotation>
      <xs:documentation>
        The custom document properties.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="document-content">
    <xs:annotation>
      <xs:documentation>
        A document content.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="update-kind"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="document-content" type="document-content">
    <xs:annotation>
      <xs:documentation>
        The document content.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="collection-scope">
    <xs:annotation>
      <xs:documentation>
        A set of documents that are in a specified collection.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="uri"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="collection-scope" type="collection-scope">
    <xs:annotation>
      <xs:documentation>
        The scope of all documents in a collection for a trigger.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="directory-scope">
    <xs:annotation>
      <xs:documentation>
        A set of documents that are descendants of a directory.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="uri"/>
      <xs:element ref="depth"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="directory-scope" type="directory-scope">
    <xs:annotation>
      <xs:documentation>
        The scope of descendant documents of a directory for a trigger.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="document-scope">
    <xs:annotation>
      <xs:documentation>
        A single document.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="uri"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="document-scope" type="document-scope">
    <xs:annotation>
      <xs:documentation>
        The scope of a single document for a trigger.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="uri">
    <xs:annotation>
      <xs:documentation>
        A URI.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>

  <xs:element name="uri" type="uri">
    <xs:annotation>
      <xs:documentation>
        The URI.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>


  <xs:simpleType name="depth">
    <xs:annotation>
      <xs:documentation>
        A depth.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="infinity"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="depth" type="depth">
    <xs:annotation>
      <xs:documentation>
        The depth.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="user-id">
    <xs:annotation>
      <xs:documentation>
        A user ID.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="user" type="user-id">
    <xs:annotation>
      <xs:documentation>
        The user unique ID.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="database-id">
    <xs:annotation>
      <xs:documentation>
        A database ID.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong">
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="database" type="database-id">
    <xs:annotation>
      <xs:documentation>
        The database id.
      </xs:documentation>
      <xs:appinfo>
	<admin:select>database</admin:select>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="root" type="root">
    <xs:annotation>
      <xs:documentation>
  	The module invocation root directory.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="root">
    <xs:annotation>
      <xs:documentation>
        A root directory.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="path" type="path">
    <xs:annotation>
      <xs:documentation>
  	The module to invoke on a triggered event.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="path">
    <xs:annotation>
      <xs:documentation>
        A module relative path.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="module" type="module">
    <xs:annotation>
      <xs:documentation>
  	The module invocation.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">The name of the 
          <span style="color:#800000">module</span> that the 
          trigger spawns after the event occurs.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="module">
    <xs:annotation>
      <xs:documentation>
        A module invocation.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="database"/>
      <xs:element ref="root"/>
      <xs:element ref="path"/>
    </xs:all>
  </xs:complexType>

  <xs:simpleType name="when">
    <xs:annotation>
      <xs:documentation>
        An event timing
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="pre-commit"/>
      <xs:enumeration value="post-commit"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="when" type="when">
    <xs:annotation>
      <xs:documentation>
        The timing of the event.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="database-online-event" type="database-online-event">
    <xs:annotation>
      <xs:documentation>
  	The description of a database coming online.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="database-online-event">
    <xs:annotation>
      <xs:documentation>
        A database coming online event.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:all>
      <xs:element ref="user"/>
    </xs:all>
  </xs:complexType>

  <xs:element name="data-event" type="data-event">
    <xs:annotation>
      <xs:documentation>
  	The description of triggering events.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <span class="help-text">The <span style="color:#800000">scope</span> 
          and the <span style="color:#800000">part</span> of the 
          <span style="color:#800000">event</span>, and whether it is a
          <span style="color:#800000">pre-commit</span> or 
          <span style="color:#800000">post-commit</span> trigger.</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="data-event">
    <xs:annotation>
      <xs:documentation>
        A description of triggering events.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element ref="document-scope"/>
        <xs:element ref="collection-scope"/>
        <xs:element ref="directory-scope"/>
      </xs:choice>
      <xs:choice minOccurs="1" maxOccurs="1">
	<xs:element ref="document-content"/>
	<xs:element ref="any-property-content"/>
	<xs:element ref="any-custom-property-content"/>
	<xs:element ref="property-content"/>
      </xs:choice>
      <xs:element ref="when"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="task-priority">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="higher"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="task-priority" type="task-priority">
    <xs:annotation>
      <xs:documentation>
        The post-commit task priority.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
        <span class="help-text"><span style="color:#800000">task priority</span> 
	specifies the post-commit task priority :
         <ul>
	 <li><span class="help-text"><span style="color:#800000">normal</span>
	 specifies the task should be queued with normal priority.
         </span></li>
	 <li><span class="help-text"><span style="color:#800000">higher</span>
	 specifies the task should be queued with higher priority.
         </span></li>
         </ul>	
	</span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="trigger" type="trigger">
    <xs:annotation>
      <xs:documentation>
  	The trigger description.
      </xs:documentation>
      <xs:appinfo>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/><br/>
          <span class="help-text">
          <img src="images/varspace.gif" alt="" width="20" height="1"
          />Trigger Summary and Configuration Help<br/><br/>
          </span>
          <hr class="control-line" size="1"/>
          <span class="help-text"><p>
          The triggers summary page shows the triggers that are loaded 
          into this database.  Triggers specify a module to run after the 
          specified event occurs.  You can specify events for document create, 
          document update, document delete, and system startup. </p>
          <p>For each trigger, the Summary page shows the following:</p></span>
        </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
          <p><span class="help-text">To 
          <span style="color:#800000">disable</span> an enabled 
          trigger:</span></p>
          <ul>
            <li><span class="help-text">Click the name of the trigger on the 
            Summary page to display the configuration page. </span></li>
            <li><span class="help-text">Click the 
            <span style="color:#800000">false</span> button and click 
            OK to disable the trigger.</span></li>
          </ul>
          <p><span class="help-text">To <span style="color:#800000">enable</span> 
          a disabled trigger:</span></p>
          <ul>
            <li><span class="help-text">Click the name of the trigger on the 
            Summary page to display the configuration page.</span></li>
            <li><span class="help-text">Click the 
            <span style="color:#800000">true</span> button and click 
            OK to enable the trigger.</span></li>
          </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="trigger">
    <xs:annotation>
      <xs:documentation>
        A trigger description.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="trigger-id"/>
      <xs:element ref="trigger-name"/>
      <xs:element ref="description"/>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element ref="data-event"/>
        <xs:element ref="database-online-event"/>
      </xs:choice>
      <xs:element ref="module"/>
      <xs:element ref="enabled"/>
      <xs:element ref="recursive"/>
      <xs:element ref="task-priority" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>

