apidoc/schema/x509.xsd

<!-- Copyright 2002-2014 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/x509"
 xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd
                     http://marklogic.com/xdmp/admin admin.xsd
                     http://www.w3.org/1999/xhtml xhtml-inlstyle-1.xsd"
 xmlns="http://marklogic.com/xdmp/x509"
 xmlns:admin="http://marklogic.com/xdmp/admin"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xhtml="http://www.w3.org/1999/xhtml"
 xmlns:x509="http://marklogic.com/xdmp/x509">

  <?xdmp-annotations?>

  <xs:simpleType name="version">
    <xs:annotation>
      <xs:documentation>
        The X509 version.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>

  <xs:element name="version" type="version">
    <xs:annotation>
      <xs:documentation>
       The X509 version.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>
	<admin:default>2</admin:default>
	<admin:help>
		<hr class="control-line" size="1"/><br/>
           <span class="help-text">
           <img src="images/varspace.gif" alt="" width="20" height="1"
           />Certificate Authority Help<br/><br/>
           </span>
           <hr class="control-line" size="1"/>
           <span class="help-text">A <span style="color:#800000">Certificate 
           Authority</span> (CA)
           is a trusted third party that certifies the identity of entities, such as 
           users, databases, administrators, clients, and servers. When an entity requests 
           certification, the CA verifies its identity and grants a certificate, which is 
           signed with the CA's private key. If the CA is trusted, then any certificate 
           it issues is trusted unless it has been revoked.
           <p></p>
           Selecting a Certificate Authority displays all of the certificates generated by
           the Certificate Authority. Each certificate provides a serial number, its
           signature type, details on the issuer, the validity period, subject information,
           a PEM-encoded public key, v3Ext information, and the PEM-encoded certificate.
           </span> 
         </admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">The 
          <span style="color:#800000">Summary</span>
          tab displays a list of all of the currently configured 
          certificate authorities, including the number of certificates generated by
          each authority.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Import</span> 
           tab enables you to import certificate authorities by way of importing the
           trusted certificates generated by those authorities. Click on Browse to locate 
           the file containing the PEM-encoded signed certificate(s) generated by the
           certificate authority to be imported
           and select OK. Zip files can be uploaded directly without the need to unzip them. 
           Alternatively, you can paste an individual PEM-encoded 
           certificate into the text area.
          </span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">delete</span> 
          button deletes the certificate permanently.  Deleting all of the certificates for a
          Certificate Authority deletes the Certificate Authority. 
          </span></li>
        </ul>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:simpleType name="serialNumber">
    <xs:annotation>
      <xs:documentation>
        A serial number
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:element name="serialNumber" type="serialNumber">
    <xs:annotation>
      <xs:documentation>
        A serial number.       
      </xs:documentation>
      <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
           <span class="help-text">The
             <span style="color:#800000">serial number</span>
             identifies is a unique identifier for a certificate, expressed
             as a series of hexadecimal digits.
           </span>
        </admin:help>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:simpleType name="string">
    <xs:annotation>
      <xs:documentation>
        A string
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:simpleType name="countryName">
    <xs:annotation>
      <xs:documentation>
        A two character country code (e.g. "US").
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>
  
 <xs:element name="countryName" type="countryName">
   <xs:annotation>
     <xs:documentation>
       A two character country code (e.g. "US").       
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
           <span class="help-text">The <span style="color:#800000">country 
           name</span> identifies your country.  It
           must be two characters, such as US, UK, DE, FR, ES, etc.</span>
        </admin:help>
     </xs:appinfo>
   </xs:annotation>
 </xs:element>
  
 <xs:element name="stateOrProvinceName" type="xs:string">
   <xs:annotation>
     <xs:documentation>
       The state or province your server is in.
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
           <span class="help-text">The <span style="color:#800000">State 
           or Province Name</span> 
           is your state, such as "CA" or "California," or province, such as "Ontario" or "ON."
           </span>
        </admin:help>
     </xs:appinfo>
   </xs:annotation>
 </xs:element>

 <xs:element name="localityName" type="xs:string">
   <xs:annotation>
     <xs:documentation>
       The city your server is in.
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
           <span class="help-text">The <span style="color:#800000">Locality 
           Name</span> 
           is your city or town.</span>
        </admin:help>
     </xs:appinfo>
   </xs:annotation>
 </xs:element>
  
  <xs:simpleType name="organization-name">
    <xs:annotation>
      <xs:documentation>An organization name.</xs:documentation>
      <xs:appinfo> </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  
 <xs:element name="organizationName" type="organization-name">
   <xs:annotation>
     <xs:documentation>
       The organization or company your server belongs to (e.g. MarkLogic).
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
           <span class="help-text">The <span style="color:#800000">Organization 
           Name</span> 
           is the name of your company, such as "MarkLogic."</span>
        </admin:help>
     </xs:appinfo>
   </xs:annotation>
 </xs:element>

 <xs:element name="organizationalUnitName" type="xs:string">
   <xs:annotation>
     <xs:documentation>
       The organizational unit your server belongs to (e.g. Engineering).
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
	  <span class="help-text">The 
	  <span style="color:#800000">Organizational Unit Name</span> 
	  is the name of your orginaization in your company, such as 
	  "Engineering."</span>
        </admin:help>
     </xs:appinfo>
   </xs:annotation>
 </xs:element>

 <xs:element name="commonName" type="xs:string">
   <xs:annotation>
     <xs:documentation>
       The common name of your server (e.g. www.yourcompany.com). This may be
       left blank when creating a certificate template, since individual
       servers will use their own host name.
     </xs:documentation>
     <xs:appinfo>
     </xs:appinfo>
   </xs:annotation>
 </xs:element>
 
 <xs:element name="emailAddress" type="xs:string">
   <xs:annotation>
     <xs:documentation>
       The email address to contact regarding your server
       (e.g. webmaster@yourcompany.com).
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
	  <span class="help-text">The 
	  <span style="color:#800000">Email Address</span> 
           is your email address.</span>
        </admin:help>
     
     </xs:appinfo>
   </xs:annotation>
 </xs:element>

 <xs:complexType name="name">
   <xs:annotation>
     <xs:documentation>
       An X.509 name, used to identify either a subject or an issuer.
     </xs:documentation>
     <xs:appinfo/>
   </xs:annotation>
   <xs:sequence>
     <xs:element ref="countryName" minOccurs="0"/>
     <xs:element ref="stateOrProvinceName" minOccurs="0"/>
     <xs:element ref="localityName" minOccurs="0"/>
     <xs:element ref="organizationName" minOccurs="1"/>
     <xs:element ref="organizationalUnitName" minOccurs="0"/>
     <xs:element ref="commonName" minOccurs="0"/>
     <xs:element ref="emailAddress" minOccurs="0"/>
   </xs:sequence>
 </xs:complexType>

 <xs:element name="subject" type="name">
   <xs:annotation>
     <xs:documentation>
       The subject for a certificate or certificate request. You should
       fill in as many of these fields as possible because individual
       certificate authorities have specific requirements for which fields
       must have values. If a required field is missing, a certificate
       authority will typically reject your certificate request with a
       cryptic error message that your request is bad.
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
           <span class="help-text">The <span style="color:#800000">subject</span> 
           identifies the certificate requester.</span>
	</admin:help>
	  <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        <span class="help-text"><p>Buttons and Tabs:</p></span>
        <ul>
          <li><span class="help-text">The 
          <span style="color:#800000">Summary</span>
          tab displays a list of all of the currently configured 
          certificate templates, including a description of each certificate
          and the server to which it is assigned.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Create</span>
          tab allows you to create new certificate template.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Configure</span>
          tab allows you to modify an existing certificate template.</span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Status</span>
          tab provides a detailed view of this certificate template's status.
          </span>
          <br /><br />
          <ul>
	    <li><span class="help-text"><span style="color:#800000">import </span> 
	     allows you to import into your browser the certificate authority used 
	     to sign the temporary host certificates.</span></li>
            <li><span class="help-text"><span style="color:#800000">download </span> 
             allows you to download the certificate authority used to sign the temporary
	     host certificates to a file that can be imported by other browsers.</span></li>
            <li><span class="help-text"><span style="color:#800000">request </span> 
	     allows you generate certificate requests for hosts that use 
             the certificate template.</span></li>
            <li><span class="help-text"><span style="color:#800000">download </span> 
             allows you to download pending certificate requests for the certificate 
             template to a file.</span></li>
	  </ul>
          </li>
           <li><span class="help-text">The 
          <span style="color:#800000">Request</span> 
           tab allows you to generate certificate requests for hosts using the certificate template. 
           These requests can then be submitted to a Certificate Authority for signing.
          </span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">Import</span> 
           tab enables you to import the signed certificates received from a Certificate Authority
           for either the server
           or the client. Click on Browse to locate the file containing the PEM-encoded
           signed certificate(s) 
           and select OK. Zip files can be uploaded directly without the need to unzip them. 
           Alternatively, you can paste an individual PEM-encoded 
           certificate into the text area.
          </span></li>
          <li><span class="help-text">The 
          <span style="color:#800000">delete</span> 
          button deletes the certificate template permanently. 
          </span></li>
        </ul>
        </admin:help>
      </xs:appinfo>
   </xs:annotation>
 </xs:element>

 <xs:element name="issuer" type="name">
   <xs:annotation>
     <xs:documentation>
       The issuer for a certificate.
     </xs:documentation>
     <xs:appinfo>
	<admin:help xmlns="http://www.w3.org/1999/xhtml">
           <span class="help-text">The <span style="color:#800000">issuer</span> 
           identifies the authority that issued the certificate.</span>
	</admin:help>
        <admin:help xmlns="http://www.w3.org/1999/xhtml">
          <hr class="control-line" size="1"/>
        </admin:help>
      </xs:appinfo>
   </xs:annotation>
 </xs:element>

  <xs:complexType name="v3ext">
    <xs:annotation>
      <xs:documentation>
        X.509v3 extensions.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="v3ext" type="v3ext">
    <xs:annotation>
      <xs:documentation>
        The X509v3 extensions.
      </xs:documentation>
      <xs:appinfo>
        <admin:hidden>true</admin:hidden>        
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="notBefore" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>
        The beginning of the period of time during which the certificate
        is valid.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="notAfter" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>
        The end of the period of time during which the certificate
        is valid.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:complexType name="validity">
    <xs:annotation>
      <xs:documentation>
        The time span during which the certificate is valid.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="notBefore"/>
      <xs:element ref="notAfter"/>
    </xs:all>
  </xs:complexType>
  
  <xs:element name="validity" type="validity">
    <xs:annotation>
      <xs:documentation>
        The time span during which the certificate is valid.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>

  <xs:element name="publicKey" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The certificate's public key.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:element name="signatureType" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The type of algorithm used to sign the certificate. 
      </xs:documentation>
    </xs:annotation>
  </xs:element>

 <xs:complexType name="req">
   <xs:annotation>
     <xs:documentation>
       An X.509 certificate request
     </xs:documentation>
     <xs:appinfo/>
   </xs:annotation>
   <xs:all>
     <xs:element ref="version"/>
     <xs:element ref="subject"/>
     <xs:element ref="v3ext"/>
   </xs:all>
 </xs:complexType>

 <xs:element name="req" type="req">
   <xs:annotation>
     <xs:documentation>
       An X.509 certificate request
     </xs:documentation>
     <xs:appinfo/>
   </xs:annotation>
 </xs:element>

 <xs:complexType name="cert">
   <xs:annotation>
     <xs:documentation>
       An X.509 certificate
     </xs:documentation>
     <xs:appinfo/>
   </xs:annotation>
   <xs:all>
     <xs:element ref="version"/>
     <xs:element ref="serialNumber"/>
     <xs:element ref="validity"/>
     <xs:element ref="issuer"/>
     <xs:element ref="subject"/>
     <xs:element ref="publicKey"/>
     <xs:element ref="v3ext" minOccurs="0" maxOccurs="1"/>
     <xs:element ref="signatureType"/>
   </xs:all>
 </xs:complexType>
 
 <xs:element name="cert" type="cert">
   <xs:annotation>
     <xs:documentation>
       An X.509 certificate.
     </xs:documentation>
     <xs:appinfo/>
   </xs:annotation>
 </xs:element>
</xs:schema>
