apidoc/schema/xhtml-form-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
targetNamespace="http://www.w3.org/1999/xhtml"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns="http://www.w3.org/1999/xhtml" 
elementFormDefault="unqualified"
attributeFormDefault="unqualified"
blockDefault="#all" 
finalDefault="#all"
version="1.1"
xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
<!--

-->
	<xs:annotation>
		<xs:documentation>

		 This is the XML Schema Forms module for XHTML
		  Please use this formal public identifier to identify it:
		  "-//W3C//ELEMENTS XHTML Forms 1.0//EN"

		@author: Daniel Austin austin.d@ic.grainger.com
		$Id: xhtml-form-1.xsd,v 1.3 2009-10-22 20:47:59 mary Exp $
	  	</xs:documentation>
		<xs:documentation source="xhtml-copyright-1.xsd"/>
	</xs:annotation>
<!--

-->
	<xs:annotation>
		<xs:documentation>
	 	Forms
	
	       * form, label, input, select, optgroup, option,
	       * textarea, fieldset, legend, button
	
	      This module declares markup to provide support for online
	      forms, based on the features found in HTML 4.0 forms.
		</xs:documentation>
	</xs:annotation>
<!--

-->
	<xs:group name="Table.class">
		<xs:choice>
			<xs:element ref="table"/>
		</xs:choice>
	</xs:group>
<!-- 
		BlkNoForm.mix includes all non-form block elements,
     	plus Misc.class
-->
	<xs:group name="BlkNoForm.mix">
		<xs:choice>
			<xs:group ref="Heading.class"/>
			<xs:group ref="List.class"/>
			<xs:group ref="BlkStruct.class"/>
			<xs:group ref="BlkPhras.class"/>
			<xs:group ref="BlkPres.class"/>
			<xs:group ref="Table.class"/>
			<xs:group ref="Block.extra"/>
			<xs:group ref="Misc.class"/>
		</xs:choice>
	</xs:group>
<!--

-->
<!-- form: Form Element -->
	<xs:attributeGroup name="form.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="action" type="URI"/>
		<xs:attribute name="method" use="required" default="get">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="get"/>
					<xs:enumeration value="post"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="enctype" type="ContentType" fixed="application/x-www-form-urlencoded"/>
		<xs:attribute name="accept-charset" type="Charsets"/>
		<xs:attribute name="accept" type="ContentTypes"/>

	</xs:attributeGroup>
<!--

-->
	<xs:group name="form.content">
		<xs:choice>
			<xs:group ref="BlkNoForm.mix"  minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="fieldset"/>
			<xs:element ref="input"/>
			<xs:element ref="select"/>
			<xs:element ref="textarea"/>
			<xs:element ref="button"/>
		</xs:choice>
	</xs:group>
<!--

-->
	<xs:complexType name="form.type">
		<xs:group ref="form.content" minOccurs="1" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="form.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="form" type="form.type"/>
<!-- 
		label: Form Field Label Text 
		Note: Each label must not contain more than ONE field
-->
	<xs:group name="label.content">
		<xs:choice>
			<xs:element ref="input"/>
			<xs:element ref="select"/>
			<xs:element ref="textarea"/>
			<xs:element ref="button"/>
			<xs:group ref="InlStruct.class"/>
			<xs:group ref="InlPhras.class"/>
			<xs:group ref="I18n.class"/>
			<xs:group ref="InlPres.class"/>
			<xs:group ref="InlSpecial.class"/>
			<xs:group ref="Inline.extra"/>
			<xs:group ref="Misc.class"/>
		</xs:choice>
	</xs:group>
<!--

-->
	<xs:attributeGroup name="label.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="for" type="xs:IDREF"/>
		<xs:attribute name="accesskey" type="Character"/>

	</xs:attributeGroup>
<!--

-->
	<xs:complexType name="label.type" mixed="true">
		<xs:group ref="label.content" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="label.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="label" type="label.type"/>
<!--

-->
<!-- input: Form Control -->
<!-- MH 2009-10-22: Use of global attribute here was design error. -->
<!-- The use="optional" is just plain wrong -->
<!-- Put this into the attribute group directly so NS is correct -->
<!--
	<xs:attribute name="type" use="optional" default="text">
		<xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="text"/>
				<xs:enumeration value="password"/>
				<xs:enumeration value="checkbox"/>
				<xs:enumeration value="radio"/>
				<xs:enumeration value="submit"/>
				<xs:enumeration value="reset"/>
				<xs:enumeration value="hidden"/>
				<xs:enumeration value="image"/>
				<xs:enumeration value="button"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
-->
<!-- 
		attribute 'name' required for all but submit & reset
-->
	<xs:attributeGroup name="input.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
        <xs:attribute name="type" use="optional" default="text">
		  <xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="text"/>
				<xs:enumeration value="password"/>
				<xs:enumeration value="checkbox"/>
				<xs:enumeration value="radio"/>
				<xs:enumeration value="submit"/>
				<xs:enumeration value="reset"/>
				<xs:enumeration value="hidden"/>
				<xs:enumeration value="image"/>
				<xs:enumeration value="button"/>
			</xs:restriction>
          </xs:simpleType>
        </xs:attribute>
		<xs:attribute name="name" type="Text"/>
		<xs:attribute name="value" type="Text"/>
		<xs:attribute name="checked" type="Text"/>
		<xs:attribute name="disabled" type="Text"/>
		<xs:attribute name="readonly" type="Text"/>
		<xs:attribute name="size" type="Number"/>
		<xs:attribute name="maxlength" type="Number"/>
		<xs:attribute name="src" type="URI"/>
		<xs:attribute name="alt" type="Text"/>
		<xs:attribute name="tabindex" type="Number"/>
		<xs:attribute name="accesskey" type="Character"/>
		<xs:attribute name="accept" type="ContentTypes"/>

	</xs:attributeGroup>
<!--

-->
	<xs:complexType name="input.type">
		<xs:attributeGroup ref="input.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="input" type="input.type"/>
<!--

-->
<!-- select: Option Selector  -->
	<xs:attributeGroup name="select.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="name" type="Text"/>
		<xs:attribute name="size" type="Number"/>
		<xs:attribute name="multiple" type="Text"/>
		<xs:attribute name="disabled" type="Text"/>

	</xs:attributeGroup>
<!--

-->
	<xs:group name="select.content">
		<xs:choice>
			<xs:element ref="optgroup"/>
			<xs:element ref="option"/>
		</xs:choice>
	</xs:group>
<!--

-->
	<xs:complexType name="select.type">
		<xs:group ref="select.content" minOccurs="1" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="select.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="select" type="select.type"/>
<!--

-->
<!-- optgroup: Option Group  -->
	<xs:attributeGroup name="optgroup.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="disabled" type="Text"/>
		<xs:attribute name="label" type="Text"/>

	</xs:attributeGroup>
<!--

-->
	<xs:group name="optgroup.content">
		<xs:choice>
			<xs:element ref="option"/>
		</xs:choice>
	</xs:group>
<!--

-->
	<xs:complexType name="optgroup.type">
		<xs:group ref="optgroup.content" minOccurs="1" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="select.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="optgroup" type="optgroup.type"/>
<!--

-->
<!-- option: Selectable Choice  -->
	<xs:attributeGroup name="option.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="selected" type="Text"/>
		<xs:attribute name="disabled" type="Text"/>
		<xs:attribute name="label" type="Text"/>
		<xs:attribute name="value" type="Text"/>

	</xs:attributeGroup>
<!--

-->
	<xs:complexType name="option.type" mixed="true">
		<xs:attributeGroup ref="option.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="option" type="option.type"/>
<!--

-->
<!-- textarea: Multi-Line Text Field  -->
	<xs:attributeGroup name="textarea.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="name" type="Text"/>
		<xs:attribute name="rows" type="Number"/>
		<xs:attribute name="cols" type="Number"/>
		<xs:attribute name="disabled" type="Text"/>
		<xs:attribute name="readonly" type="Text"/>
		<xs:attribute name="tabindex" type="Number"/>
		<xs:attribute name="accesskey" type="Character"/>

	</xs:attributeGroup>
<!--

-->
	<xs:complexType name="textarea.type" mixed="true">
		<xs:attributeGroup ref="textarea.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="textarea" type="textarea.type"/>
<!--

-->
<!-- fieldset: Form Control Group  -->
	<xs:attributeGroup name="fieldset.attlist">
		<xs:attributeGroup ref="Common.attrib"/>

	</xs:attributeGroup>
<!--

-->
	<xs:complexType name="fieldset.type" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="legend"/>
			<xs:group ref="Flow.mix"/>
		</xs:choice>
		<xs:attributeGroup ref="fieldset.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="fieldset" type="fieldset.type"/>
<!--

-->
<!-- legend: Fieldset Legend  -->
	<xs:attributeGroup name="legend.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="accesskey" type="Character"/>

	</xs:attributeGroup>
<!--

-->
	<xs:complexType name="legend.type" mixed="true">
		<xs:group ref="Inline.mix"/>
		<xs:attributeGroup ref="legend.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="legend" type="legend.type"/>
<!--

-->
<!-- button: Push Button  -->
	<xs:attributeGroup name="button.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="name" type="Text"/>
		<xs:attribute name="value" type="Text"/>
		<xs:attribute name="type" type="Number"/>
		<xs:attribute name="type" use="optional" default="submit">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="button"/>
					<xs:enumeration value="submit"/>
					<xs:enumeration value="reset"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="disabled" type="Text"/>
		<xs:attribute name="tabindex" type="Number"/>
		<xs:attribute name="accesskey" type="Character"/>

	</xs:attributeGroup>
<!--

-->
	<xs:group name="button.content">
		<xs:choice>
			<xs:group ref="BlkNoForm.mix"/>
			<xs:group ref="InlStruct.class"/>
			<xs:group ref="InlPhras.class"/>
			<xs:group ref="InlPres.class"/>
			<xs:group ref="BlkPres.class"/>
			<xs:group ref="I18n.class"/>
			<xs:group ref="InlSpecial.class"/>
			<xs:group ref="Inline.extra"/>
		</xs:choice>
	</xs:group>
<!--

-->
	<xs:complexType name="button.type" mixed="true">
		<xs:group ref="button.content" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="button.attlist"/>
	</xs:complexType>
<!--

-->
	<xs:element name="button" type="button.type"/>
<!--

-->
</xs:schema>
