apidoc/schema/xhtml-misc-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/1999/xhtml" elementFormDefault="unqualified" attributeFormDefault="unqualified" blockDefault="#all" finalDefault="#all" version="1.1" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
	<!--

-->
	<xs:annotation>
		<xs:documentation>
			This is the XML Schema Miscellaneous Legacy 
			Markup module for XHTML
			  Please use this formal public identifier to identify it:
			  "-//W3C//ELEMENTS XHTML Miscellaneous Legacy Markup 1.0//EN"

			@author: Daniel Austin austin.d@ic.grainger.com
			$Id: xhtml-misc-1.xsd,v 1.1 2002-08-12 09:17:19 cjl Exp $
		</xs:documentation>
		<xs:documentation source="xhtml-copyright-1.xsd"/>
	</xs:annotation>
	<!--

-->
	<xs:annotation>
		<xs:documentation>
			HTML Miscellaneous Legacy Markup
			
			* font, basefont, center, s, strike, u, dir, menu, isindex
			(plus additional datatypes and attributes)
			
			This optional module declares additional markup for simple
			presentation-related markup based on features found in the
			HTML 4.0 Transitional and Frameset DTDs. This relies on
			inclusion of the Legacy Redeclarations module. This module
			also declares the frames, inline frames and object modules.
			
			This is to allow XHTML documents to be transformed for
			display on HTML browsers where CSS support is inconsistent
			or unavailable.
		</xs:documentation>
	</xs:annotation>
	<!--

-->
    <!-- Mary 20120821 Add redefinitions for legacy attribute lists defined
         below. -->
	<xs:redefine schemaLocation="../req/core/xhtml-hypertext-1.xsd">
		<xs:attributeGroup name="a.attlist">
    			<xs:attributeGroup ref="a.attlist" />
                <xs:attributeGroup ref="a.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>
    <xs:redefine schemaLocation="./opt/xhtml-applet-1.xsd">
		<xs:attributeGroup name="applet.attlist">
    			<xs:attributeGroup ref="applet.attlist" />
                <xs:attributeGroup ref="applet.legacy.attlist"/>
		</xs:attributeGroup>
    </xs:redefine>
    <xs:redefine schemaLocation="./req/core/xhtml-struct-1.xsd">
		<xs:attributeGroup name="body.attlist">
    			<xs:attributeGroup ref="body.attlist" />
                <xs:attributeGroup ref="body.legacy.attlist"/>
		</xs:attributeGroup>
    </xs:redefine>
    <xs:redefine schemaLocation="./text/xhtml-inlstruct-1.xsd">
		<xs:attributeGroup name="br.attlist">
    			<xs:attributeGroup ref="br.attlist" />
                <xs:attributeGroup ref="br.legacy.attlist"/>
		</xs:attributeGroup>
    </xs:redefine>
    <xs:redefine schemaLocation="./opt/xhtml-table-1.xsd">
		<xs:attributeGroup name="caption.attlist">
    			<xs:attributeGroup ref="caption.attlist" />
                <xs:attributeGroup ref="caption.legacy.attlist"/>
		</xs:attributeGroup>
		<xs:attributeGroup name="table.attlist">
    			<xs:attributeGroup ref="table.attlist" />
                <xs:attributeGroup ref="table.legacy.attlist"/>
		</xs:attributeGroup>
		<xs:attributeGroup name="tr.attlist">
    			<xs:attributeGroup ref="tr.attlist" />
                <xs:attributeGroup ref="tr.legacy.attlist"/>
		</xs:attributeGroup>
		<xs:attributeGroup name="th.attlist">
    			<xs:attributeGroup ref="th.attlist" />
                <xs:attributeGroup ref="th.legacy.attlist"/>
		</xs:attributeGroup>
		<xs:attributeGroup name="td.attlist">
    			<xs:attributeGroup ref="td.attlist" />
                <xs:attributeGroup ref="td.legacy.attlist"/>
		</xs:attributeGroup>
    </xs:redefine>
    <!-- The separate h1, h3 (?why not h2?), h4, h5, h6 attlists do nothing
         as there is no separate attlist to hang them on to
      -->
    <xs:redefine schemaLocation="text/xhtml-blkphras-1.xsd">
		<xs:attributeGroup name="heading.attlist">
    			<xs:attributeGroup ref="heading.attlist" />
                <xs:attributeGroup ref="heading.legacy.attlist"/>
		</xs:attributeGroup>
		<xs:attributeGroup name="pre.attlist">
    			<xs:attributeGroup ref="pre.attlist" />
                <xs:attributeGroup ref="pre.legacy.attlist"/>
		</xs:attributeGroup>
    </xs:redefine>
    <xs:redefine schemaLocation="pres/xhtml-blkpres-1.xsd">
		<xs:attributeGroup name="hr.attlist">
    			<xs:attributeGroup ref="hr.attlist" />
                <xs:attributeGroup ref="hr.legacy.attlist"/>
		</xs:attributeGroup>
    </xs:redefine>
	<xs:redefine schemaLocation="xhtml-image-1.xsd">
		<xs:attributeGroup name="img.attlist">
				<xs:attributeGroup ref="img.attlist" />
				<xs:attributeGroup ref="img.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>
	<xs:redefine schemaLocation="xhtml-form-1.xsd">
		<xs:attributeGroup name="input.attlist">
				<xs:attributeGroup ref="input.attlist" />
				<xs:attributeGroup ref="input.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>
	<xs:redefine schemaLocation="xhtml-form-1.xsd">
		<xs:attributeGroup name="legend.attlist">
				<xs:attributeGroup ref="legend.attlist" />
				<xs:attributeGroup ref="legend.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>
	<xs:redefine schemaLocation="core/xhtml-list-1.xsd">
		<xs:attributeGroup name="li.attlist">
				<xs:attributeGroup ref="li.attlist" />
				<xs:attributeGroup ref="li.legacy.attlist"/>
		</xs:attributeGroup>
		<xs:attributeGroup name="ol.attlist">
				<xs:attributeGroup ref="ol.attlist" />
				<xs:attributeGroup ref="ol.legacy.attlist"/>
		</xs:attributeGroup>
		<xs:attributeGroup name="ul.attlist">
				<xs:attributeGroup ref="ul.attlist" />
				<xs:attributeGroup ref="ul.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>
	<xs:redefine schemaLocation="xhtml-object-1.xsd">
		<xs:attributeGroup name="object.attlist">
			<xs:attributeGroup ref="object.attlist" />
			<xs:attributeGroup ref="object.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>
	<xs:redefine schemaLocation="text/xhtml-blkstruct-1.xsd">
		<xs:attributeGroup name="p.attlist">
			<xs:attributeGroup ref="p.attlist" />
            <xs:attributeGroup ref="p.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>
	<xs:redefine schemaLocation="./opt/xhtml-script-1.xsd">
		<xs:attributeGroup name="script.attlist">
			<xs:attributeGroup ref="script.attlist" />
            <xs:attributeGroup ref="script.legacy.attlist"/>
		</xs:attributeGroup>
	</xs:redefine>

<!--

-->
	<xs:attributeGroup name="font.attlist">
		<xs:attributeGroup ref="Core.attrib"/>
		<xs:attributeGroup ref="I18n.attrib"/>
		<xs:attribute name="size" type="Text"/>
		<xs:attribute name="color" type="Color"/>
		<xs:attribute name="face" type="Text"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:group name="font.content">
		<xs:choice>
			<xs:group ref="Inline.mix"/>
		</xs:choice>
	</xs:group>
	<!--

-->
	<xs:complexType name="font.type" mixed="true">
		<xs:group ref="font.content" minOccurs="0" maxOccurs="unbounded"/>
		<xs:attributeGroup ref="font.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="font" type="font.type"/>
	<!--

-->
	<xs:attributeGroup name="basefont.attlist">
		<xs:attributeGroup ref="id"/>
		<xs:attribute name="size" type="Text"/>
		<xs:attribute name="color" type="Color"/>
		<xs:attribute name="face" type="Text"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="basefont.type">
		<xs:attributeGroup ref="basefont.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="basefont" type="basefont.type"/>
	<!--

-->
	<xs:attributeGroup name="center.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="center.type" mixed="true">
		<xs:group ref="Flow.mix"/>
		<xs:attributeGroup ref="center.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="center" type="center.type"/>
	<!--

-->
	<xs:attributeGroup name="s.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="s.type" mixed="true">
		<xs:group ref="Inline.mix"/>
		<xs:attributeGroup ref="s.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="s" type="s.type"/>
	<!--

-->
	<xs:attributeGroup name="strike.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="strike.type" mixed="true">
		<xs:group ref="Inline.mix"/>
		<xs:attributeGroup ref="strike.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="strike" type="strike.type"/>
	<!--

-->
	<xs:attributeGroup name="u.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="u.type" mixed="true">
		<xs:group ref="Inline.mix"/>
		<xs:attributeGroup ref="u.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="u" type="u.type"/>
	<!--

-->
	<xs:attributeGroup name="dir.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="compact" type="Text"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="dir.type" mixed="true">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="li"/>
		</xs:sequence>
		<xs:attributeGroup ref="dir.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="dir" type="dir.type"/>
	<!--

-->
	<xs:attributeGroup name="menu.attlist">
		<xs:attributeGroup ref="Common.attrib"/>
		<xs:attribute name="compact" type="Text"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="menu.type" mixed="true">
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="li"/>
		</xs:sequence>
		<xs:attributeGroup ref="menu.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="menu" type="menu.type"/>
	<!--

-->
	<xs:attributeGroup name="isindex.attlist">
		<xs:attributeGroup ref="Core.attrib"/>
		<xs:attributeGroup ref="I18n.attrib"/>
		<xs:attribute name="prompt" type="Text"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:complexType name="isindex.type">
		<xs:attributeGroup ref="isindex.attlist"/>
	</xs:complexType>
	<!--

-->
	<xs:element name="isindex" type="isindex.type"/>
	<!--

-->
	<xs:annotation>
		<xs:documentation>
			Attribute redefinitions
		</xs:documentation>
	</xs:annotation>
	<!--
!!! Redefines
-->
    <!-- Mary 20120821 Added some redefinitions above that actually use these
         lame-ass definitions that nothing referenced.
     -->
	<xs:attributeGroup name="align.legacy.attlist">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="justify"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<!--

-->
	<!-- add 'target' attribute to 'a' element -->
	<xs:attributeGroup name="a.legacy.attlist">
		<xs:attribute name="target" type="FrameTarget"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="applet.legacy.attlist">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="hspace" type="Pixels"/>
		<xs:attribute name="vspace" type="Pixels"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="body.legacy.attlist">
		<xs:attribute name="background" type="URI"/>
		<xs:attribute name="bgcolor" type="Color"/>
		<xs:attribute name="text" type="Color"/>
		<xs:attribute name="link" type="Color"/>
		<xs:attribute name="vlinke" type="Color"/>
		<xs:attribute name="alink" type="Color"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="br.legacy.attlist">
		<xs:attribute name="clear" use="optional" default="none">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="all"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="none"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="caption.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--
    Mary 20120821 added a general heading.attlist because all headers
    are the same:
-->
 	<xs:attributeGroup name="heading.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="h1.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="h3.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="h4.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="h5.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="h6.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="hr.legacy.attlist">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="noshade" use="optional" default="none"/>
		<xs:attribute name="size" type="Pixels"/>
		<xs:attribute name="width" type="Length"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="img.legacy.attlist">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border" type="Pixels"/>
		<xs:attribute name="hspace" type="Length"/>
		<xs:attribute name="vspace" type="Length"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="input.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="legend.legacy.attlist">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="li.legacy.attlist">
		<xs:attribute name="type" type="Text"/>
		<xs:attribute name="value" type="Text"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="object.legacy.attlist">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="middle"/>
					<xs:enumeration value="bottom"/>
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border" type="Pixels"/>
		<xs:attribute name="hspace" type="Length"/>
		<xs:attribute name="vspace" type="Length"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="ol.legacy.attlist">
		<xs:attribute name="type" type="Text"/>
		<xs:attribute name="compact" use="optional" default="none"/>
		<xs:attribute name="start" type="Text"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="p.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="pre.legacy.attlist">
		<xs:attribute name="width" type="Length"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="script.legacy.attlist">
		<xs:attribute name="language" type="ContentType"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="table.legacy.attlist">
		<xs:attributeGroup ref="align.legacy.attlist"/>
		<xs:attribute name="bgcolor" type="Color"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="tr.legacy.attlist">
		<xs:attribute name="bgcolor" type="Color"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="th.legacy.attlist">
		<xs:attribute name="nowrap" use="optional" default="none"/>
		<xs:attribute name="bgcolor" type="Color"/>
		<xs:attribute name="width" type="Length"/>
		<xs:attribute name="height" type="Length"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="td.legacy.attlist">
		<xs:attribute name="nowrap" use="optional" default="none"/>
		<xs:attribute name="bgcolor" type="Color"/>
		<xs:attribute name="width" type="Length"/>
		<xs:attribute name="height" type="Length"/>
	</xs:attributeGroup>
	<!--

-->
	<xs:attributeGroup name="ul.legacy.attlist">
		<xs:attribute name="type" type="Text"/>
		<xs:attribute name="compact" use="optional" />
	</xs:attributeGroup>
	<!--

-->
</xs:schema>
