apidoc/schema/xlink-exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.0 NT beta 1 build Jun 13 2001 (http://www.xmlspy.com)-->
<xs:schema 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:xlink="http://www.w3.org/1999/xlink"
targetNamespace="http://www.w3.org/1999/xlink"
elementFormDefault="qualified">
<!--

-->
  <xs:element name="arc">
    <xs:complexType>
      <xs:sequence>
<!--

-->
        <xs:element ref="xlink:title" minOccurs="0" maxOccurs="unbounded"/>
<!--

-->
      </xs:sequence>
<!--

-->
      <xs:attribute name="type" fixed="arc">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="arc"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="arcrole" type="xs:string"/>
      <xs:attribute name="title" type="xs:string"/>
<!--

-->
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="from" type="xs:NMTOKEN"/>
      <xs:attribute name="to" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
<!--

-->
  <xs:element name="extended">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xlink:title"/>
        <xs:element ref="xlink:resource"/>
        <xs:element ref="xlink:locator"/>
        <xs:element ref="xlink:arc"/>
      </xs:choice>
      <!-- xs:attribute name="xmlns:xlink" type="xs:string" fixed="http://www.w3.org/1999/xlink"/ -->
<!--

-->
      <xs:attribute name="type" fixed="extended">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="extended"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="role" type="xs:string"/>
      <xs:attribute name="title" type="xs:string"/>
    </xs:complexType>
  </xs:element>
<!--

-->
  <xs:element name="locator">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="xlink:title" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
<!--

-->
      <xs:attribute name="type" fixed="locator">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="locator"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="href" type="xs:string" use="required"/>
      <xs:attribute name="role" type="xs:string"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="label" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
<!--

-->
  <xs:element name="resource">
    <xs:complexType>
      <xs:sequence>
        <xs:any/>
      </xs:sequence>
<!--

-->
      <xs:attribute name="type" fixed="resource">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="resource"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="role" type="xs:string"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="label" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
<!--

-->
  <xs:element name="simple">
    <xs:complexType>
      <xs:sequence>
        <xs:any/>
      </xs:sequence>
<!--

-->
      <xs:attribute name="type" fixed="simple">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="simple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="href" type="xs:string"/>
      <xs:attribute name="role" type="xs:string"/>
      <xs:attribute name="arcrole" type="xs:string"/>
      <xs:attribute name="title" type="xs:string"/>
<!--

-->
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
    </xs:complexType>
  </xs:element>
<!--

-->
  <xs:element name="title">
    <xs:complexType>
      <xs:sequence>
        <xs:any/>
      </xs:sequence>
<!--

-->
      <xs:attribute name="type" fixed="title">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="title"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
<!--

-->
	  <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>
<!--

-->
</xs:schema>
