schemas/Announcement.rnc

default namespace = "http://developer.marklogic.com/site/internal"

include common.rnc

element Announcement {
  attribute user-group { text }?,
  statusAttribute,

  element title        { text },
  element author       { mixedContent }*,
  element created      { xsd:dateTime },
  element last-updated { xsd:dateTime },
  element date         { xsd:date },
  element abstract     { mixedContent }?,
  element body { mixedContent }
}
