schemas/Comment.rnc

default namespace = "http://developer.marklogic.com/site/internal"

include common.rnc

element Comment {
  attribute status { "Pending" | "Approved" },
  attribute about { text },

  element author  { text },
  element created { xsd:dateTime },
  element url     { text },
  element body    { mixedContent }
}
